@charset "utf-8";
.invisible { position: absolute; left: -5000px; height: 0; line-height: 0; width: 0; font-size: 0; margin: 0; padding: 0; overflow: hidden }
.ellipsis { overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
::-webkit-input-placeholder { color: #888; }
:-moz-placeholder { color: #888; opacity: 1; }
::-moz-placeholder { color: #888; opacity: 1; }
:-ms-input-placeholder { color: #888; }

/* Start of "Micro clearfix" */
.clearfix { zoom: 1; }
.clearfix:before, .clearfix:after { content: ""; display: table; }
.clearfix:after { clear: both; }

/* End of "Micro clearfix" */

.nofloat{width: 100%; display: block; overflow:hidden; clear: both;background: #fff;}

/* display*/
.d-none {display: none !important}
.d-inline-block {display: inline-block !important}
.d-flex {display: -ms-flexbox !important; display: flex !important}

.align-items-center {
  -ms-flex-align: center !important;
  align-items: center !important;
}

/* motion */
.motion { -webkit-transition: all 0.1s ease-in-out; transition: all 0.1s ease-in-out; }

/* button */
button { cursor: pointer; background: none; text-align: center; }


/* skip navigation */
#skiptoContent { position: absolute; width: auto; top: 0; margin: 0 auto }
#skiptoContent dd { display: inline }
#skiptoContent a { display: inline-block; height: 0; overflow: hidden; text-align: center }
#skiptoContent a:hover, #skiptoContent a:focus, #skiptoContent a:active { position: relative; height: auto; z-index: 99999999; }

/* scroll bar css */

::-webkit-scrollbar {
  width: 10px;  /* 세로축 스크롤바 길이 */
  height: 10px;  /* 가로축 스크롤바 길이 */
}
::-webkit-scrollbar-track {

}
::-webkit-scrollbar-track-piece {

  background: #fff;

}
.gnbWrap .depth2 ul::-webkit-scrollbar-track-piece {

  background: #002159;

}
::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #dee4ea;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  border-bottom: 2px solid transparent;
  background-clip: content-box;

  -webkit-box-shadow: 0 0 1px 1px rgba(38,38,38,0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
  box-shadow: 0 0 1px 1px rgba(38,38,38,0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */

}
.gnbWrap .depth2 ul::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: #7A99D9;
  border-left: 2px solid transparent;
  border-right: 2px solid transparent;
  border-top: 2px solid transparent;
  border-bottom: 4px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-button {
  width:0;
  height: 0;
}
::-webkit-scrollbar-button:start {

}
::-webkit-scrollbar-button:end {

}
::-webkit-scrollbar-button:vertical:increment {
}
::-webkit-scrollbar-button:vertical:decrement {
}
::-webkit-scrollbar-corner {
  /*background-color: violet; !* 우측 하단의 코너 부분 *!*/
}
::-webkit-resizer {
  background-color: green;
}

input[type=search]::-webkit-search-cancel-button {
  -webkit-appearance: searchfield-cancel-button;
}

/* select */
select { outline: none; height: 25px; padding-left: 12px; border: 1px solid #e6e6e6; font-size: 12px; background: url(../images/common/r_select_arrow.png) no-repeat 94% 50% #fff; color: #353535; border-radius: 3px; line-height: 23px; width: 92px; }
input[type="text"], input[type="password"], input[type="tel"], input[type="number"], input[type="search"] { outline: none; height: 23px; padding: 0 10px; font-size: 12px; border: 1px solid #e6e6e6; border-radius: 3px; color: #353535; box-sizing: border-box; width: 187px; line-height: 19px; }
textarea { outline: none; padding: 20px; border: 1px solid #e6e6e6; font-size: 10px; }
select:focus, input[type="text"]:focus, input[type="password"]:focus, input[type="tel"]:focus, input[type="number"]:focus, textarea:focus { border: 1px solid #ccc; }
select.error, input.error, textarea:.error { border: 1px solid #fe7070; }
select:disabled, input:disabled { color: #676767; background-color: #f3f3f3; }
option { font-size: 12px; }

/* select box + label */
.slt_wrap{display: inline-block;font-size: 0;}
.slt_wrap label{font-size: 12px;color: #343434;line-height: 23px; display: inline-block;padding-right:10px;}
.trans_slt select{ background: url(../images/common/r_select_arrow.png) no-repeat 94% 50% transparent; border: 0;}

/* 리스트 + selectbox 영역 */
.namePlusSlt { display: inline-block; font-size: 0px; }
.namePlusSlt label { padding: 0 15px; background: #f3f3f3; border: 1px solid #e6e6e6; border-right: 0; border-radius: 3px 0 0 3px; box-sizing: border-box; }
.namePlusSlt select { border-radius: 0 3px 3px 0; width: 147px; }

/* 제목 + 내용 span */
.swapSpans { display: inline-block; margin-right: 20px; font-size: 0px; }
.swapSpans .tit { padding: 0 15px; height: 40px; display: inline-block; font-size: 14px; background: #c4f0f6; border: 1px solid #8ad7e7; color: #00b4ef; line-height: 38px; border-radius: 3px 0 0 3px; box-sizing: border-box; }
.swapSpans .text { height: 40px; line-height: 38px; font-size: 14px; border-radius: 0 3px 3px 0; padding: 0 22px; border: 1px solid #e6e6e6; display: inline-block; box-sizing: border-box; border-left: 0; }

/* btn */
.defaultBtn~.defaultBtn { }
.defaultBtn { height: 27px; line-height: 25px; background-color: #fff; color: #212121; font-size: 12px; font-family: 'NotoKrM'; display: inline-block; text-align: center; padding: 0 20px; border: 1px solid #e5e5e5; box-sizing: border-box; }
.defaultBtn.btn-50w { display: inline-block; overflow: hidden; width: 50px; height: 25px; margin: 0 5px; padding: 0 4px; line-height: 25px; background-color: #fff; color: #212121; font-size: 12px; font-family: 'NotoKrM'; text-align: center; border: 1px solid #e5e5e5; box-sizing: border-box; }
.defaultBtn.btn-70w { display: inline-block; overflow: hidden; width: 70px; height: 25px; margin: 0 5px; padding: 0 4px; line-height: 25px; background-color: #fff; color: #212121; font-size: 12px; font-family: 'NotoKrM'; text-align: center; border: 1px solid #e5e5e5; box-sizing: border-box; }
.defaultBtn.btn-100w { display: inline-block; overflow: hidden; width: 100px; height: 25px; margin: 0 5px; padding: 0 4px; line-height: 25px; background-color: #fff; color: #212121; font-size: 12px; font-family: 'NotoKrM'; text-align: center; border: 1px solid #e5e5e5; box-sizing: border-box; }
.defaultBtn.btn-120w { display: inline-block; overflow: hidden; width: 120px; height: 27px; margin: 0 5px; padding: 0 10px; line-height: 25px; background-color: #fff; color: #212121; font-size: 12px; font-family: 'NotoKrM'; text-align: center; border: 1px solid #e5e5e5; box-sizing: border-box; }


.yelllowGra { background: #ffc63a; border: 1px solid #ffc63a; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#FFC63A)";/*IE 8*/ -moz-box-shadow: 1px 1px 3px 3px rgba(255, 198, 58, 0.3);/*FF 3.5+*/ -webkit-box-shadow: 1px 1px 2px 2px rgba(255, 198, 58, 0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#FFC63A); 3-4,Chrome, iOS 4.0.2-4.2, Android 2.3+*/box-shadow: 1px 1px 2px 2px rgba(255, 198, 58, 0.3); /*IE 5.5-7*/ }
.blueGra { background: #2b89fa; border: 1px solid #2b89fa; color: #fff; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#2B89FA)";/*IE 8*/ -moz-box-shadow: 1px 1px 2px 2px rgba(43, 137, 250, 0.3);/*FF 3.5+*/ -webkit-box-shadow: 1px 1px 2px 2px rgba(43, 137, 250, 0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#2B89FA); box-shadow: 1px 1px 2px 2px rgba(43, 137, 250, 0.3); /*IE 5.5-7*/ }
.blackGra { background: #454545; border: 1px solid #454545; color: #fff; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#454545)";/*IE 8*/ -moz-box-shadow: 1px 1px 3px 3px rgba(69, 69, 69, 0.3);/*FF 3.5+*/ -webkit-box-shadow: 1px 1px 2px 2px rgba(69, 69, 69, 0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#454545); box-shadow: 1px 1px 2px 2px rgba(69, 69, 69, 0.3); /*IE 5.5-7*/ }
.redGra{ background: #9b1313; color: #fff; border: 1px solid #9b1313;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#454545)";/*IE 8*/ -moz-box-shadow: 1px 1px 3px 3px rgba(255,58,58,0.3);/*FF 3.5+*/ -webkit-box-shadow: 1px 1px 2px 2px rgba(255,58,58,0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#454545); box-shadow: 1px 1px 2px 2px rgba(255,58,58,0.3); /*IE 5.5-7*/
}
.orangeGra{ background: #e57304; border: 1px solid #e57304;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#454545)";/*IE 8*/ -moz-box-shadow: 1px 1px 3px 3px rgba(255,169,58,0.3);/*FF 3.5+*/ -webkit-box-shadow: 1px 1px 2px 2px rgba(255,169,58,0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#454545); box-shadow: 1px 1px 2px 2px rgba(255,169,58,0.3); color: #fff; /*IE 5.5-7*/
}
.greenGra{background: #4d8d1a; border:1px solid #4d8d1a; color:#fff;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#454545)";/*IE 8*/ -moz-box-shadow: 1px 1px 3px 3px rgba(67,147,75,0.3);/*FF 3.5+*/ -webkit-box-shadow: 1px 1px 2px 2px rgba(67,147,75,0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#454545); box-shadow: 1px 1px 2px 2px rgba(67,147,75,0.3); /*IE 5.5-7*/
}
.purpleGra{background: #73139b; border:1px solid #73139b; color:#fff;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#454545)";/*IE 8*/ -moz-box-shadow: 1px 1px 3px 3px rgba(145,27,206,0.3);/*FF 3.5+*/ -webkit-box-shadow: 1px 1px 2px 2px rgba(145,27,206,0.3);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#454545); box-shadow: 1px 1px 2px 2px rgba(145,27,206,0.3); /*IE 5.5-7*/
}

.grayPopGra { background: #999; border: 1px solid #999; color: #fff; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#2B89FA)";/*IE 8*/  width: 100px; height: 30px; font-size: 15px;}
.greenPopGra { background: #4d8d1a; border: 1px solid #4d8d1a; color: #fff; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#2B89FA)";/*IE 8*/ width: 100px; height: 30px; font-size: 15px;}

.miniBtn { height: 18px; padding: 0 10px; font-size: 12px; color: #000; background: #fcfcfc; line-height: 18px; font-family: 'NotoKrM'; display: inline-block; text-align: center; border: 1px solid #afafaf; border-radius: 2px; box-sizing: border-box; }

.smallBtn { height: 24px; padding: 0 20px; font-size: 12px; color: #000; background: #fcfcfc; line-height: 22px; font-family: 'NotoKrM'; display: inline-block; text-align: center; border: 1px solid #afafaf; border-radius: 2px; box-sizing: border-box; }

.blue { color: #fff !important; background: #59a8e4 !important; border: 1px solid #3371a0 !important; }
.black { color: #fff !important; background: #454545 !important; border: 1px solid #454545 !important; }
.sky { color: #0a2032 !important; background: #add6f6 !important; border: 1px solid #85b3d8 !important; }
.red{background: #9b1313 !important; color: #fff !important; border: 1px solid #9b1313 !important;}
.orange{background: #e57304 !important; border: 1px solid #e57304 !important; color:#fff !important;}
.green{background: #4d8d1a !important; border:1px solid #4d8d1a !important; color:#fff !important;}
.yellow{background: #ffc63a !important; border: 1px solid #ffc63a !important; color: #fff !important;}
.purple{background: #73139b !important; border:1px solid #73139b !important; color:#fff !important;}
.gray{background: #adb5b2 !important; border:1px solid #adb5b2 !important; color:#000 !important;}
.lightGray{background: #d9d9d9 !important; border:1px solid #d9d9d9 !important; color:#000 !important;}
.brown{background: #6f3c0b !important; border:1px solid #6f3c0b !important; color:#fff !important;}


.graBtn { height: 40px; padding: 0 20px 0 40px; color: #fff; font-size: 15px; line-height: 40px; position: relative; border-radius: 3px; background: -webkit-gradient(linear, 90deg, color-stop(5%, 43934B), color-stop(5%, 4EAB57));/* Chrome,Safari4+ */ background: -webkit-linear-gradient(90deg, #43934B 5%, #4EAB57 5%);/* Chrome10+,Safari5.1+ */ }
.add:before { content: ''; width: 14px; height: 14px; position: absolute; top: 13px; left: 18px; display: block; background: url(../images/common/bg_addBtn.png)no-repeat 0 0; }
.save:before { content: ''; width: 18px; height: 14px; position: absolute; top: 13px; left: 15px; display: block; background: url(../images/common/ico_saveBtn.png)no-repeat 0 0; }
.close:before { content: ''; width: 18px; height: 14px; position: absolute; top: 13px; left: 15px; display: block; background: url(../images/common/btn_tabmenu_close_off.png)no-repeat 0 0; }

.gradeBtn { width: 157px;background: #454545; border:1px solid #999; height: 54px; line-height: 52px; text-align: center; font-size: 23px; color: #f3f3f3; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=0, Color=#ECECEC)";/*IE 8*/ -moz-box-shadow: 0 0 2px 4px #eaeaea;/*FF 3.5+*/ -webkit-box-shadow: 0 0 2px 4px #eaeaea;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/ box-shadow: 0 0 2px 4px #eaeaea;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#eaeaea); /*IE 5.5-7*/ }
.gradeBtn~.gradeBtn { margin-left: 16px; }
.gradeBtn.green { border: 1px solid #6b8620; background: #95bd2e; }
.gradeBtn.blue { border: 1px solid #3a6a93; background: #5ca3e2; }
.gradeBtn.yellow { border: 1px solid #b99b30; background: #e5c150; }
.gradeBtn.red { border: 1px solid #c44938; background: #e4614f; }
.gradeBtn.white { border: 1px solid #999; background: #fff; color:#000; }
.gradeBtn.purple { border: 1px solid #76139f; background: #bd67e1 }

.gradeMidBtn { width: 107px;background: #454545; border:1px solid #999; height: 33px; line-height: 35px; text-align: center; font-size: 18px; color: #f3f3f3; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=0, Color=#ECECEC)";/*IE 8*/ -moz-box-shadow: 0 0 2px 4px #eaeaea;/*FF 3.5+*/ -webkit-box-shadow: 0 0 2px 4px #eaeaea;/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/ box-shadow: 0 0 2px 4px #eaeaea;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=2, Direction=135, Color=#eaeaea); /*IE 5.5-7*/ }
.gradeMidBtn~.gradeMidBtn { margin-left: 2px; }
.gradeMidBtn.green { border: 1px solid #6b8620; background: #95bd2e; }
.gradeMidBtn.blue { border: 1px solid #3a6a93; background: #5ca3e2; }
.gradeMidBtn.yellow { border: 1px solid #b99b30; background: #e5c150; }
.gradeMidBtn.red { border: 1px solid #c44938; background: #e4614f; }
.gradeMidBtn.white { border: 1px solid #999; background: #fff; color:#000; }
.gradeMidBtn.purple { border: 1px solid #76139f; background: #bd67e1 }

.graDbBtn { height: 40px; padding: 0 20px 0 20px; color: #fff; font-size: 20px; font-weight:bold; line-height: 40px; position: relative; border-radius: 3px; background: -webkit-gradient(linear, 90deg, color-stop(5%, 43934B), color-stop(5%, 4EAB57));/* Chrome,Safari4+ */ background: -webkit-linear-gradient(90deg, #43934B 5%, #4EAB57 5%);/* Chrome10+,Safari5.1+ */ }

.reservePopBtn { width: 110px; height: 40px; padding: 0 20px 0 20px; color: #fff; font-size: 20px; font-weight:bold; line-height: 40px; position: relative; border-radius: 3px; background: -webkit-gradient(linear, 90deg, color-stop(5%, 43934B), color-stop(5%, 4EAB57));/* Chrome,Safari4+ */ background: -webkit-linear-gradient(90deg, #43934B 5%, #4EAB57 5%);/* Chrome10+,Safari5.1+ */ }

.reserveDbDisableBtn { height: 40px; padding: 0 20px 0 20px; color: #383838; font-size: 20px; font-weight:bold; line-height: 40px; position: relative; border-radius: 3px; background: -webkit-gradient(linear, 90deg, color-stop(5%, 43934B), color-stop(5%, 4EAB57));/* Chrome,Safari4+ */ background: -webkit-linear-gradient(90deg, #d9eada 5%, #d9eada 5%);/* Chrome10+,Safari5.1+ */ }
.reserveDbEnableBtn { height: 40px; padding: 0 20px 0 20px; color: #383838; font-size: 20px; font-weight:bold; line-height: 40px; position: relative; border-radius: 3px; background: -webkit-gradient(linear, 90deg, color-stop(5%, 43934B), color-stop(5%, 4EAB57));/* Chrome,Safari4+ */ background: -webkit-linear-gradient(90deg, #a6ff72 5%, #a6ff72 5%);/* Chrome10+,Safari5.1+ */ }


.submit { width: 120px; height: 32px; font-size: 0; background: url(../images/common/btn_submit.png)no-repeat 0 0; }
.cancel { width: 110px; height: 32px; font-size: 0; background: url(../images/common/btn_cancel.png)no-repeat 0 0; }
.icon_btn { height: 28px; border: 1px solid #a3a3a3; font-size: 13px; font-family: 'NotoKrB'; position: relative; color: #010101; box-sizing: border-box; line-height: 26px; padding: 0 12px 0 27px; }

.defaultBtn.mct { background-color: #8cfef0; }
.defaultBtn.mct:disabled { background-color: #afabab; }
.camFinishBtn { background-color: #0070c0; color: #ffffff; }
.camPauseBtn { background-color: #fff2cc; }
.camCancelBtn { background-color: #b4c7e7; }

.icon_btn.search:before { content: ''; width: 9px; height: 12px; background: url(../images/common/ico_search.jpg)no-repeat 0 0; position: absolute; top: 8px; left: 12px; }
.icon_btn.search_eng:before { content: ''; width: 9px; height: 12px; background: url(../images/common/ico_search.jpg)no-repeat 0 0; position: absolute; top: 8px; left: 11px; }
.icon_btn.search.black:before { content: ''; width: 12px; height: 12px; background: url(../images/common/ico_search_whi.png)no-repeat 0 0; position: absolute; top: 8px; left: 12px; }
.icon_btn.search_eng.black:before { content: ''; width: 12px; height: 12px; background: url(../images/common/ico_search_whi.png)no-repeat 0 0; position: absolute; top: 8px; left: 11px; }
.icon_btn.print:before { content: ''; width: 14px; height: 14px; background: url(../images/common/ico_print.png)no-repeat 0 0; position: absolute; top: 6px; left: 8px; }
.icon_btn.clear:before { content: ''; width: 14px; height: 14px; background: url(../images/common/ico_clear.png)no-repeat 0 0; position: absolute; top: 6px; left: 8px; }
.icon_btn.excel:before { content: ''; width: 16px; height: 16px; background: url(../images/common/ico_exel.png)no-repeat 0 0; position: absolute; top: 5px; left: 6px; }
/* form */

/* check box */
.chk_box input[type=checkbox] { opacity: 0; -webkit-appearance: none }
.chk_box { display: inline-block; position: relative; vertical-align: middle; }
.chk_box label { display: inline-block; font-size: 12px; padding-left: 20px; color: #000; line-height: 25px; }
.chk_box input[type="checkbox"] { position: absolute; top: 2px; left: 0; }
.chk_box label:before { content: ''; position: absolute; top: 7px; left: 0; width: 12px; height: 12px; background: url(../images/common/ico_checkbox_off.png) no-repeat 0 0 }
.chk_box input[type="checkbox"]:checked + label::before { background: url(../images/common/ico_checkbox_on.png) no-repeat 0 0 }
.chk_box input:disabled + label:before { background: url(../images/ico_chk_di.png) no-repeat 0 0 }
.chk_box input:disabled:checked + label:before { background: url(../images/ico_chk_on_di.png) no-repeat 0 0 }
.chk_box.type label { width: 18px; height: 18px; padding-left: 0; font-size: 0 }
.chk_box~.chk_box{margin-left: 20px;}
/* radio box*/
.radio_box input[type=radio] { opacity: 0; -webkit-appearance: none }
.radio_box { display: inline-block; position: relative; vertical-align: middle; }
.radio_box label { display: inline-block; padding-left: 24px; font-size: 12px; cursor: pointer; line-height: 25px; color: #343434; }
.radio_box input[type="radio"] { position: absolute; top: 0px; left: 0; }
.radio_box label:before { content: ""; position: absolute; top: 5px; left: 0px; width: 16px; height: 16px; background: url(../images/common/ico_radio.png) no-repeat 0 0 }
.radio_box input[type="radio"]:checked + label::before { background: url(../images/common/ico_radio_on.png) no-repeat 0 0 }
.radio_box input[type="radio"]:disabled + label::before { background: url(../images/common/ico_radio_di.png) no-repeat 0 0 }
.radio_box input[type="radio"]:disabled:checked + label::before { background: url(../images/common/ico_radio_di.png) no-repeat 0 0 }
.radio_box input:disabled + label:before { background: url(../images/common/ico_radio_di.png) no-repeat 0 0 }
.radio_box input:disabled:checked + label:before { background: url(../images/common/ico_radio_di.png) no-repeat 0 0 }
.radio_box.type label { width: 16px; height: 16px; padding-left: 0; font-size: 0 }
.radio_box~.radio_box { margin-left: 20px; }

/* input */
.data_ipt { height: 20px; padding: 0 14px; background: url(../images/common/bg_dataIpt.jpg) repeat-x 0 0; border: 1px solid #555555; border-radius: 2px; font-size: 12px; color: #000; font-family: 'NotoKrB'; text-align: center; display: inline-block; }
.ipu_wrap{ display: inline-block; vertical-align: middle;}
.ipu_wrap label{font-size: 12px;color: #343434;line-height: 25px; display: inline-block;padding-right:10px;}


/* label */
.tableLabel { width: 65px; border-right: 1px solid #9b9b9b; line-height: 35px; color: #000; font-size: 12px; font-weight: bold; font-family: 'Verdana'; height: 35px; display: inline-block; text-align: center; }

/* ~ */
.nbsp { width: 20px; text-align: center; display: inline-block; font-size: 14px; line-height: 25px; vertical-align: middle; }

/* calendar */
.calendar_span{ display: inline-block; position: relative; vertical-align: middle; }
.calendar_span input{ background: #f3f3f3; color: #31393c; height: 26px; line-height: 24px; box-sizing:border-box; width: 152px }
.calendar_span input:disabled { color: lightgray; }
.calendar_span button { width: 42px; height: 24px; font-size: 0; background: #f3f3f3 url(../images/common/ico_calendar.png) no-repeat 50% 50%; border-left: 1px solid #e6e6e6; position: absolute; top: 1px; right: 1px; }

/* gubun */
.gubun{width:22px;height: 25px; background: url(../images/common/line_gubun.png)no-repeat 50% 50%; display: inline-block;vertical-align:middle;}

/* radius */
.radius{ border-radius: 3px }
/* table */
/* row */
table.rowStyle th, table.rowStyle td { padding: 12px 13px; font-size: 14px; }
table.rowStyle th { border: 1px solid #8ad7e7; background: #c4f0f6; color: #00b4ef; font-family: 'NotoKrM'; }
table.rowStyle td { border: 1px solid #cdcfd0; }

/* col */
table.colStyle { border: 1px solid #cecece; }
table.colStyle th, table.colStyle td { padding: 10px 5px; font-size: 13px; font-family: 'NotoKrR'; display: inline-block; box-sizing: border-box; width: 18%; text-align: center; }
table.colStyle th { background: #fbfbfb; border-bottom: 1px solid #f3f3f3; }

table.boardList thead tr{background-color: #f2f2f2; border-top: 1px solid #dfdfdf;}
table.boardList tr{border-left: 1px solid #dfdfdf;}
table.boardList tr th,table.boardList tr td{border-bottom: 1px solid #dfdfdf; border-right:1px solid #dfdfdf; padding: 2px 0; text-align: center; color:#000;}
table.boardList .bg1{background-color: #ddebf7;}
table.boardList .bg2{background-color: #e7e6e6;}
table.boardList .bg3{background-color: #f3f8fc;}
table.boardList .txtB{color: #2e75b6;}
table.boardList .txtR{color: #c00000;}
table.boardList .txtP{color: #7030a0;}

/* Text*/
.txt_span { font-size: 12px; color: #353535; vertical-align: middle; line-height: 25px; }
.bold{font-family: 'NotoKrB' !important;}

/* tab menu*/
.tabMenu{ padding-left: 14px;}
.tabMenu:after { content: ''; width: 0; height: 0; display: block; overflow: hidden; clear: both; }
.tabMenu li{float: left; position: relative;}
/*.tabMenu li a { font-size: 12px; font-family: 'NotoKrR'; color: #fff; display: block; background: url(../images/common/bg_tabmenu.png) repeat-x 0 0; border: 1px solid #00003f; border-left: 0; line-height: 26px; padding: 0 30px 0 15px; }*/
.tabMenu li a { font-size: 12px; font-family: 'NotoKrR'; color: #fff; display: block; background: url(../images/common/bg_tabmenu.png) repeat-x 0 0; border: 1px solid #00003f; border-left: 0; line-height: 35px; padding: 0 30px 0 15px; }
.tabMenu li .closeBtn { position: absolute; top: 11px; right: 5px; font-size: 0; width: 15px; height: 15px; background: url(../images/common/btn_tabmenu_close_off.png)no-repeat 0 0; }
.tabMenu li.on a{ background: #f6f6f9; color: #070707; border: 1px solid #b1b1b1; border-bottom: 1px solid #f6f6f9;}
.tabMenu li.on .closeBtn{background: url(../images/common/btn_tabmenu_close_on.png)no-repeat 0 0;}

.smallTabMenu{ padding-left: 14px; border-bottom: 1px solid #d4d4d4;}
.smallTabMenu:after { content: ''; width: 0; height: 0; display: block; overflow: hidden; clear: both; }
.smallTabMenu li{float: left; position: relative;bottom: -1px;}
.smallTabMenu li a { font-size: 12px; font-family: 'NotoKrM'; color: #535759; display: block; background: #fff; border-left: 0; line-height: 28px; padding: 0 15px; }
.smallTabMenu li.on a{ background: #fff; color: #618f26; border: 1px solid #d4d4d4; border-bottom: 1px solid #fff; font-family: 'NotoKrB';}


/* sort */
.left_sort{text-align: left;}
.right_sort{text-align: right;}
.center_sort{text-align: center;}

/* float */
.left_float{float: left;}
.right_float{float: right;}

/* padding */
.pd-left5{padding-left: 5px !important}
.pd-left10{padding-left: 10px !important}
.pd-left15{padding-left: 15px !important}
.pd-left20{padding-left: 20px !important}
.pd-left25{padding-left: 25px !important}
.pd-left30{padding-left: 30px !important}

.pd-right5{padding-right: 5px !important}
.pd-right10{padding-right: 10px !important}
.pd-right15{padding-right: 15px !important}
.pd-right20{padding-right: 20px !important}
.pd-right25{padding-right: 25px !important}
.pd-right30{padding-right: 30px !important}

.pd-top10{padding-top: 10px !important}
.pd-top15{padding-top: 15px !important}
.pd-top20{padding-top: 20px !important}
.pd-top25{padding-top: 25px !important}
.pd-top30{padding-top: 30px !important}

.pd-bottom10{padding-bottom: 10px !important}
.pd-bottom15{padding-bottom: 15px !important}
.pd-bottom20{padding-bottom: 20px !important}
.pd-bottom25{padding-bottom: 25px !important}
.pd-bottom30{padding-bottom: 30px !important}

/* margin */
.ml-auto{margin-left: auto !important}
.ml-5{margin-left: 5px !important}
.ml-10{margin-left: 10px !important}
.ml-15{margin-left: 15px !important}
.ml-20{margin-left: 20px !important}
.ml-25{margin-left: 25px !important}

.mr-auto{margin-right: auto !important}
.mr-5{margin-right: 5px !important}
.mr-8{margin-right: 8px !important}
.mr-10{margin-right: 10px !important}
.mr-15{margin-right: 15px !important}
.mr-20{margin-right: 20px !important}
.mr-30{margin-right: 30px !important}

.mt-10{margin-top: 10px !important}
.mt-15{margin-top: 15px !important}
.mt-20{margin-top: 20px !important}

.mb-10{margin-bottom: 10px !important}
.mb-15{margin-bottom: 15px !important}
.mb-20{margin-bottom: 20px !important}

/* width */
.wd_50{width:50px !important;}
.wd_60{width:60px !important;}
.wd_70{width:70px !important;}
.wd_100{width:100px !important; }
.wd_130{width:130px !important; }
.wd_150{width:150px !important; }
.wd_200{width:200px !important; }
.wd_230{width:230px !important; }
.wd_250{width:250px !important; }
.wd_300{width:300px !important; }
.wd_350{width:350px !important; }
.wd_400{width:400px !important; }
.wd_450{width:450px !important; }
.wd_500{width:500px !important; }
.wd_542{width:542px !important; }

/* height */
.hg_10{height:10px !important; font-size: 10px !important; line-height: 8px !important}
.hg_15{height:15px !important; font-size:10px !important; line-height: 13px !important}
.hg_20{height:20px !important; font-size:11px !important; line-height: 18px !important}
.hg_25{height:25px !important;line-height: 23px !important}
.hg_30{height:30px !important;line-height: 28px !important}
.hg_35{height:35px !important; font-size:13px !important; line-height: 33px !important}
.hg_40{height:40px !important;font-size:14px !important; line-height: 38px !important}
.hg_45{height:45px !important;font-size:15px !important;line-height: 43px !important}
.hg_50{height:50px !important;font-size:16px !important;line-height: 48px !important}
.hg_55{height:55px !important;font-size:17px !important;line-height: 53px !important}

/* popup */
.popup_container { z-index: 1050; position: fixed; top: 0; left: 0; width: 100%; height: 100%; }
.popup_container:before { content: 'modal_bg'; position: fixed; top: 0; left: 0; width: 100%; height: 100%; background: #000; opacity: .5; text-indent: -999em; font-size: 0; }
.layerPopup { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; background: #fff; width: 1012px; height: 800px; border: 1px solid #ababab; padding: 20px; box-sizing: border-box; }
.layerPopup hr { display:block; border: 1px solid #e0e2e6; margin: 7px; }
.layerPopup h3 { font-size: 20px; font-family: 'NotoKrB'; color: #000; display: inline-block; }
.layerPopup h5 { font-size: 16px; font-family: 'NotoKrB'; color: #000; margin-bottom: 7px; }
.layerPopup .pop_close { width: 23px; height: 23px; position: absolute; top: 12px; right: 12px; font-size: 0; background: url(../images/common/btn_popup.png)no-repeat 0 0; }
.layerPopup .buttonWrap { font-size: 0; display: inline-block; }
.layerPopup .buttonWrap button.popupBtn { border: 1px solid #808080; padding: 5px 10px; text-align: center; display: inline-block; font-size: 1.2rem; margin: 4px 2px; cursor: pointer; }
.layerPopup .buttonWrap .onoff { height: 35px; padding: 0 20px; border: 1px solid #b6b6b6; font-size: 13px; color: #8e8e8e; background: #f3f1f1; border-left: 0; border-right: 0; }
.layerPopup .buttonWrap .onoff.left { border-radius: 5px 0 0 5px; border-left: 1px solid #b6b6b6; }
.layerPopup .buttonWrap .onoff.right { border-radius: 0px 5px 5px 0px; border-right: 1px solid #b6b6b6; }
.layerPopup .buttonWrap .onoff.on { border: 1px solid #8a8a8a; background: #ebebeb; color: #000; }
.layerPopup table.tableL { width: 100%; border: 1px solid #808080; border-collapse: collapse; }
.layerPopup table.tableL td.header { background-color: #E8E8E8; }
.layerPopup table.tableL td.headerDisable { background-color: #BFBFBF; color: black; }
.layerPopup table.tableL td.headerSelectChange { background-color: #A9D3F5; color: black; }
.layerPopup table.tableL td.headerInputChange { background-color: #A9D3F5; color: #2777EF; }
.layerPopup table.tableL > tbody > tr > td { height: 30px; text-align: center; font-size: 12px; border: 1px solid #808080; }
/*.layerPopup table.tableL > tbody > tr > td > input, select { text-align: center; }
.layerPopup table.tableL > tbody > tr > td > textarea { resize: none; }
.layerPopup table.tableL > tbody > tr > td > input, textarea, select { width: 100%; height: 100%; border: 0; }
.layerPopup table.tableL > tbody > tr > td > input:focus, textarea:focus { outline: none; }*/

/* Text*/
.txt_span { font-size: 12px; color: #353535; vertical-align: middle; line-height: 25px; }

/* Label */
.label_8{width:8px !important; padding:0 10px !important; text-align: right; }
.label_30{width:30px !important; padding:0 10px !important; text-align: right; }
.label_50{width:50px !important; padding:0 10px !important; text-align: right; }
.label_65{width:65px !important; padding:0 10px !important; text-align: right; }
.label_80{width:80px !important; padding:0 10px !important; text-align: right; }
.label_100{width:100px !important; padding:0 10px !important; text-align: right; }
.label_150{width:150px !important; padding:0 10px !important; text-align: right; }
.label_200{width:200px !important; padding:0 10px !important; text-align: right; }
.label_250{width:250px !important; padding:0 10px !important; text-align: right; }
.label_300{width:300px !important; padding:0 10px !important; text-align: right; }
.label_350{width:350px !important; padding:0 10px !important; text-align: right; }
.label_400{width:400px !important; padding:0 10px !important; text-align: right; }
.label_450{width:450px !important; padding:0 10px !important; text-align: right; }
.label_500{width:500px !important; padding:0 10px !important; text-align: right; }
.label_50_p0{width:50px !important; text-align: right; }

/* background color*/
.bg-skyblue { background-color: #87ceeb; }
.bg-real-green { background-color: #98ff46; }
.bg-green { background-color: #ffd966; }
.bg-lightgray { background-color: #d3d3d3; }
.bg-yellow { background-color: #ffff00; }
.bg-real-yellow { background-color: #ffd966; }
.bg-lightyellow { background-color: #ffffe0; }
.bg-orange { background-color: #ffc000; }
.bg-lightcoral { background-color: #f08080; }
.bg-moccasin {background-color: #ffe4b5; }
.bg-white {background-color: #ffffff; }

.pq-grid-col, .pq-grid-row>.pq-grid-cell {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.pq-merge-cell div {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.pq-grid-norows {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  font-size: large !important;
}

/** etc file **/
.blueFileImageICon { display: inline-block; width: 17px;height: 17px; background: url(../images/common/file_icon_blue.png) no-repeat 0 0; background-size: 16px 16px}
/** png, pdf file **/
.redFileImageICon { display: inline-block; width: 17px;height: 17px; background: url(../images/common/file_icon_red.png) no-repeat 0 0;  background-size: 16px 16px}
/** nc file **/
.purpleFileImageICon { display: inline-block; width: 17px;height: 17px; background: url(../images/common/file_icon_purple.png) no-repeat 0 0;  background-size: 16px 16px}
/** cam file TEST **/
.greenFileImageICon { display: inline-block; width: 17px;height: 17px; background: url(../images/common/file_icon_green.png) no-repeat 0 0;  background-size: 16px 16px}
.desktopIcon { display: inline-block; width: 16px;height: 16px; background: url(../images/common/ico_desktop.png) no-repeat 0 0; background-size: 16px; }
.fileSearchIcon { display: inline-block; width: 17px; height: 17px; background: url(../images/common/file_search.png) no-repeat; background-size: contain; }
.shareIcon { display: inline-block; width: 17px;height: 17px; background: url(../images/common/share.png) no-repeat; background-size: 17px; }
.circleMinusIcon { display: inline-block; width: 16px;height: 16px; background: url(../images/common/minuscirclelinear.png) no-repeat; background-size: 16px; }
.floppyDiskAble { display: inline-block; width: 17px;height: 17px; background: url(../images/common/floppy_disk_able.png) no-repeat; background-size: 17px; }
.floppyDiskDisable { display: inline-block; width: 17px;height: 17px; background: url(../images/common/floppy_disk_disalbe.png) no-repeat; background-size: 17px; }

.blink {
  -webkit-animation: blink 1s linear 1s infinite normal;
  animation: blink 1s linear 1s infinite normal;
}

@-webkit-keyframes blink {
  0% { color: black; }
  100% { color: red; }
}

@keyframes blink {
  0% { color: black; }
  100% { color: red; }
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* color */
.text-blue { color: blue; }
.text-red { color: red; }


.blink-blue {
  -webkit-animation: blink-blue 2s linear 2s infinite normal;
  animation: blink-blue 2s linear 2s infinite normal;
}

@-webkit-keyframes blink-blue {
  0% { color: rgb(255, 255, 255); }
  100% { color: blue; }
}

@keyframes blink-blue {
  0% { color: #ffffff; }
  100% { color: blue; }
}
.mb05 {
  margin-bottom: 5px;
}
.mt10 {
  margin-top: 10px;
}
/* Vertical Bar Graph */
.vGraph{ padding:20px 0;margin: 0 auto;width: auto;height: 172px;}
.vGraph ul{ margin:5px; padding:0; height:180px; border:1px solid #ddd; border-top:0; border-right:0; font-size:11px; font-family:Tahoma, Geneva, sans-serif; list-style:none;text-align: center;float: left;width: 98%;white-space: nowrap;overflow: auto;}
.vGraph ul:after{ content:""; display:block; clear:both;}
/*.vGraph li{ display:inline-block; width:12%; height:121px; margin:2% 3% 0 4%; position:relative; text-align:center; white-space:nowrap; border: 1px solid #6c6262}*/
.vGraph li{ display:inline-block; width:55px; height:150px; margin:0px 25px 0px 20px; position:relative; text-align:center; white-space:nowrap; vertical-align: middle;}
.vGraph .gTerm{ position:relative; display:inline-block; width:100%;height: 8%;line-height: 16px; margin:0 -100% -16% 0; padding:196% 0 0 0; vertical-align:bottom; color:#000000; font-weight:bold; font-size: 15px;}
.vGraph .gBar{ position:relative; display:inline-block; width:100%; border-bottom:0; background:#335cad; vertical-align:bottom;}
.vGraph .gBar .down75{ position:absolute; width:100%; top:-35px; left:0; color:#000000;font-size: 18px; font-weight: bold;}
.vGraph .gBar .over75{ position:absolute; width:100%; top:35px; left:0; color:#FFFFFF;font-size: 18px; font-weight: bold;}

.faq_detail{display:none; height: 150px;}
.faq_detail.active{display:table-row;}

.board_fontCol{color: #666666 !important;}
.board_bottomL{border-bottom: 2px outset #d3cbcb;}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  z-index: 2;
  cursor: default;
  background-color: #eeeeee;
  border-color: #ddd;
}

.font_size_14{font-size: 14px;}
textarea#editor1 img { max-width: 100%; height: auto; }

.nonYscroll {
  overflow-y: hidden;
}
.file_span {
  border: 1px solid #bab8b8;
  border-radius: 10px;
  padding: 5px 4px;
  margin: 1px;
  display: inline-block;
  text-align: center;
  box-shadow: 1px 1px #999999;
}

 #mct_plan_detail_pop_grid .pq-cell-editor {width: 55px !important;}

.outgoingTable {
  font-size: 14px;
  font-family: 'NotoKrM';
}
.table-box-wrap .table-box {position: relative;width: auto; height: 350px; overflow-y: scroll;}
.table-box-wrap .table-box table {width: 100%; border-collapse: collapse; text-align: center;}
.table-box-wrap {
  border: 1px solid #acb9b9;
}
.table-box-wrap .table-box table thead tr th {
  border: 1px solid #acb9b9;
  font-weight: normal;
  background:#e8f0f0;
  color:#162f2f;
  position: sticky;
  top: 0;
  padding: 10px 12px;
  text-align: center;
  border-top: 0;
}
.table-box-wrap .table-box table tbody tr td{padding: 8px 8px; box-sizing: border-box; border: 1px solid #ddd; word-break: break-all;}

.select_graph {background: #fc2111 !important;}