/* 조회 조건과 탭 일치 */
.topWrap {
    margin-bottom: 5px;
}

.onegrid .topWrap .gubunWrap { width: 95.5%; border-right: 1px solid #e5e5e5; margin: 17px; height: 36px; overflow: hidden; }
.onegrid .topWrap .gubunWrap ul { font-size: 0; }
.onegrid .topWrap .gubunWrap ul li { width: 23%; display: inline-block; padding-bottom: 11px; padding-right: 2%; }
.onegrid .topWrap .gubunWrap ul li:nth-child(4n) { padding-right: 0; }
.onegrid .topWrap .gubunWrap ul li:nth-child(4n+1) { padding-left: 0.5%; }
.onegrid .topWrap .gubunWrap ul li label { width: 25%; font-size: 14px; color: #353535; display: inline-block; }
.onegrid .topWrap .gubunWrap ul li select { width: 75%; height: 36px; }
.onegrid .topWrap .gubunWrap ul li input { width: 75%; }

/*조회 조건*/
.onegrid .topWrap .hWrap .ipu_wrap { display: inline-block; }
.onegrid .topWrap .hWrap .ipu_wrap label { display: inline-block; font-size: 14px; color: #000; padding: 0 15px 0 25px; }
.onegrid .topWrap .hWrap { border-bottom: 1px solid #e2e2e2; font-size: 0; position: relative; padding: 10px 20px; }
.onegrid .topWrap .hWrap .buttonWrap { display: inline-block; }
.onegrid .topWrap .hWrap .chk_box { font-size: 13px; color: #3f506e; margin-left: 15px; }
.onegrid .topWrap .hWrap .rightSpan { float: right; display: inline-block; }
.onegrid .topWrap .hWrap button.search_btn { width: 69px; height: 34px; background: url(../images/common/bg_search.jpg)repeat-x 0 0; border: 1px solid #a3a3a3; font-size: 13px; font-family: 'NotoKrB'; position: relative; color: #010101; padding-left: 13px; float: right; margin-right: 1.45%; }
.onegrid .topWrap .hWrap button.search_btn:before { content: ''; width: 9px; height: 12px; background: url(../images/common/ico_search.jpg)no-repeat 0 0; position: absolute; top: 10px; left: 12px; }

.onegrid .bottomWrap .hWrap { border-bottom: 1px solid #e2e2e2; font-size: 0; position: relative; padding: 10px 20px; }
.onegrid .bottomWrap .hWrap .buttonWrap { display: inline-block; }
.onegrid .bottomWrap .hWrap .chk_box { font-size: 13px; color: #3f506e; margin-left: 15px; }
.onegrid .bottomWrap .hWrap .rightSpan { float: right; display: inline-block; }
.onegrid .bottomWrap .tableWrap { margin: 5px 20px; position: relative; }
.onegrid .bottomWrap .tableWrap .buttonWrap { padding: 5px 0; display: block; }
.onegrid .bottomWrap .tableWrap .conWrap { height: 800px; width: 100%; }
.onegrid .bottomWrap .tableWrap .conWrap img { width: 100%; height: 100%; }

/* Single Grid */
.onegrid .bottomWrap .tableNotSearchOneGridWrap { margin: 5px 20px; position: relative; }
.onegrid .bottomWrap .tableNotSearchOneGridWrap .buttonWrap { padding: 5px 0; display: block; }
.onegrid .bottomWrap .tableNotSearchOneGridWrap .conWrap { height: 870px; width: 100%; }
.onegrid .bottomWrap .tableNotSearchOneGridWrap .conWrap img { width: 100%; height: 100%; }

/*# Master & Detail Grid */
.onegrid .bottomWrap .tableTopWrap { margin: 5px 20px; position: relative; }
.onegrid .bottomWrap .tableTopWrap .buttonWrap { padding: 5px 0; display: block; }
.onegrid .bottomWrap .tableTopWrap .conWrap { height: 500px; width: 100%; }
.onegrid .bottomWrap .tableTopWrap .conWrap img { width: 100%; height: 100%; }

.onegrid .bottomWrap .tableBottomWrap { margin: 5px 20px; position: relative; }
.onegrid .bottomWrap .tableBottomWrap .buttonWrap { padding: 5px 0; display: block; }
.onegrid .bottomWrap .tableBottomWrap .conWrap { height: 300px; width: 100%; }
.onegrid .bottomWrap .tableBottomWrap .conWrap img { width: 100%; height: 100%; }
.onegrid .bottomWrap .tableOneSearchBottomWrap { margin: 5px 20px; position: relative; }
.onegrid .bottomWrap .tableOneSearchBottomWrap .buttonWrap { padding: 5px 0; display: block; }
.onegrid .bottomWrap .tableOneSearchBottomWrap .conWrap { height: 250px; width: 100%; }
.onegrid .bottomWrap .tableOneSearchBottomWrap .conWrap img { width: 100%; height: 100%; }

/*# Master & Detail vertical Grid */
.onegrid .bottomWrap .left-30Warp { float: left; width: 472px; height: 100%; }
.onegrid .bottomWrap .right-70Warp { float: right; margin-left: 10px; width: calc(100% - 482px); height: 100%; }

/*# Master & Detail vertical Grid */
.onegrid .bottomWrap .left-40Warp { float: left; width: calc(100% - 1020px); height: 100%; }
.onegrid .bottomWrap .right-60Warp { float: right; margin-left: 10px; width: 1010px; height: 100%; }

/* control business status three grid */
.onegrid .bottomWrap .tableNotSearchOneGridWrap .conWrap h2 { font-size: 1.5em; padding: 5px;}
.onegrid .bottomWrap .tableNotSearchOneGridWrap .conWrap .left-Warp { width: 500px; height: 150px; }
/*.onegrid .bottomWrap .tableNotSearchOneGridWrap .conWrap .center-Warp { width: 333.3px; height: 150px; }*/
.onegrid .bottomWrap .tableNotSearchOneGridWrap .conWrap .right-Warp { width: 500px; height: 150px }

.form-group1 .group-item { display: inline-block; width: 24.5%; padding: 0.5vh 0.5vw; }
.form-group1 .group-item-option { display: inline-block; width: 5%; padding: 0.5vh 0.5vw; }
.form-group1 .group-item > label { width: 20%; font-size: 1.4rem; margin-right: 0.5vw; }
.form-group1 .group-item-option > label { width: 20%; font-size: 1.4rem; margin-right: 0.5vw; }
.form-group1 .group-item > select { width: 75%; }
.form-group1 .group-item > .two { width: calc(75% / 2); }
.form-group1 .group-item > input { width: 75%; }
.form-group1 .chk_box_area { display: inline-block; }
.form-group1 .chk_box_area > input[type="checkbox"] + label { font-size: 1.4rem; margin-left: 0.2vw; margin-right: 0.5vw; }
.form-group1 .search_btn { width: 69px; height: 34px; background: url(../images/common/bg_search.jpg)repeat-x 0 0; border: 1px solid #a3a3a3; font-size: 13px; font-family: 'NotoKrB'; position: relative; color: #010101; padding-left: 13px; float: right; margin-right: 1.45%; }
.form-group1 .search_btn:before { content: ''; width: 9px; height: 12px; background: url(../images/common/ico_search.jpg)no-repeat 0 0; position: absolute; top: 10px; left: 12px; }
/*.form-group1 > div.group-item > input.col-2 { width: 75%; }*/

.d-inline { display: inline; }
.d-inline button{ margin: 0 1px; }
.d-inline select{ margin: 0 1px; }
.d-inline input{ margin: 0 1px; }
.d-table { display: table; width: 100%; }
.d-table-cell { display: table-cell; vertical-align: middle; text-align: center; }

.layerPopup .list99 { height: 375px; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#000000)"; }
.layerPopup .list99 .rowStyle tr th { border: 1px solid #acb9b9; background: #e8f0f0; color: #162f2f; text-align: center; padding: 5px; }
.layerPopup .list99 .rowStyle tr td { border: 1px solid #cecece; color: #444; padding: 5px; text-align: center; font-family: 'NotoKrR'; }
.layerPopup .list99 .rowStyle tr td.red { color: #e71b1b; }

.layerPopup .list98 { height: 200px; }
.layerPopup .list98 .conWrapPop{ float: left; width: 19.0%; padding-right: 1%; height: 100%; }
.layerPopup .list98_330 { height: 330px; }
.layerPopup .list98_330 .conWrapPop{ float: left; width: 19.0%; padding-right: 1.25%; height: 100%; }
.layerPopup .list98_250 { height: 250px; }
.layerPopup .list98_280 { height: 280px; }

.resultWrap99 { -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#000000)"; }
.resultWrap99 .leftWrap { height: 150px; width: 40%; float: left; }
.resultWrap99 .rightWrap { height: 150px; width: 58%; float: right; }


.smallTabMenuTabs{ padding-left: 14px; border-bottom: 1px solid #d4d4d4;}
.smallTabMenuTabs:after { content: ''; width: 0; height: 0; display: block; overflow: hidden; clear: both; }
.smallTabMenuTabs li{float: left; position: relative;bottom: -1px;}
.smallTabMenuTabs li a { font-size: 12px; font-family: 'NotoKrM'; color: #535759; display: block; background: #e6e6e6; border-left: 0; line-height: 14px; padding: 0 15px; }
.smallTabMenuTabs li.active a{  background: #fff; color: #535759; border: 1px solid #d4d4d4; border-bottom: 1px solid #fff; font-family: 'NotoKrB';}
.smallTabMenuTabs a { outline: none;}

/*.ui-widget-header{background: none;border: 0px;}*/
.ui-widget-header{background: none;}
.ui-tabs .ui-tabs-panel{padding : 0em 0em;}

.machineWrap .bottomWrap .hWrap2 { border-bottom: 0px solid #e2e2e2; font-size: 0; position: relative; padding: 10px; }
.machineWrap .bottomWrap .hWrap2 .buttonWrap { display: inline-block; }
.machineWrap .bottomWrap .hWrap2 .chk_box { }
.machineWrap .bottomWrap .hWrap2 .rightSpan { float: right; display: inline-block; }

.jmestabs .pq-grid-header-table {border-bottom: 1px solid #aaaaaa;}
.jmestabs .ui-widget-header{background: none;border: 0px;}
.jmestabs{border: 0px}

/*  소재 주문 등록 */
.estimate .left_60Wrap { float: left; width: 64.5%; padding-right: 1%; height: 100%; }
.estimate .left_60Wrap .tableWrap { background: #fff; border: 1px solid #e2e2e2; border-radius: 3px; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#000000)";/*IE 8*/ -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*FF 3.5+*/ -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/ box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color=#000000); /*IE 5.5-7*/ }
.estimate .left_60Wrap .tableWrap .hWrap { border-bottom: 1px solid #e2e2e2; font-size: 0; position: relative; }
.estimate .left_60Wrap .tableWrap .hWrap *{vertical-align: middle;}
.estimate .left_60Wrap .tableWrap .hWrap h2 { height: 50px; line-height: 48px; padding-left: 20px; font-size: 16px; font-family: 'NotoKrB'; color: #000; display: inline-block; }
.estimate .left_60Wrap .tableWrap .hWrap .chk_box { }
.estimate .left_60Wrap .tableWrap .hWrap .slt_wrap { display: inline-block; }
.estimate .left_60Wrap .tableWrap .hWrap .slt_wrap select { }
.estimate .left_60Wrap .tableWrap .hWrap .ipu_wrap { display: inline-block; }
.estimate .left_60Wrap .tableWrap .hWrap .ipu_wrap label { }
.estimate .left_60Wrap .conMainWrap { padding: 0px; box-sizing: border-box; height: 712px; }
.estimate .right_30Wrap { float: right; width: 32.5%; padding-right: 1%; height: 100%; }
.estimate .right_30Wrap .tableWrap { background: #fff; border: 1px solid #e2e2e2; border-radius: 3px; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#000000)";/*IE 8*/ -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*FF 3.5+*/ -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/ box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color=#000000); /*IE 5.5-7*/ }
.estimate .right_30Wrap .tableWrap .hWrap { border-bottom: 1px solid #e2e2e2; font-size: 0; position: relative; }
.estimate .right_30Wrap .tableWrap .hWrap *{vertical-align: middle;}
.estimate .right_30Wrap .tableWrap .hWrap h2 { height: 50px; line-height: 48px; padding-left: 20px; font-size: 16px; font-family: 'NotoKrB'; color: #000; display: inline-block; }
.estimate .right_30Wrap .tableWrap .hWrap .chk_box { }
.estimate .right_30Wrap .tableWrap .hWrap .slt_wrap { display: inline-block; }
.estimate .right_30Wrap .tableWrap .hWrap .slt_wrap select { }
.estimate .right_30Wrap .tableWrap .hWrap .ipu_wrap { display: inline-block; }
.estimate .right_30Wrap .tableWrap .hWrap .ipu_wrap label { }
.estimate .right_30Wrap .conMainWrap { padding: 0px; box-sizing: border-box; height: 712px; }


/*  소재 주문 이력 */
.estimate .left_30Wrap { float: left; width: 27%; padding-right: 1%; height: 100%; }
.estimate .left_30Wrap .tableWrap { background: #fff; border: 1px solid #e2e2e2; border-radius: 3px; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#000000)";/*IE 8*/ -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*FF 3.5+*/ -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/ box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color=#000000); /*IE 5.5-7*/ }
.estimate .left_30Wrap .tableWrap .hWrap { border-bottom: 1px solid #e2e2e2; font-size: 0; position: relative; }
.estimate .left_30Wrap .tableWrap .hWrap *{vertical-align: middle;}
.estimate .left_30Wrap .tableWrap .hWrap h2 { height: 50px; line-height: 48px; padding-left: 20px; font-size: 16px; font-family: 'NotoKrB'; color: #000; display: inline-block; }
.estimate .left_30Wrap .tableWrap .hWrap .chk_box { }
.estimate .left_30Wrap .tableWrap .hWrap .slt_wrap { display: inline-block; }
.estimate .left_30Wrap .tableWrap .hWrap .slt_wrap select { }
.estimate .left_30Wrap .tableWrap .hWrap .ipu_wrap { display: inline-block; }
.estimate .left_30Wrap .tableWrap .hWrap .ipu_wrap label { }
.estimate .left_30Wrap .conMainWrap { padding: 0px; box-sizing: border-box; height: 712px; }
.estimate .right_60Wrap { float: right; width: 71%; height: 100%; }
.estimate .right_60Wrap .tableWrap { background: #fff; border: 1px solid #e2e2e2; border-radius: 3px; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#000000)";/*IE 8*/ -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*FF 3.5+*/ -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/ box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color=#000000); /*IE 5.5-7*/ }
.estimate .right_60Wrap .tableWrap .hWrap { border-bottom: 1px solid #e2e2e2; font-size: 0; position: relative; }
.estimate .right_60Wrap .tableWrap .hWrap *{vertical-align: middle;}
.estimate .right_60Wrap .tableWrap .hWrap h2 { height: 50px; line-height: 48px; padding-left: 20px; font-size: 16px; font-family: 'NotoKrB'; color: #000; display: inline-block; }
.estimate .right_60Wrap .tableWrap .hWrap .chk_box { }
.estimate .right_60Wrap .tableWrap .hWrap .slt_wrap { display: inline-block; }
.estimate .right_60Wrap .tableWrap .hWrap .slt_wrap select { }
.estimate .right_60Wrap .tableWrap .hWrap .ipu_wrap { display: inline-block; }
.estimate .right_60Wrap .tableWrap .hWrap .ipu_wrap label { }
.estimate .right_60Wrap .conMainWrap { padding: 0px; box-sizing: border-box; height: 712px; }

.layerPopup .btn_plus{ width: 28px; height: 29px; font-size: 0; background: url(../images/common/btn_plus.png)no-repeat 0 0;}
.layerPopup .btn_minus{width: 28px; height: 29px; font-size: 0; background: url(../images/common/btn_minus.png)no-repeat 0 0;}

.wd_180{width:180px !important; }
.wd_760{width:760px !important; }

.consumablePop  {height: 420px; }
.consumable_container .layerPopup .list1 {
    -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#000000)";/*IE 8*/
    -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0);/*FF 3.5+*/
    -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
    box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
    filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color=#000000);
}

.right_sort_pop{text-align: right; padding: 0px 0 7px;}


.cadDrawing .modal-header h2{ font-size: 1.5em; }
.cadDrawing .modal-body { position: relative;  padding: 15px 15px 25px 15px;}
.cadDrawing .modal-body h4{ font-size: 1.5em; }
.cadDrawing .modal-body .buttonWrap { height: 35px; padding: 0 0px; font-size: 13px; display: block; }
.cadDrawing .modal-body .fileTableWrap{ padding: 5px 0px 5px 0px;}
.cadDrawing .modal-body .fileTableInfoWrap{padding: 0px 0px 5px 0px; font-size: 0.8em;}
.cadDrawing .modal-body .fileTableInfoWrap .errorInfo{ color : #c00000; font-weight: bold; padding: 0px 0px 0px 10px; }
.cadDrawing .modal-body table.colStyle { border: 1px solid #cecece; }
.cadDrawing .modal-body table.colStyle tbody { height: 200px; display: inline-block; overflow: auto; }
.cadDrawing .modal-body table.colStyle th,
.cadDrawing .modal-body table.colStyle td {padding: 10px 5px; font-size: 13px; font-family: 'NotoKrR'; display: inline-block; box-sizing: border-box; text-align: center; }
.cadDrawing .modal-body table.colStyle th.fileName { width: 556px; text-align: center; }
.cadDrawing .modal-body table.colStyle th.etcInfo { width: 150px; text-align: center; }
.cadDrawing .modal-body table.colStyle td.fileName{ width: 556px; text-align: left; }
.cadDrawing .modal-body table.colStyle td.etcInfo { width: 150px; text-align: right; }
.cadDrawing .modal-body table.colStyle td.spanArea { width: 856px; text-align: center; }
.cadDrawing .modal-body table.colStyle th { background: #fbfbfb; border-bottom: 1px solid #f3f3f3; }

.estimate .popup #estimateAttachDragAndDrop th.fileName { width: 472px; text-align: center; }
.estimate .popup #estimateAttachDragAndDrop th.etcInfo { width: 154px; text-align: center; }
.estimate .popup #estimateAttachDragAndDrop td.fileName{ width: 472px; text-align: left; }
.estimate .popup #estimateAttachDragAndDrop td.etcInfo { width: 154px; text-align: right; }
.estimate .popup #estimateAttachDragAndDrop th { background: #fbfbfb; border-bottom: 1px solid #f3f3f3; }

.page {width: 100%;min-height: 100%; padding: 0;margin: 0 auto;}
.page .print table { width: 100%; max-width: 820px; height: 40px; border: 1px solid #000000; font-size: 1.1em; }
.page .print table td {background-color: #ffffff; }
.page .print table td.first {border-right: 1px solid #000000; border-bottom: 1px solid #000000;}
.page .print table td.first_col_end {border-bottom: 1px solid #000000;}
.page .print table td.span_first {border-right: 1px solid #000000;}
.page .print table td.last {border-right: 1px solid #000000;}
.page .print table td.last_col_end {border-right: none;}
.page .print table td .barcode{width:100%; height:100%; padding: 4px 0px;}
.page .print table td.last {border-right: 1px solid #000000;}
.page .center_sort{text-align: center;}
.page .page-break{ display: block; page-break-before: always; }
.page img { max-width:820px; max-height:1000px; width: auto; height: auto; }

.wd_270_barcode {width:270px !important;}
.wd_240_barcode {width:240px !important;}


.inspection .layerPopup .m_area .numWrap { width: 235px;}
.inspection .layerPopup .m_area .numWrap span i { width: 140px; }
.inspection table.colStyle th, table.colStyle td { display: table-cell; }
.inspection .layerPopup .list4 { height: 90px; background: #e1e1e1; }
.inspectionBWrap .barCode { margin-left:20px;margin-right:10px }
.estimate .inspectionBWrap .hWrap {font-size: 12px;}

.g_item_detail_pop .layerPopup .listdiv { height: 160px; width: 100%;}
.g_item_detail_pop .layerPopup .listdiv .conWrapPop60{ float: left; width: 59.0%; padding-right: 1%; height: 100%; }
.g_item_detail_pop .layerPopup .listdiv .conWrapPopLeft{ float: left; width: 52.5%; padding-right: 1%; height: 100%; }
.g_item_detail_pop .layerPopup .listdiv .conWrapPopRight{ float: left; width: 46.5%; height: 100%; }
.g_item_detail_pop .layerPopup .listdiv .conWrapPop40{ float: left; width: 40.0%; /*padding-right: 1%;*/ height: 100%; }
.g_item_detail_pop .layerPopup .listdiv .rightName{ float: right; margin-top: 14px;display: inline-block; }
.g_item_detail_pop .layerPopup .right{ float: right; display: inline-block; }
.g_item_detail_pop .layerPopup{height: 930px;width: 1450px;}
.g_item_detail_pop .layerPopup h4 {display: inline-block;font-size: 14px; font-family: 'NotoKrB'; color: #000; margin: 15px 0 5px; }
.g_item_detail_pop .layerPopup .worker {display: inline-block; line-height:23px; font-size: 13px; background-color: #73139b;color: #fff; padding-left: 10px; padding-right: 5px; text-align: center; }
.g_item_detail_pop .layerPopup .work_info {display: inline-block;font-size: 14px; font-family: 'NotoKrB'; color: #000; }
.g_item_detail_pop .namePlusSlt label { padding: 0 5px; background: #f3f3f3; border: 1px solid #e6e6e6; border-right: 0; border-radius: 3px 0 0 3px; box-sizing: border-box; }
.g_item_detail_pop span.mark { padding: 0 5px; margin-left: 5px; border: 1px solid black; border-radius: 3px; background-color: moccasin; font-size: 1.2rem; text-align: center; vertical-align: middle; }

#g_item_detail_pop table.rowStyle th, #g_item_detail_pop table.rowStyle td {font-size: 14px;height: 25px;}
.g_item_detail_pop_cam_pop .layerPopup{height: 490px;}

.wd_405_left_10 {   width: 405px !important; margin-left: 10px;}
.wd_345_left_10 {   width: 345px !important; margin-left: 10px;}
.wd_555_left_10 {   width: 555px !important; margin-left: 10px;}
.wd_370_left_10 {   width: 370px !important; margin-left: 10px;}
.inspection .layerPopup .t_area table select { border: 1px solid transparent; width: 100%; border-radius: 0; vertical-align: top; }
.inspection .layerPopup .t_area .t_h span { width: 174px;}

/* money receive form */
.moneygrid .bottomWrap .tableNotSearchOneGridWrap { margin: 0px 0px; position: relative; }
.moneygrid .bottomWrap .tableNotSearchOneGridWrap .conWrap { height: 785px; width: 100%; }
/*# Master & Detail vertical Grid */
.moneygrid .bottomWrap .left-30Warp { float: left; width: 472px; height: 100%; }
.moneygrid .bottomWrap .right-70Warp { float: right; margin-left: 10px; width: calc(100% - 482px); height: 100%; }


/* System Mail Template */
table.templateStyle th, table.templateStyle td { padding: 12px 13px; font-size: 14px; }
table.templateStyle th { border: 1px solid #8ad7e7; background: #337ab7; color: white; font-family: 'NotoKrM'; }
table.templateStyle td { border: 1px solid #cdcfd0; width: 100% !important;}
table.templateStyle td input { width: 100% !important;}

.layerPopup .btn_allPlus{ width: 60px; height: 30px; line-height: 25px; background: #880000; color: #fff; border-radius: 5px; border: 1px solid #b10000; box-sizing: border-box; font-size: 14px; float: right;-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000)";} /*IE 8*/

/* In Warehouse Manage Popup*/
#in_warehouse_manage_out_popup p { text-align: center; font-size: 48px; color: #616161; }
#in_warehouse_manage_out_popup input { width: 100%; text-align: center; outline: none; border: none; font-size: 16px;}
#in_warehouse_manage_out_popup input:focus{ outline: none; border: none !important; }
#in_warehouse_manage_out_popup select { width: 100%; text-align: center; outline: none; border: none; font-size: 16px;}
#in_warehouse_manage_out_popup .popBtnWrap { text-align: center; padding: 10px;}
#in_warehouse_manage_out_popup .btnSave { width: 170px; height: 50px; font-size: 30px; text-align: center; border: 1px solid #9D9D9D; padding: 5px; background: #4d8d1a; color: #ffffff; margin-right: 10px; }
#in_warehouse_manage_out_popup .btnCancel { width: 170px; height: 50px; font-size: 30px; text-align: center; border: 1px solid #9D9D9D; padding: 5px; background: #cccccc; color: #000000; }

table .outTopTableStyle th{ border: 1px solid #acb9b9; background: #e8f0f0; color: #162f2f; text-align: center; font-size: 12PX;}
table .outTopTableStyle td{ border: 1px solid #acb9b9; color: #616161; text-align: center; font-weight: 600; font-size: 12PX; height: 40px;}
table .outMidTableStyle th{ border: 1px solid #acb9b9; background: #e8f0f0; color: #162f2f; text-align: center; font-size: 12PX;}
table .outMidTableStyle td{ border: 1px solid #acb9b9; color: #616161; text-align: center; font-weight: 600; font-size: 12PX; height: 40px;}
table .outBotTableStyle th{ border: 1px solid #acb9b9; background: #e8f0f0; color: #162f2f; text-align: center; font-size: 12PX;}
table .outBotTableStyle td{ border: 1px solid #acb9b9; color: #616161; text-align: center; font-weight: 600; font-size: 12PX; height: 40px;}
#in_warehouse_manage_scan_barcode_popup input { width: 100%; text-align: center; outline: none; border: none; font-size: 12px;}
#in_warehouse_manage_scan_barcode_popup input:focus{ outline: none; border: none !important; }
#in_warehouse_manage_scan_barcode_popup select { width: 100%; text-align: center; outline: none; border: none; font-size: 12px;}
#in_warehouse_manage_scan_barcode_popup .popBtnWrap { text-align: center; }


.ui-datepicker { z-index: 9999999 !important; }
.common_confirm_popup { z-index: 1060 !important;}

.fc-toolbar.fc-header-toolbar {
    margin-bottom: 0.9em;
}

/** FULL CALENDER HOLIDAY COLOR SETTING **/
.fc-day-top.fc-sat.fc-past { color:#0000FF; }     /* 토요일 */
.fc-day-top.fc-sun.fc-past { color:#FF0000; }    /* 일요일 */
.fc-day-top.fc-sat.fc-future { color:#0000FF; }     /* 토요일 */
.fc-day-top.fc-sun.fc-future { color:#FF0000; }    /* 일요일 */

/* paramquery color 지정 */
/* No 컬럼 */
.pq-table-left, .pq-table-lt {
    width: 100%;
    background-color: #d9d9d9;
    font-weight: bold;
    color: black;
}
/* 일반 Header */
.pq-grid-row:first-child>.pq-grid-col {
    border-top-color: transparent;
    background-color: #d9d9d9;
    font-weight: bold;
    color: black;
}

.pq-grid-row:last-child > .pq-grid-col {
    border-bottom-width: 0;
    background-color: #d9d9d9;
    font-weight: bold;
    color: black;
}

.pq-grid-row:not(:last-child) > .pq-grid-col {
    border-bottom-color: transparent;
    background-color: #d9d9d9;
    font-weight: bold;
    color: black;
}

/* 수금 관리 테이블 아래 매출 현황 합계 */
.moneySalesMonthTable {padding: 10px 0px;}
.moneySalesMonthTable table {border: 1px solid #cecece; width: 100%;}
.moneySalesMonthTable table td { border: 1px solid #cdcfd0; line-height: 2.0em;}

/** Button Disabled **/
button:disabled {
    background: #dddddd !important;
    color: #212121 !important;
    border: 1px solid #e5e5e5 !important;
}

.miniPopup .contentWrap .btn_one{ width: 60px; height: 30px; line-height: 25px; background: #098804; color: #fff; border-radius: 5px; border: 1px solid #098804; box-sizing: border-box; font-size: 14px; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=3, Direction=135, Color=#000000)";/*IE 8*/}

/** cam 작업 관리 팝업 **/
.cam_work_manage_detail_pop .layerPopup {height: 770px; width: 1200px;}
.cam_work_manage_detail_pop .layerPopup .griddiv { height: 200px; }
.cam_work_manage_detail_pop .layerPopup .listdiv { height: 140px; width: 100%; }
.cam_work_manage_detail_pop .layerPopup .listdiv textarea { outline: none; padding: 0px 0px; border: none; font-size: 14px; }
.cam_work_manage_detail_pop .layerPopup .listdiv .conWrapLeftPop50{ /*float: left;*/ width: 48%; height: 45px; }
.cam_work_manage_detail_pop .layerPopup .listdiv .conWrapRightPop50{ float: right; width: 48%; height: 45px;margin-left: 1.5%; }
.cam_work_manage_detail_pop .layerPopup .listdiv .rightName{ float: right; margin-top: 14px;display: inline-block; }
.cam_work_manage_detail_pop .layerPopup .right{ float: right; display: inline-block; }
.cam_work_manage_detail_pop .layerPopup h4 {display: inline-block;font-size: 14px; font-family: 'NotoKrB'; color: #000; margin: 15px 0 5px; }
.cam_work_manage_detail_pop .layerPopup .work_info {display: inline-block;font-size: 14px; font-family: 'NotoKrB'; color: #000; }
.cam_work_manage_detail_pop .namePlusSlt label { padding: 0 5px; background: #f3f3f3; border: 1px solid #e6e6e6; border-right: 0; border-radius: 3px 0 0 3px; box-sizing: border-box; }

.cam_work_manage_detail_pop .layerPopup .list1 { box-shadow: none; }
.cam_work_manage_detail_pop .layerPopup .list1 .rowStyle { table-layout: fixed; }
.cam_work_manage_detail_pop .layerPopup .list1 .rowStyle tr th { border: 1px solid #acb9b9; background: #e8f0f0; color: #162f2f; text-align: center; padding: 5px; }
.cam_work_manage_detail_pop .layerPopup .list1 .rowStyle tr td { border: 1px solid #cecece; color: #444; padding: 5px; text-align: center; font-family: 'NotoKrR'; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
/*.cam_work_manage_detail_pop .layerPopup .list1 .rowStyle tr td { width: 100%; border: 1px solid #cecece; color: #444; padding: 5px; text-align: center; font-family: 'NotoKrR'; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }*/
.cam_work_manage_detail_pop .layerPopup .list1 .rowStyle tr td.red { color: #e71b1b; }

.cam_work_manage_detail_pop .layerPopup .mctWorkDiv {padding-top: 5px;}
.cam_work_manage_detail_pop .layerPopup .mctWorkStyle {width: 227px; font-size: 14px;}
.cam_work_manage_detail_pop .layerPopup .mctWorkStyle table {font-size: 14px;}
.cam_work_manage_detail_pop .layerPopup .mctWorkStyle tr th { border: 1px solid #cecece; background: #d8edf0; color: #162f2f; text-align: center; padding: 5px; }
.cam_work_manage_detail_pop .layerPopup .mctWorkStyle tr td { border: 1px solid #cecece; color: #444; padding: 5px; text-align: center; font-family: 'NotoKrR'; }
.cam_work_manage_detail_pop .layerPopup .mctWorkStyle tr td.red { color: #e71b1b; }

/** cam 작업 히스토리  팝업 **/
.cam_work_history_detail_pop .layerPopup {height: 770px; width: 1200px;}
.cam_work_history_detail_pop .layerPopup .griddiv { height: 200px; }
.cam_work_history_detail_pop .layerPopup .listdiv { height: 140px; width: 100%; }
.cam_work_history_detail_pop .layerPopup .listdiv textarea { outline: none; padding: 0px 0px; border: none; font-size: 14px; }
.cam_work_history_detail_pop .layerPopup .listdiv .conWrapLeftPop50{ float: left; width: 48.0%; height: 45px; }
.cam_work_history_detail_pop .layerPopup .listdiv .conWrapRightPop50{ float: right; width: 48.0%; height: 45px; }
.cam_work_history_detail_pop .layerPopup .listdiv .rightName{ float: right; margin-top: 14px;display: inline-block; }
.cam_work_history_detail_pop .layerPopup .right{ float: right; display: inline-block; }
.cam_work_history_detail_pop .layerPopup h4 {display: inline-block;font-size: 14px; font-family: 'NotoKrB'; color: #000; margin: 15px 0 5px; }
.cam_work_history_detail_pop .layerPopup .work_info {display: inline-block;font-size: 14px; font-family: 'NotoKrB'; color: #000; }
.cam_work_history_detail_pop .namePlusSlt label { padding: 0 5px; background: #f3f3f3; border: 1px solid #e6e6e6; border-right: 0; border-radius: 3px 0 0 3px; box-sizing: border-box; }

.cam_work_history_detail_pop .layerPopup .list1 { box-shadow: none; }
.cam_work_history_detail_pop .layerPopup .list1 .rowStyle tr th { border: 1px solid #acb9b9; background: #e8f0f0; color: #162f2f; text-align: center; padding: 5px; }
.cam_work_history_detail_pop .layerPopup .list1 .rowStyle tr td { border: 1px solid #cecece; color: #444; padding: 5px; text-align: center; font-family: 'NotoKrR'; }
.cam_work_history_detail_pop .layerPopup .list1 .rowStyle tr td.red { color: #e71b1b; }

.cam_work_history_detail_pop .layerPopup .mctWorkDiv {padding-top: 5px;}
.cam_work_history_detail_pop .layerPopup .mctWorkStyle {width: 227px; font-size: 14px;}
.cam_work_history_detail_pop .layerPopup .mctWorkStyle table {font-size: 14px;}
.cam_work_history_detail_pop .layerPopup .mctWorkStyle tr th { border: 1px solid #cecece; background: #d8edf0; color: #162f2f; text-align: center; padding: 5px; }
.cam_work_history_detail_pop .layerPopup .mctWorkStyle tr td { border: 1px solid #cecece; color: #444; padding: 5px; text-align: center; font-family: 'NotoKrR'; }
.cam_work_history_detail_pop .layerPopup .mctWorkStyle tr td.red { color: #e71b1b; }

.miniPopup .pop_close { width: 23px; height: 23px; position: absolute; top: 12px; right: 12px; font-size: 0; background: url(../images/common/btn_popup.png)no-repeat 0 0; margin-right: 2px; margin-top: 8px;}
.miniPopup h3 { font-size: 20px; font-family: 'NotoKrB'; color: #000; display: inline-block; }
.miniPopup h2 { font-size: medium; font-family: 'NotoKrR'; color: #000; display: inline-block; }

.miniBtn_h19 { height: 19px; padding: 0 10px; font-size: 12px; color: #000; background: #fcfcfc; line-height: 18px; font-family: 'NotoKrM'; display: inline-block; text-align: center; border: 1px solid #afafaf; border-radius: 2px; box-sizing: border-box; }

.th_blue_white { background-color: #aac8ed; color: #fffffF; }
.th_blue_black { background-color: #aac8ed; color: #000; }

.system_company_popup .layerPopup{height: 930px;}

.gridBg-Red {color: #fefefe;font-weight: bold;background-color: #9b1313;}

#common_alert_popup .modal-header h2{ font-size: 1.5em; }
#common_alert_popup .modal-body { position: relative;  padding: 15px 15px 25px 15px;}
#common_alert_popup .modal-body h4{ font-size: 1.5em; }

.popupTableDiv table.materialSupply { border: 1px solid #CECECE; color: #444; width: 99%; }
.popupTableDiv table.materialSupply tr td { height: 20px; padding: 5px 10px; text-align: center; font-family: 'NotoKrM'; font-size: 1.4rem; }
.popupTableDiv table.materialSupply .text-right { text-align: right; }
.popupTableDiv table.materialSupply .bg-title { border: 1px solid #CECECE; background-color: #F3FEFF; }
.popupTableDiv table.materialSupply .bg-sum { border-width: 1px; border-style: solid none; border-color:#CECECE; background-color: #FFFBEF; }

[name="ORDER_MANAGE_VIEW"] { overflow: hidden; width: 80px; height: 25px; margin: 0 5px; padding: 0 4px; line-height: 25px; background-color: #FFE29B; color: black; font-family: 'NotoKrM'; font-size: 1.2rem; text-align: center; border: 1px solid #e5e5e5; box-sizing: border-box; }
.virtual-disable { background: #dddddd; color: #212121; border: 1px solid #e5e5e5; }

.underlinePoint{ color: blue; text-decoration-line: underline; cursor: pointer; }

.userLayerPopup { position: absolute; top: 0; bottom: 0; left: 0; right: 0; margin: auto; background: #fff; width: 700px; height: 370px; border: 1px solid #ababab; padding: 20px; box-sizing: border-box; }
.userLayerPopup hr { display:block; border: 1px solid #e0e2e6; margin: 7px; }
.userLayerPopup h3 { font-size: 20px; font-family: 'NotoKrB'; color: #000; display: inline-block; }
.userLayerPopup h5 { font-size: 16px; font-family: 'NotoKrB'; color: #000; margin-bottom: 7px; }
.userLayerPopup .qualityWrap { border-top: 1px solid #e0e2e6; margin-top: 10px; }
.userLayerPopup table.tableL { width: 100%; border: 1px solid #808080; border-collapse: collapse; }
.userLayerPopup table.tableL td.header { background-color: #E8E8E8; }
.userLayerPopup table.tableL td.headerDisable { background-color: #BFBFBF; color: black; }
.userLayerPopup table.tableL td.headerSelectChange { background-color: #A9D3F5; color: black; }
.userLayerPopup table.tableL td.headerInputChange { background-color: #A9D3F5; color: #2777EF; }
.userLayerPopup table.tableL > tbody > tr > td { height: 30px; text-align: center; font-size: 12px; border: 1px solid #808080; }
.userLayerPopup .pop_close { width: 23px; height: 23px; position: absolute; top: 12px; right: 12px; font-size: 0; background: url(../images/common/btn_popup.png)no-repeat 0 0; }
.userLayerPopup .btnWrap {text-align: center;}
.userLayerPopup .userInfoList99 { height: 270px; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#000000)"; }
.userLayerPopup .userInfoList99 .rowStyle tr th { border: 1px solid #acb9b9; background: #e8f0f0; color: #162f2f; text-align: center; padding: 5px; }
.userLayerPopup .userInfoList99 .rowStyle tr td { border: 1px solid #cecece; color: #444; padding: 5px; text-align: center; font-family: 'NotoKrR'; }
.userLayerPopup .userInfoList99 .rowStyle tr td.red { color: #e71b1b; }
.userLayerPopup .userResultWrap99 { -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#000000)"; }
.userLayerPopup .userResultWrap99 .leftWrap { height: 150px; width: 30%; float: left; }
.userLayerPopup .userResultWrap99 .rightWrap { height: 150px; width: 70%; float: right; }
.userLayerPopup .userResultWrap99 .btnWrap {margin-top: 20px;text-align: center;}

.amount_summary_inactive {
    background-color: #dedede;
}

.amount_summary_active {
    background-color: #ffffff;
}
.mct_plan_detail_pop .layerPopup {
    width: 1500px;
    height: 900px;
}
.mct_plan_detail_pop .layerPopup .rightwrap .rightName{ float: right; margin-top: 0px;display: inline-block; }
.mct_plan_detail_pop .th_color {background: #e8f0f0; font-weight: bold; color: black;}
.mct_plan_detail_pop .namePlusSlt label {padding: 0px 14px;background: #002060;border: 1px solid #002060;border-right: 0;box-sizing: border-box;width: 170px;font-size: 14px;border-radius:0;color: #ffffff;}
.mct_plan_detail_pop .barcode_div {background: #e8e8e8;margin-top: 2%;line-height: 6vh;height: 69px;}
.mct_plan_detail_pop .barcode_label {font-size: 17px;float: left;margin-left: 4%;margin-right: 5%;}
.mct_plan_detail_pop .nonImgDiv {height: 568px;margin-top: 8px;position: absolute;width: 755px;max-width: none !important;transform: none;left: 2%;display: table;line-height: 535px;border: 1px solid #d9d9d9;}
.mct_plan_detail_pop .nonImgDiv span {font-size: 20px;display: table-cell;text-align: center;line-height: 535px;}
.mct_plan_detail_pop .drawDiv {height: 80px;overflow: auto;text-align: center;width: 100%;margin-top: 5px;vertical-align: middle;display: table;}
/*.mct_plan_detail_pop .drawDiv {height: 80px;overflow: auto;text-align: center;display: block;width: 100%;margin-top: 5px;line-height: 25px;}*/
.mct_plan_detail_pop .drawDiv .mct_ongoing_draw {cursor:pointer;vertical-align: middle;}
.mct_plan_detail_pop .userImg {width: 100px; height: 80px; border-radius: 50%; border: 1px solid #d6d6d6; margin: 0 auto; overflow: hidden;}
.mct_plan_detail_pop .userImg img{width:100%; height: 100%;}


/*210607*/


ul, ol , dl { list-style: none;}
.stockPopup, .stockPopup2, .stockPopup3, .stockSearchPopup {
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 1050;
	top: 0;
	left: 0;
}
.stockPopup .stockPopupWrap {
	position: relative;
	width: 1980px;
	height: 1080px;
}
.stockPopupWrap .stockPopupInfo {
	background: #f9fbfd;
	width: 77%;
	height: 67%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 20px 20px 10px 20px;
}
.stockPopupInfo .searchPopupWrap {
	width: 100%;
	height: 92%;
	display: flex;
}
.stockPopupInfo .stockMapLeft {
	width: 62%;
	height: 100%;
	border: 1px solid #AAA;
	overflow: hidden;
	text-align: center;
	margin-top: 1%;
	background: white;
}
.stockPopupInfo .searchPopupRight {
	width: 37%;
	height: 100%;
	padding-left: 20px;
}
.stockPopupInfo .searchPopupRight .searchPopupRightTop {
	width: 100%;
	height: 6%;
	overflow: hidden;
	margin: 10px 0;
	padding: 5px 0;
}
.stockPopupWrap .stockPopupInfoOut {
	background: #fffbfb;
	/*재고불출 popup 배경색상*/
}
.stockPopupWrap .stockPopupInfoEnter {
	background: #f9fbfd;
}
.stockPopupInfo h3 {
	display: inline-block;
	color: blue;
	font-weight: bold;
	font-size: 20px;
}
.stockPopupInfoOut h3 {
	color: #C00000;
}
.stockPopupInfoEnter h3 {
	color: blue;
}
.stockPopupInfo h3 i {
	color: #565;
}

.stockPopupInfo .searchPopupRight .searchPopupRightTop .barcode {
	display: inline-block;
	width: 100%;
	height: 100%;
	background: #DDD;
	float: left;
	text-align: left;
}

.stockPopupInfo .barcode_label {
	font-weight: bold;
	font-size: 1.8rem;
	vertical-align: text-bottom;
	margin: 0px 10px 0px 10px;
}
.stockPopupInfo .barCode img {
	width: 15%;
	vertical-align: text-bottom;
	margin: 4px 5px 0px 6px;
}
.stockPopupInfo .barCodeTxt {
	display: inline-block;
	height: 90%;
	width: 45%;
	vertical-align: top;
	margin-top: 3px;
}
.stockPopupInfo .barCodeTxt input {
	outline: none;
	padding: 2px 10px;
	vertical-align: unset;
	height: 95% !important;
	width: 100% !important;
}
.stockPopupInfo .stockMap {
	/*background: url(../../main/blank.jpg) no-repeat center;*/
  	/*background-size: 100% 100%;*/
	border: 1px solid #aaa;
	width: 100%;
	height: 66%;
	margin-top: 10px;
}
.stockPopupInfo .stockPopupBtm {
	width: 100%;
	height: 88%;
	padding: 5px 0 5px;
	display: inline-block;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmLeft {
	width: 100%;
	height: 45%;
	text-align: center;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmLeft .stockPopupBtmLeftTable {
	width: 100%;
	height: 80%;
}
.stockPopupBtmLeft .stockPopupBtmLeftInfo {
	height: 15%;
	width: 100%;
	text-align: right;
	margin: 5px 0;
}
.stockPopupBtmLeft .stockPopupBtmLeftInfo span {
	font-weight: bold;
	font-size: 1.4rem;
	float: left;
}
.stockPopupBtmLeft .stockPopupBtmLeftInfo .stockNum {
	background: #DDD;
	outline: none;
	height: 30px;
	text-align: center;
	width: 80%;
	margin-right: 1%;
	font-size: 1.4rem;
}

.stockPopupInfo .stockPopupBtm .stockPopupBtmRight {
	width: 100%;
	height: 48%;
	margin: 5px 0;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight table {
	width: 100%;
	height: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	border: 1px solid #aaa;
	font-size: 1.3rem;
	background: white;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight .trHeight {
	height: 16%;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight table th {
	width: 15%;
	background: #e7eef7;
	border: 1px solid #aaa;
	text-align: center;
	font-weight: bold;
	color: black;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight table td {
	width: 35%;
	border: 1px solid #aaa;
	text-align: center;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight table td.tdWeight {
	font-weight: bold;
	color: black;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight table td.tdCss {
	color: blue;
	background: #d9f2fb;
}
.stockPopupInfoOut .stockPopupBtm .stockPopupBtmRight table td.tdCss {
	color: red;
	background: #e2efda;
}
.stockPopupInfoEnter .stockPopupBtm .stockPopupBtmRight table td.tdCss {
	color: blue;
	background: #f6eb61;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight select {
	outline: none;
	border: 0;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight .tdBackColor {
	background: #ddd;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight .enterNum {
	vertical-align: middle;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight .enterNum i {
	display: inline-block;
	cursor: pointer;
	color: #0070c0;
	height: 25px;
	vertical-align: sub;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight .enterNum .minusBtn {
	color: #c00000;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight .enterNum input {
	font-size: 1.8rem;
	width: 100px;
	outline: none;
	height: 35px;
	text-align: center;
	display: inline-block;
	vertical-align: unset;
}
.stockPopupBtnWrap {
	width: 100%;
	text-align: center;
	padding-top: 10px;
}
.stockPopupBtnWrap button {
	padding: 3px 0;
	display: inline-block;
	margin-right: 10px;
	cursor: pointer;
	width: 100px;
	outline: none;
	background: #999;
	font-size: 15px;
	height: 30px;
	line-height: 1;
	color: white;
	font-weight: normal;
}
.stockPopupBtnWrap .stockBtnSave, .stockPopupBtnWrap .stockBtnSave2, .stockPopupBtnWrap .stockBtnOk{
	background: #4d8d1a;
}

.stockPopup2, .stockPopup3{
	display: none;
}
.stockPopup2 .stockPopupInfo2 {
	position: absolute;
	background: #f9fbfd;
	width: 25%;
	height: 25%;
	top: 45%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 20px 0 10px 0;
	text-align: center;
	line-height: 35px;
	font-size: 1.4rem;
	font-weight: bold;
	color: black;
}
.stockPopup2 .stockPopupInfo2 .inputWrap {
	width: 90%;
	margin: 10px auto;
}
.stockPopup2 .stockPopupInfo2 .inputWrap label {
	width: 15%;
	display: inline-block;
	text-align: center;
}
.stockPopup2 .stockPopupInfo2 .inputWrap select{
	width: 25%;
	height: 30px;
	font-weight: bold;
	outline: none;
	border: 1px solid #555;
	cursor: pointer;
}
.stockPopup2 .stockPopupInfo2 .inputWrap select option {
	font-weight: bold;
}

.stockPopup3 .stockPopupInfo3 {
	width: 25%;
	height: 40%;
	background: #e7eef7;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 1rem;
}
.stockPopup3 .stockPopupOut {
	background: #fee5e2;
	/*재고불출 배경색*/
}
.stockPopup3 .stockPopupEnter {
	background: #e7eef7;
}
.stockPopup3 .stockPopupInfo3 h3 {
	text-align: left;
	font-size: 20px;
	color: black;
}
.stockPopup3 .stockPopupInfo3 table {
	width: 100%;
	height: 60%;
	border: 1px solid #AAA;
	border-spacing: 0;
	border-collapse: collapse;
	margin: 20px 0;
	font-size: 1.5rem;
	background: white;
}
.stockPopup3 .stockPopupInfo3 th {
	background: #e8f9ea;
	width: 23%;
	border: 1px solid #AAA;
	text-align: center;
	color: black;
}
.stockPopup3 .stockPopupInfo3 td {
	border: 1px solid #AAA;
	font-weight: normal;
}
.stockPopup3 .stockPopupInfo3 td.tdWeight {
	font-size: 1.8rem;
	font-weight: bold;
	color: black;
}
.stockPopup3 .stockPopupInfo3 td.tdColor {
	background: #d9f2fb;
	color: blue;
	font-weight: bold;
}
.stockPopup3 .stockPopupOut td.tdColor {
	background-color: #e2efda;
	color: red;
}
.stockPopup3 .stockPopupEnter td.tdColor {
	background-color: #f6eb61;
	color: blue;
}
.stockPopup3 .stockPopupInfo3 p {
	font-size: 1.8rem;
	margin-bottom: 10px;
	color: black;
}
.stockPopup3 .stockPopupInfo3 p span {
	color: blue;
}
.stockPopup3 .stockPopupOut p span {
	color: red;
}
.stockPopup3 .stockPopupEnter p span {
	color: blue;
}



/*210608*/
.searchPopup {
	width: 78%;
	height: 67%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-53%,-50%);
	background: #fffbfb;
	padding: 20px 20px 10px 20px;
}
.searchPopup h3 {
	color: #c00000;
	font-weight: bold;
	font-size: 20px;
}
.searchPopup h3 i {
	color: #565;
}
.searchPopup .searchPopupWrap {
	width: 100%;
	height: 92%;
	display: flex;
}
.searchPopup .stockMapLeft {
	width: 62%;
	height: 100%;
	border: 1px solid #AAA;
	overflow: hidden;
	text-align: center;
	margin-top: 1%;
	background: white;
}
.searchPopup .searchPopupRight {
	width: 38%;
	height: 100%;
	padding-left: 20px;
}
.searchPopup .searchPopupRight .searchPopupRightTop {
	width: 100%;
	height: 7%;
	overflow: hidden;
	margin: 10px 0;
	padding: 5px 0;
}
.searchPopup .searchPopupRight .searchPopupRightTop h4 {
	display: inline-block;
	margin-right: 10px;
	padding-top: 5px;
	font-size: 15px;
	font-weight: bold;
	color: black;
}
.searchPopup .searchPopupRight .searchPopupRightTop .refreshBtn {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	vertical-align: top;
	padding-top: 5px;
}
.searchPopup .searchPopupRight .searchPopupRightTop .barcode {
	display: inline-block;
	width: 50%;
	background: #DDD;
	float: right;
	padding: 3px;
	text-align: right;
}
.searchPopup .searchPopupRight .searchPopupRightTop .barcode .barCode img{
	width: 20%;
	vertical-align: text-bottom;
	margin: 0px 7px -2px 0;
}
.searchPopup .searchPopupRight .searchPopupRightTop .barcode .barCodeTxt {
	display: inline-block;
	height: 100%;
}
.searchPopup .searchPopupRight .searchPopupRightTop .barcode .barCodeTxt input {
	outline: none;
	padding: 2px 10px;
	vertical-align: unset;
	height: 95% !important;
}
.searchPopup .searchPopupRight .listTable {
	width: 100%;
	height: 93%;
	border: 1px solid blue;
	margin-top: -10px;
}
.searchPopup .stockPopupBtnWrap {
	margin-top: 20px;
}
.mapDetailBtn {
	background: #d6e5ff !important;
	color: #555 !important;
}
.completePopup {
	width: 20%;
	height: 11%;
	position: absolute;
	top: 45%;
	left: 50%;
	transform: translate(-55%,-50%);
	background: #fffbfb;
	padding: 20px;
}
.redText {
	color:red !important;
}
.matchGrid_lightRed{background-color: #ffe0e0 !important; font-weight: bold;}
.matchGrid_selected{background-color: #d9e8f4 !important; font-weight: bold;}

.custom-loading {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0
}
.custom-loading-bg {
	height: 100%;
	width: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 10;
	opacity: 0;
}
.custom-loading > .custom-loading-mask {
	background: #ffffff;
	border-color: #aaaaaa;
	color: #333;
}

div.custom-loading-mask {
	width: 100px;
	height: 25px;
	z-index: 8;
	padding: 5px;
	position: absolute;
	left: 50%;
	top: 51.2%;
	margin-left: -50px;
	margin-top: -13px;
	box-sizing: content-box;
}
div.custom-loading-mask > div {
	border-color: #c6c6c6 !important;
	background-color: #fff;
}

div.custom-loading-mask > div {
	border: 1px solid transparent;
	padding-top: 0;
	padding-right: 6px;
	padding-left: 29px;
	line-height: 23px;
	background-image: url(../images/loading.gif);
	background-position: 6px;
	background-repeat: no-repeat;
	white-space: nowrap;
	word-wrap: normal
}

.quick_drawing_table {
	width: 675px;
	font-size: 13px;
	border: 1px solid #aaa;
}


.quick_drawing_table th {
	width: 10%;
	background: #e7eef7;
	border: 1px solid #aaa;
	text-align: center;
	font-weight: bold;
	color: black;
}
.quick_drawing_table td {
	border: 1px solid #aaa;
	text-align: center;
}

.quick_drawing_table tr {
	height: 30px;
}




/*210608*/
.revisionPopup {
	width: 1250px;
	height: 645px;
	position: absolute;
	top: 0;
	left: 0;
	transform: none;
	background: #ffffff;
	padding: 20px 0px 10px 20px;
}
.revisionPopup h3 {
	color: black;
	font-size: 20px;
}
.revisionPopup h3 i {
	color: black;
}
.revisionPopup .searchPopupWrap {
	width: 100%;
	height: 92%;
	display: flex;
}
.revisionPopup .revisionMapLeft {
	width: 67%;
	height: 100%;
	border: 1px solid #AAA;
	overflow: hidden;
	text-align: center;
	margin-top: 1%;
	background: white;
}
.revisionPopup .revisionPopupRight {
	width: 30%;
	height: 100%;
	padding-left: 30px;
}
.revisionPopup .revisionPopupRight .searchPopupRightTop {
	width: 100%;
	height: 13%;
	overflow: hidden;
	margin: 10px 0;
	padding: 5px 0;
	font-size: 1.4rem;
}
.revisionPopup .revisionPopupRight .searchPopupRightTop h4 {
	display: inline-block;
	margin-right: 10px;
	padding-top: 5px;
	font-size: 15px;
	font-weight: bold;
	color: black;
}
.revisionPopup .revisionPopupRight .searchPopupRightTop .refreshBtn {
	background: none;
	border: none;
	outline: none;
	cursor: pointer;
	vertical-align: top;
	padding-top: 5px;
}

.revisionPopup .revisionPopupRight table {
	width: 99%;
	height: 93%;
	border: 1px solid black;
}
.revisionPopup .revisionPopupRight table th {
	width: 40%;
	border: 1px solid black;
	text-align: center;
	color: white;
	background: #3b7ec5;
}
.revisionPopup .revisionPopupRight table td {
	width: 60%;
	border: 1px solid black;
	text-align: center;
	color: black;
}
.revisionPopup .stockPopupBtnWrap {
	margin-top: 20px;
}

.matchToolTip {
	display: none;
	text-align: left;
	font-size: 12px;
	background-color: #fff599;
	width: 650px;
	height: 250px;
	z-index: 9999999999;
	top: 410px;
	left: 1175px;
	position: absolute;
	border: 1px solid #efefef;
}

.matchToolTip::after {
	content: " ";
	top:-7.5%;
	left:77.5%;
	position: absolute;
	border-style: solid;
	border-width: 10px;
	margin-left:-10px;
	border-color: transparent transparent #fff599 transparent;;
}

.stockPopupWrap .comboTreeInputBox:disabled {background-color: #dddddd !important;}

#processing_requirements_special_sub_grid .pq-header-outer {
	display: none !important;
}
.disp-inline {
	display: inline-block;
}

.rightTopDiv {
	padding: 3px 0 3px 3px;
	border: 1px solid;
}
.step-state {
	padding:10px 0 15px;
	margin-top:15px;
	margin-left: 2.65%;
}
.step-state ul:after {
	content:'';
	display:block;
	clear:both
}
.step-state ul li {
	float:left;
	position:relative;
	width:100px; /* 5개 진행바를 5등분 */
	font-size:15px;
	font-weight:bold;
	text-align:center;
	line-height:12px;
	color:black;
}
.step-state ul li:first-child {
	font-size:13px
}
.step-state ul li:first-child p {
	padding-top:6px
}
/* 회색 진행바 생성 */
.step-state ul li:before {
	position:absolute;
	top:35px;
	left:0;
	right:0;
	height:1px;
	background:#336fca;
	content:''
}
/* 첫 번째 진행바 반만 생성*/
.step-state ul li:nth-child(1):before {
	left:50%
}
/* 마지막 진행바 반만 생성*/
.step-state ul li:nth-child(14):before {
	right:50%
}
/* 화살표 상태 아이콘 */
.step-state ul li:after {
	position:absolute;
	top:27px;
	left:50%;
	width:20px;
	height:20px;
	margin-left:-20px;
	border-right:3px solid #336fca;
	background-position:0 0;
	content:''
}

.step-state-vertical {
	padding:10px 0 15px;
	margin-top:-4%;
	margin-left: 3%;
}
.step-state-vertical ul:after {
	content:'';
	display:block;
	clear:both
}
.step-state-vertical ul li {
	float:left;
	position:relative;
	width:100px; /* 5개 진행바를 5등분 */
	font-size:15px;
	height:100px;
	font-weight:bold;
	text-align:center;
	transform: rotate(90deg);
	line-height: 150px;
	color:black;
}
.step-state-vertical ul li p {
	transform: rotate(270deg);
}
.step-state-vertical ul li:first-child {
	font-size:13px
}
.step-state-vertical ul li:first-child p {
	padding-top:6px
}
/* 회색 진행바 생성 */
.step-state-vertical ul li:before {
	position:absolute;
	top:35px;
	left:0;
	right:0;
	height:1px;
	background:#336fca;
	content:''
}
/* 첫 번째 진행바 반만 생성*/
.step-state-vertical ul li:nth-child(1):before {
	left:50%
}
/* 마지막 진행바 반만 생성*/
.step-state-vertical ul li:nth-child(10):before {
	right:50%
}
.step-state-vertical ul li:after {
	position:absolute;
	top:27px;
	left:50%;
	width:20px;
	height:20px;
	margin-left:-20px;
	border-right:3px solid #336fca;
	background-position:0 0;
	content:''
}



#inspection_result_value_popup .layerPopup .h_area .buttonWrap {
	font-size: 0;
	display: inline-block;
	width: 40%;
}
#inspection_result_value_popup .barcodeDiv
{
	float: right;
	border: 1px solid black;
	width: 12%;
	padding: 2px 0 2px 0;
}

#inspection_result_value_popup table.rowStyle th {
	padding: 0;
	text-align: center;
	background: #abc3e9;
	color: black;
	border: 1px solid #92979a;
	height: 30px;
}
#inspection_result_value_popup table.rowStyle td {
	background: #e4e4e4;
	height: 50px;
}

#inspection_result_value_popup .layerPopup .h_area {
	border-bottom: none;
	padding: 10px 0 7px;
	margin-bottom: 20px;
}