/* 조회 조건과 탭 일치 */
.topWrap {
    margin-bottom: 5px;
}

.onegrid .topWrap .gubunWrap { width: 95.5%; border-right: 1px solid #e5e5e5; margin: 17px; height: 36px; overflow: hidden; }
.onegrid .topWrap .gubunWrap ul { font-size: 0; }
.onegrid .topWrap .gubunWrap ul li { width: 23%; display: inline-block; padding-bottom: 11px; padding-right: 2%; }
.onegrid .topWrap .gubunWrap ul li:nth-child(4n) { padding-right: 0; }
.onegrid .topWrap .gubunWrap ul li:nth-child(4n+1) { padding-left: 0.5%; }
.onegrid .topWrap .gubunWrap ul li label { width: 25%; font-size: 14px; color: #353535; display: inline-block; }
.onegrid .topWrap .gubunWrap ul li select { width: 75%; height: 36px; }
.onegrid .topWrap .gubunWrap ul li input { width: 75%; }

/*조회 조건*/
.onegrid .topWrap .hWrap .ipu_wrap { display: inline-block; }
.onegrid .topWrap .hWrap .ipu_wrap label { display: inline-block; font-size: 14px; color: #000; padding: 0 15px 0 25px; }
.onegrid .topWrap .hWrap { border-bottom: 1px solid #e2e2e2; font-size: 0; position: relative; padding: 10px 20px; }
.onegrid .topWrap .hWrap .buttonWrap { display: inline-block; }
.onegrid .topWrap .hWrap .chk_box { font-size: 13px; color: #3f506e; margin-left: 15px; }
.onegrid .topWrap .hWrap .rightSpan { float: right; display: inline-block; }
.onegrid .topWrap .hWrap button.search_btn { width: 69px; height: 34px; background: url(../images/common/bg_search.jpg)repeat-x 0 0; border: 1px solid #a3a3a3; font-size: 13px; font-family: 'NotoKrB'; position: relative; color: #010101; padding-left: 13px; float: right; margin-right: 1.45%; }
.onegrid .topWrap .hWrap button.search_btn:before { content: ''; width: 9px; height: 12px; background: url(../images/common/ico_search.jpg)no-repeat 0 0; position: absolute; top: 10px; left: 12px; }

.onegrid .bottomWrap .hWrap { border-bottom: 1px solid #e2e2e2; font-size: 0; position: relative; padding: 10px 20px; }
.onegrid .bottomWrap .hWrap .buttonWrap { display: inline-block; }
.onegrid .bottomWrap .hWrap .chk_box { font-size: 13px; color: #3f506e; margin-left: 15px; }
.onegrid .bottomWrap .hWrap .rightSpan { float: right; display: inline-block; }
.onegrid .bottomWrap .tableWrap { margin: 5px 20px; position: relative; }
.onegrid .bottomWrap .tableWrap .buttonWrap { padding: 5px 0; display: block; }
.onegrid .bottomWrap .tableWrap .conWrap { height: calc(100vh - 160px); width: 100%; }
.onegrid .bottomWrap .tableWrap .conWrap img { width: 100%; height: 100%; }


.pq-theme .ui-state-default, .pq-theme .ui-button{

}

.form-group1 .group-item { display: inline-block; width: 24.5%; padding: 0.5vh 0.5vw; }
.form-group1 .group-item-option { display: inline-block; width: 5%; padding: 0.5vh 0.5vw; }
.form-group1 .group-item > label { width: 20%; font-size: 1.4rem; margin-right: 0.5vw; }
.form-group1 .group-item-option > label { width: 20%; font-size: 1.4rem; margin-right: 0.5vw; }
.form-group1 .group-item > select { width: 75%; }
.form-group1 .group-item > .two { width: calc(75% / 2); }
.form-group1 .group-item > input { width: 75%; }
.form-group1 .chk_box_area { display: inline-block; }
.form-group1 .chk_box_area > input[type="checkbox"] + label { font-size: 1.4rem; margin-left: 0.2vw; margin-right: 0.5vw; }
.form-group1 .search_btn { width: 69px; height: 34px; background: url(../images/common/bg_search.jpg)repeat-x 0 0; border: 1px solid #a3a3a3; font-size: 13px; font-family: 'NotoKrB'; position: relative; color: #010101; padding-left: 13px; float: right; margin-right: 1.45%; }
.form-group1 .search_btn:before { content: ''; width: 9px; height: 12px; background: url(../images/common/ico_search.jpg)no-repeat 0 0; position: absolute; top: 10px; left: 12px; }
/*.form-group1 > div.group-item > input.col-2 { width: 75%; }*/

.d-inline { display: inline; }
.d-inline button{ margin: 0 1px; }
.d-inline select{ margin: 0 1px; }
.d-inline input{ margin: 0 1px; }
.d-table { display: table; width: 100%; }
.d-table-cell { display: table-cell; vertical-align: middle; text-align: center; }

.layerPopup .list99 { height: 360px; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#000000)"; }
.layerPopup .list99 .rowStyle tr th { border: 1px solid #acb9b9; background: #e8f0f0; color: #162f2f; text-align: center; padding: 5px; }
.layerPopup .list99 .rowStyle tr td { border: 1px solid #cecece; color: #444; padding: 5px; text-align: center; font-family: 'NotoKrR'; }
.layerPopup .list99 .rowStyle tr td.red { color: #e71b1b; }

.layerPopup .list98 { height: 200px; }

.resultWrap99 { -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#000000)"; }
.resultWrap99 .leftWrap { height: 150px; width: 40%; float: left; }
.resultWrap99 .rightWrap { height: 150px; width: 58%; float: right; }


.smallTabMenuTabs{ padding-left: 14px; border-bottom: 1px solid #d4d4d4;}
.smallTabMenuTabs:after { content: ''; width: 0; height: 0; display: block; overflow: hidden; clear: both; }
.smallTabMenuTabs li{float: left; position: relative;bottom: -1px;}
.smallTabMenuTabs li a { font-size: 12px; font-family: 'NotoKrM'; color: #535759; display: block; background: #e6e6e6; border-left: 0; line-height: 14px; padding: 0 15px; }
.smallTabMenuTabs li.active a{  background: #fff; color: #535759; border: 1px solid #d4d4d4; border-bottom: 1px solid #fff; font-family: 'NotoKrB';}

/*.ui-widget-header{background: none;border: 0px;}*/
.ui-widget-header{background: none;}
.ui-tabs .ui-tabs-panel{padding : 0em 0em;}

.machineWrap .bottomWrap .hWrap2 { border-bottom: 0px solid #e2e2e2; font-size: 0; position: relative; padding: 10px; }
.machineWrap .bottomWrap .hWrap2 .buttonWrap { display: inline-block; }
.machineWrap .bottomWrap .hWrap2 .chk_box { }
.machineWrap .bottomWrap .hWrap2 .rightSpan { float: right; display: inline-block; }

.jmestabs .pq-grid-header-table {border-bottom: 1px solid #aaaaaa;}
.jmestabs .ui-widget-header{background: none;border: 0px;}
.jmestabs{border: 0px}

/*  소재 주문 등록 */
.estimate .left_60Wrap { float: left; width: 64.5%; padding-right: 1%; height: 100%; }
.estimate .left_60Wrap .tableWrap { background: #fff; border: 1px solid #e2e2e2; border-radius: 3px; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#000000)";/*IE 8*/ -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*FF 3.5+*/ -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/ box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color=#000000); /*IE 5.5-7*/ }
.estimate .left_60Wrap .tableWrap .hWrap { border-bottom: 1px solid #e2e2e2; font-size: 0; position: relative; }
.estimate .left_60Wrap .tableWrap .hWrap *{vertical-align: middle;}
.estimate .left_60Wrap .tableWrap .hWrap h2 { height: 50px; line-height: 48px; padding-left: 20px; font-size: 16px; font-family: 'NotoKrB'; color: #000; display: inline-block; }
.estimate .left_60Wrap .tableWrap .hWrap .chk_box { }
.estimate .left_60Wrap .tableWrap .hWrap .slt_wrap { display: inline-block; }
.estimate .left_60Wrap .tableWrap .hWrap .slt_wrap select { }
.estimate .left_60Wrap .tableWrap .hWrap .ipu_wrap { display: inline-block; }
.estimate .left_60Wrap .tableWrap .hWrap .ipu_wrap label { }
.estimate .left_60Wrap .conMainWrap { padding: 0px; box-sizing: border-box; height: 800px; }
.estimate .right_30Wrap { float: right; width: 32.5%; padding-right: 1%; height: 100%; }
.estimate .right_30Wrap .tableWrap { background: #fff; border: 1px solid #e2e2e2; border-radius: 3px; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#000000)";/*IE 8*/ -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*FF 3.5+*/ -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/ box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color=#000000); /*IE 5.5-7*/ }
.estimate .right_30Wrap .tableWrap .hWrap { border-bottom: 1px solid #e2e2e2; font-size: 0; position: relative; }
.estimate .right_30Wrap .tableWrap .hWrap *{vertical-align: middle;}
.estimate .right_30Wrap .tableWrap .hWrap h2 { height: 50px; line-height: 48px; padding-left: 20px; font-size: 16px; font-family: 'NotoKrB'; color: #000; display: inline-block; }
.estimate .right_30Wrap .tableWrap .hWrap .chk_box { }
.estimate .right_30Wrap .tableWrap .hWrap .slt_wrap { display: inline-block; }
.estimate .right_30Wrap .tableWrap .hWrap .slt_wrap select { }
.estimate .right_30Wrap .tableWrap .hWrap .ipu_wrap { display: inline-block; }
.estimate .right_30Wrap .tableWrap .hWrap .ipu_wrap label { }
.estimate .right_30Wrap .conMainWrap { padding: 0px; box-sizing: border-box; height: 800px; }


/*  소재 주문 이력 */
.estimate .left_30Wrap { float: left; width: 32.5%; padding-right: 1%; height: 100%; }
.estimate .left_30Wrap .tableWrap { background: #fff; border: 1px solid #e2e2e2; border-radius: 3px; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#000000)";/*IE 8*/ -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*FF 3.5+*/ -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/ box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color=#000000); /*IE 5.5-7*/ }
.estimate .left_30Wrap .tableWrap .hWrap { border-bottom: 1px solid #e2e2e2; font-size: 0; position: relative; }
.estimate .left_30Wrap .tableWrap .hWrap *{vertical-align: middle;}
.estimate .left_30Wrap .tableWrap .hWrap h2 { height: 50px; line-height: 48px; padding-left: 20px; font-size: 16px; font-family: 'NotoKrB'; color: #000; display: inline-block; }
.estimate .left_30Wrap .tableWrap .hWrap .chk_box { }
.estimate .left_30Wrap .tableWrap .hWrap .slt_wrap { display: inline-block; }
.estimate .left_30Wrap .tableWrap .hWrap .slt_wrap select { }
.estimate .left_30Wrap .tableWrap .hWrap .ipu_wrap { display: inline-block; }
.estimate .left_30Wrap .tableWrap .hWrap .ipu_wrap label { }
.estimate .left_30Wrap .conMainWrap { padding: 0px; box-sizing: border-box; height: 800px; }
.estimate .right_60Wrap { float: right; width: 64.5%; padding-right: 1%; height: 100%; }
.estimate .right_60Wrap .tableWrap { background: #fff; border: 1px solid #e2e2e2; border-radius: 3px; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#000000)";/*IE 8*/ -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*FF 3.5+*/ -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/ box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color=#000000); /*IE 5.5-7*/ }
.estimate .right_60Wrap .tableWrap .hWrap { border-bottom: 1px solid #e2e2e2; font-size: 0; position: relative; }
.estimate .right_60Wrap .tableWrap .hWrap *{vertical-align: middle;}
.estimate .right_60Wrap .tableWrap .hWrap h2 { height: 50px; line-height: 48px; padding-left: 20px; font-size: 16px; font-family: 'NotoKrB'; color: #000; display: inline-block; }
.estimate .right_60Wrap .tableWrap .hWrap .chk_box { }
.estimate .right_60Wrap .tableWrap .hWrap .slt_wrap { display: inline-block; }
.estimate .right_60Wrap .tableWrap .hWrap .slt_wrap select { }
.estimate .right_60Wrap .tableWrap .hWrap .ipu_wrap { display: inline-block; }
.estimate .right_60Wrap .tableWrap .hWrap .ipu_wrap label { }
.estimate .right_60Wrap .conMainWrap { padding: 0px; box-sizing: border-box; height: 800px; }

.layerPopup .btn_plus{ width: 28px; height: 29px; font-size: 0; background: url(../images/common/btn_plus.png)no-repeat 0 0;}
.layerPopup .btn_minus{width: 28px; height: 29px; font-size: 0; background: url(../images/common/btn_minus.png)no-repeat 0 0;}

.wd_180{width:180px !important; }
.wd_760{width:760px !important; }

.consumablePop  {height: 400px; }
.consumable_container .layerPopup .list1 { -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#000000)";/*IE 8*/ -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0);/*FF 3.5+*/ -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/ box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color=#000000); }
