@charset "utf-8";

/* IDA SYSTEM PUD */
/* css Reset */
header,footer,section,article,aside,nav,hgroup,details,menu,figure,figcaption{display:block}
body{/*overflow-x:hidden*/}
body{margin:0;padding:0;font-family:'NotoKrM', Arial,sans-serif; font-size:10px;color:#666;-webkit-text-size-adjust:none;-ms-text-size-adjust:none;}
p,div,h1,h2,h3,h4,h5,h6,ul,ol,li,dl,dt,dd,table,th,td,form,fieldset,legend,input,textarea,select,button,code,label,em,span,strong{margin:0;padding:0;border:0; font: inherit; color:inherit;word-break:keep-all; letter-spacing: -.5px}
form{display:inline;margin:none}
img,fieldset{border:0}
hr{display:none}
li{list-style:none}
em,address{font-style:normal}
label,input,select,textarea{vertical-align:middle;-webkit-appearance:none}
legend{position:absolute;left:-5000px;font-size:0;overflow:hidden}
table{width:100%;border-collapse:collapse;border-spacing:0;}
caption{position:relative;left:-5000px;height:0;line-height:0;text-indent:-5000px;overflow:hidden}
a:active,a:visited,a{text-decoration:none;/*font:inherit;color:inherit */}
label, input, button, select, img {vertical-align:middle}
button{cursor:pointer;background:none; outline: none;}
input[type="button"],input[type="text"],input[type="image"],input[type="submit"],input[type="password"],input[type="tel"],input[type="number"],select,textarea{-webkit-appearance:none;-moz-appearance:none;border-radius:0;box-sizing:border-box;}
input[type="checkbox"]{-webkit-appearance:checkbox;-moz-appearance:checkbox;}
input[type="radio"]{-webkit-appearance:radio;-moz-appearance:radio;}
textarea{resize:none;box-sizing:border-box;}
select{box-sizing:border-box; outline: none; -webkit-transition:all 0.1s ease-in-out;transition:all 0.1s ease-in-out;}
select::-ms-expand{display:none;}
a{ color: inherit}
iframe {border: 0; padding: 0; margin: 0; }
select:focus,input[type="text"]:focus,input[type="password"]:focus,input[type="tel"]:focus,input[type="number"]:focus,textarea:focus{border:1px solid #999 !important;}

/*bootstrap remove */
* {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}
*:before,
*:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
}

.yellowBackground {
    background-color: rgba(255, 252, 145, 0.5);
}