@charset "utf-8";
/*/////////////////////////////////////////////////////////////////////////// /////////////////////////////////////////////////////////////////////////////
///////////////////////////// sidebar WRAP ///////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////*/
.sidebarWrap { position: absolute; top: 0; background-color: #0b2a4a; z-index: 12; display: block; left: 0; box-sizing: border-box; background: #002966; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=180, Color=#000000)";/*IE 8*/ -moz-box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.1);/*FF 3.5+*/ -webkit-box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/ box-shadow: 1px 0 1px 1px rgba(0, 0, 0, 0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#000000); width: 270px; height: 100%; /*IE 5.5-7*/ }
.sidebarWrap .logo { width: 216px; height: 66px; display: inline-block; vertical-align: middle; }
.sidebarWrap .logo a { height: 100%; background: url(../images/common/gnb_logo.png) no-repeat 0 50%; font-size: 0; display: block; }
.sidebarWrap .profileWrap { width: 100%; height: 102px; background: #fff; position: relative; }
.profileWrap .imgWrap { position: absolute; top: 16px; left: 27px; width: 70px; height: 70px; border-radius: 70px; overflow: hidden; border: 2px solid #fff; text-align: center; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=0, Color=#000000)";/*IE 8*/ -moz-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);/*FF 3.5+*/ -webkit-box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/ box-shadow: 0 0 5px 3px rgba(0, 0, 0, 0.2);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#000000); /*IE 5.5-7*/ }
.profileWrap .imgWrap img { width: 100%; height: auto; }
.profileWrap .textWrap { position: absolute; font-size: 14px; color: #282828; left: 112px; top: 33px; }
.profileWrap .textWrap b { color: #000; font-family: 'NotoKrB'; }
.profileWrap .btnWrap { position: absolute; left: 112px; top: 58px; font-size: 0; width: 128px; height: 26px; background: url(../images/common/btn_logout.png)no-repeat 0 0; }
.gnbWrap > ul { }
.gnbWrap > ul li.depth1 { position: relative; display: block; background: 0; }
/*.sidebarWrap .gnbWrap ul li.depth1 > a { color: #dce4f0; height: 50px; line-height: 48px; padding-left: 35px; font-size: 18px; font-family: 'NotoKrR'; display: block; position: relative; box-sizing: border-box; margin: 0 30px; }*/
.sidebarWrap .gnbWrap ul li.depth1 > a { color: #dce4f0; height: 40px; line-height: 48px; padding-left: 35px; font-size: 16px; font-family: 'NotoKrR'; display: block; position: relative; box-sizing: border-box; margin: 0 30px; }
.sidebarWrap .gnbWrap ul li.depth1 > a:before { content: ''; width: 26px; height: 50px; position: absolute; top: 0; left: 0; display: block; }
.sidebarWrap .gnbWrap ul li.no1 > a:before { background: url(../images/common/ico_gnb1.png) no-repeat 50% 50%; }
.sidebarWrap .gnbWrap ul li.no2 > a:before { background: url(../images/common/ico_gnb2.png) no-repeat 50% 50%; }
.sidebarWrap .gnbWrap ul li.no3 > a:before { background: url(../images/common/ico_gnb3.png) no-repeat 50% 50%; }
.sidebarWrap .gnbWrap ul li.no4 > a:before { background: url(../images/common/ico_gnb4.png) no-repeat 50% 50%; }
.sidebarWrap .gnbWrap ul li.no5 > a:before { background: url(../images/common/ico_gnb5.png) no-repeat 50% 50%; }
.sidebarWrap .gnbWrap ul li.no6 > a:before { background: url(../images/common/ico_gnb6.png) no-repeat 50% 50%; }
.sidebarWrap .gnbWrap ul li.depth1 > a:after { content: ''; width: 10px; height: 50px; position: absolute; top: 0; right: 0; background: url(../images/common/ico_gnb_arrow_down.png)no-repeat 0 50%; }
.sidebarWrap .gnbWrap ul li.depth1.on > a { color: #fff; }
.sidebarWrap .gnbWrap ul li.depth1.on > a:after { background: url(../images/common/ico_gnb_arrow_up.png)no-repeat 0 50%; }
.gnbWrap .depth2 { ; box-sizing: border-box; background: #002159; padding: 12px 0; display: none; }
.sidebarWrap .gnbWrap ul li.depth1.on .depth2{display: block;}
.gnbWrap .depth2 ul{max-height: 180px; overflow-y: auto;}
.gnbWrap .depth2 ul li { padding: 0 30px 0 65px; }
/*.gnbWrap .depth2 ul li a { display: block; width: 100%; height: 36px; box-sizing: border-box; color: #afbcd6; font-size: 15px; font-family: 'NotoKrR'; line-height: 34px; }*/
.gnbWrap .depth2 ul li a { display: block; width: 100%; height: 36px; box-sizing: border-box; color: #afbcd6; font-size: 14px; font-family: 'NotoKrR'; line-height: 34px; }
.gnbWrap .depth2 ul li a:hover { color: #fff }
.sidebarWrap .sideWrap { width: 27px; height: 52px; font-size: 0; background: url(../images/common/btn_sidebar_open.png) no-repeat 0 0; position: absolute; right: -27px; top: 50%; transform: translateY(-50%); }
.sidebarWrap .sideWrap a { display: block; width: 100%; height: 100%; }
.sidebarWrap.on .sideWrap{background:url(../images/common/btn_sidebar_close.png);}
/*/////////////////////////////////////////////////////////////////////////// /////////////////////////////////////////////////////////////////////////////
///////////////////////////// BODY WRAP /////////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////*/
.bodyWrap { min-height: 0; position: relative; background: #f6f6f9; }
.containerBody { width: 100%; position: relative; min-height: 100vh; }
/*.container { width: 100%; position: relative; min-height: 100vh; }*/
.navbarWrap { height: 45px; background: #002159; position: absolute; width: 100%; text-align: right;; }
.navbarWrap .locationWrap { display: inline-block; margin-right: 1%; }
.locationWrap ul li { float: left; padding-left: 22px; position: relative; }
.locationWrap ul li:before {content:'>'; display: block; color: #fff; font-size: 14px; position: absolute; top: 12px; left: 7px;font-family:'NotoKrL'; }
.locationWrap ul li:first-child:before{display: none;}

.locationWrap ul li a { display: block; font-family: 'NotoKrR'; font-size: 12px; color: #fff; line-height: 45px; }

.contentsWrap { position: relative; margin-left: 270px; box-sizing: border-box; background: #f6f6f9; padding-top: 5px;; }
.contentsWrap:after { content: ''; width: 0; height: 0; display: block; overflow: hidden; clear: both; }

.contentsSingleWrap { position: relative; box-sizing: border-box; background: #f6f6f9; padding-top: 5px;; }
.contentsSingleWrap:after { content: ''; width: 0; height: 0; display: block; overflow: hidden; clear: both; }


/*.tabMenuWrap{ padding-top: 17px; margin-left: 270px; min-height: 28px;}*/
.tabMenuWrap{ padding-top: 8px; margin-left: 270px; min-height: 37px;}
.tabMenuWrap ul:after{}
.tabMenuWrap ul li{}
.tabMenuWrap ul li a{}
.tabMenuWrap ul li:first-child a{}

.tabMenuWrap ul li .closeBtn{}

.tabMenuWrap ul li.on a{}
.tabMenuWrap ul li.on .closeBtn{}

.full_bottomWrap { height: 860px; }
.row1_bottomWrap { height: 829px; }
.row2_bottomWrap { height: 796px; }
.row3_bottomWrap { height: 766px; }
.row4_bottomWrap { height: 736px; }

.estimate .topWrap .row1_topWrap { height: 50px !important; }
/*.estimate .topWrap .row2_topWrap { height: 84.5px !important; }*/
.estimate .topWrap .row2_topWrap { height: 70px !important; }
.estimate .topWrap .row3_topWrap { height: 100px !important; }
.estimate .topWrap .row4_topWrap { height: 130px !important; }

/*/////////////////////////////////////////////////////////////////////////// /////////////////////////////////////////////////////////////////////////////
///////////////////////////// FOOTER WRAP ///////////////////////////////////
/////////////////////////////////////////////////////////////////////////////
///////////////////////////////////////////////////////////////////////////*/