@charset "utf-8";
.bodyWrap{
background: -moz-radial-gradient(44% 12%, circle cover, #2D5886 28%, #15293E 100%);/* FF3.6+ */
background: -webkit-radial-gradient(44% 12%, circle cover, #2D5886 28%, #15293E 100%);/* Chrome10+,Safari5.1+ */
background: -o-radial-gradient(44% 12%, circle cover, #2D5886 28%, #15293E 100%);/* Opera 11.10+ */
background: -ms-radial-gradient(44% 12%, circle cover, #2D5886 28%, #15293E 100%);/* IE10+ */
background: radial-gradient(44% 12%, circle cover, #2D5886 28%, #15293E 100%);padding: 40px 0 0 60px; box-sizing: border-box;
height: 100vh;/* W3C */
}
.header{font-size: 0;;}
.header h1{font-size: 53px; font-family: 'PTSansNarrow'; color: #fff; display: inline-block; padding-right: 30px}
.header .refresh{width: 62px; margin-top: 12px; height: 60px; display: inline-block; font-size: 0; background: url(../images/tv/btn_refresh.png)no-repeat 0 0;vertical-align: bottom;}
.pop .popWrap{padding-top: 20px;}
.pop .popWrap .oneDepthRow{}
.pop .popWrap .oneDepthRow .oneDepthIB{ margin-bottom: 32px;}
.pop .popWrap .oneDepthRow .oneDepthIB .twoDepthCol{}
.pop .popWrap .oneDepthRow .oneDepthIB .twoDepthCol:after{content: ''; width: 0; height: 0; display: block; overflow:hidden; clear: both;}
.pop .popWrap .oneDepthRow .oneDepthIB .twoDepthCol .twoDepthIB{float: left;box-sizing: border-box;margin-right: 10px; }
.pop .popWrap .oneDepthRow .oneDepthIB .twoDepthCol .twoDepthIB .conWrap{ border:1px solid #fff;/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');background: -webkit-linear-gradient(133deg, #DDE1E2 35%, #CCD1D2 71%);position: relative;padding: 20px;border-radius: 5px; /* for IE */}
.pop .popWrap .oneDepthRow .oneDepthIB .twoDepthCol .twoDepthIB .conWrap2{ border:1px solid #fff;/* IE10+ */
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#1301FE', endColorstr='#F4F60C', GradientType='1');background: -webkit-linear-gradient(133deg, #DDE1E2 35%, #CCD1D2 71%);position: relative;padding: 5px;border-radius: 5px; /* for IE */}
.pop .popWrap .oneDepthRow .oneDepthIB .twoDepthCol .twoDepthIB .conWrap~.conWrap{margin-top: 32px}
.pop .popWrap .oneDepthRow .oneDepthIB .twoDepthCol .twoDepthIB:last-child{margin-right: 0px;}
.pop .popWrap .oneDepthRow .oneDepthIB .twoDepthCol .pro27{ max-width: 995px; width: 27%;}
.pop .popWrap .oneDepthRow .oneDepthIB .twoDepthCol .pro60{width: 60%; max-width: 2231px;}
.pop .popWrap .oneDepthRow .oneDepthIB .twoDepthCol .pro10{width: 10%; max-width: 377px;}
.pop .popWrap .oneDepthRow .oneDepthIB .twoDepthCol .pro43{width: 43%; max-width: 1615px;}

.pop .popWrap .twoDepthIB .tabmenu{ position: absolute; top: 20px;}
.pop .popWrap .twoDepthIB .tabmenu ul:after{content: ''; width: 0; height: 0; display: block; overflow: hidden; clear: both;}
.pop .popWrap .twoDepthIB .tabmenu ul li{float: left;}
.pop .popWrap .twoDepthIB .tabmenu ul li a{width:251px;height: 59px; font-size: 30px; font-family: 'PTSansNarrow'; color: #1a1a1a; text-align: center; line-height: 57px; border:1px solid #6c7072; border-bottom: 1px solid #fff; background: #fff; border-radius: 5px 5px 0 0;display: inline-block; box-sizing: border-box;}
.pop .popWrap .twoDepthIB .page{border:1px solid #6c7072;margin-top:58px;padding-bottom:21px;background:#fff;}
.pop .popWrap .twoDepthIB .page .p_row:after{content: ''; width: 0; height: 0; display: block; overflow: hidden; clear: both;}
.pop .popWrap .twoDepthIB .page .p_row{padding:21px 24px 0;}
.pop .popWrap .twoDepthIB.pro27 .page .p_row .p_col{ float: left; width:31.1%; margin-right: 30px; background: #fff; }
.pop .popWrap .twoDepthIB .page .p_row .p_col:last-child{margin-right: 0px !important; }
.pop .popWrap .twoDepthIB .page .p_row .p_col .thumb{ width: 100%; border-radius: 5px;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color=#BDBDBD)";/*IE 8*/
-moz-box-shadow: 0 3px 4px rgba(189,189,189,0.5);/*FF 3.5+*/
-webkit-box-shadow: 0 3px 4px rgba(189,189,189,0.5);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0 3px 4px rgba(189,189,189,0.5);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#BDBDBD); /*IE 5.5-7*/
}
.pop .popWrap .twoDepthIB .page .p_row .p_col .thumb *{vertical-align: top;}
.pop .popWrap .twoDepthIB .page .p_row .p_col .thumb .topDiv{font-size: 0;padding: 12px 0 1px 0;}
.pop .popWrap .twoDepthIB .page .p_row .p_col .thumb .topDiv .leftWrap{margin:0 13px; display: inline-block; width: calc(50% - 26px);box-sizing: border-box;}
.pop .popWrap .twoDepthIB .page .p_row .p_col .thumb .topDiv .leftWrap .txtWrap{height: 44px; text-align: center; font-size:22px; font-family: 'PTSansNarrow'; color: #fff; border:1px solid #1b1c1e; border-radius: 3px 3px 0 0;line-height: 42px;}
.pop .popWrap .twoDepthIB .page .p_row .p_col .thumb .topDiv .leftWrap .imgWrap{text-align: center; background: url(../images/tv/bg_thumb.png)repeat-x 0 0;padding: 3px 0 2px;}
.pop .popWrap .twoDepthIB .page .p_row .p_col .thumb .topDiv .rightWrap{margin:0 13px; display: inline-block; width: calc(50% - 26px);box-sizing: border-box;}
.pop .popWrap .twoDepthIB .page .p_row .p_col .thumb .topDiv .profileWrap{text-align: center; padding:7px 0;}
.pop .popWrap .twoDepthIB .page .p_row .p_col .thumb .topDiv .profileWrap span{background: #fff; border-radius: 100%; display: inline-block;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=0, Color=#BABABA)";/*IE 8*/
-moz-box-shadow: 0 3px 5px rgba(186,186,186,0.5);/*FF 3.5+*/
-webkit-box-shadow: 0 3px 5px rgba(186,186,186,0.5);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0 3px 5px rgba(186,186,186,0.5);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=5, Direction=135, Color=#BABABA);overflow: hidden; /*IE 5.5-7*/
}
.pop .popWrap .twoDepthIB .page .p_row .p_col .thumb .topDiv .nameWrap{font-size: 22px; line-height: 30px; text-align: center; font-family: 'PTSansNarrow';color: #000;}
.pop .popWrap .twoDepthIB .page .p_row .p_col .thumb .bottomDiv{font-size: 0; height: 38px; box-sizing: border-box;border-radius: 0 0 5px 5px;}
.pop .popWrap .twoDepthIB .page .p_row .p_col .thumb .bottomDiv .proName{display: inline-block; line-height: 36px; font-size: 19px; color: #000; font-family: 'PTSansNarrow'; text-align: center;width: 212px; background: url(../images/tv/bg_nameLine.png)no-repeat 100% 50%;}
.pop .popWrap .twoDepthIB .page .p_row .p_col .thumb .bottomDiv .proNum{display: inline-block; line-height: 36px; font-size: 19px; color: #bc0000;font-family: 'PTSansNarrow'; text-align: center;width: 66px;}
.pop .popWrap .twoDepthIB .page .p_row .p_col .list{ width: 100%; border-radius: 5px;border:1px solid #929292;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=0, Color=#BDBDBD)";/*IE 8*/
-moz-box-shadow: 0 3px 4px rgba(189,189,189,0.5);/*FF 3.5+*/
-webkit-box-shadow: 0 3px 4px rgba(189,189,189,0.5);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/
box-shadow: 0 3px 4px rgba(189,189,189,0.5);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=4, Direction=135, Color=#BDBDBD); /*IE 5.5-7*/}
.pop .popWrap .twoDepthIB .page .p_row .p_col .list .titleWrap{font-size: 0;background: #d6dce5;}
.pop .popWrap .twoDepthIB .page .p_row .p_col .list .titleWrap .f_txt{display: inline-block; font-size: 22px;line-height: 37px; text-align: center; color: #1b1b1b; width: 88px; background: url(../images/tv/bg_nameLine.png)no-repeat 100% 50%;font-family: 'PTSansNarrow';}
.pop .popWrap .twoDepthIB .page .p_row .p_col .list .titleWrap .s_txt{display: inline-block;font-size: 20px;line-height: 37px; text-align: center; color:#1b1b1b;font-family: 'PTSansNarrow';width: 192px;}
.pop .popWrap .twoDepthIB .page .p_row .p_col .list ul li{text-align: center;font-size: 20px; color: #000; line-height: 28px; font-family: 'NotoKrM';}
.pop .popWrap .twoDepthIB .page .p_row .p_col .list ul li:nth-child(even){background: #f3f3f3}

.pop .popWrap .twoDepthIB.pro60 .page .p_row .p_col{ float: left; width:13.2%; margin-right: 27px; background: #fff; }
.pop .popWrap .twoDepthIB.pro43 .page .p_row .p_col{ float: left; width:18.58%; margin-right: 27px; background: #fff; }


.pop .popWrap .twoDepthIB .page .p_row .p_col .nodata{ min-height: 180px; box-sizing: border-box;}
.pop .popWrap .twoDepthIB .page .p_row .p_col .nodata.no_left{text-align: left; padding-top: 40px;}
.pop .popWrap .twoDepthIB .page .p_row .p_col .nodata.no_right{text-align: right; padding-top: 40px;}
.pop .popWrap .oneDepthRow .oneDepthIB .twoDepthCol .alarm {padding-top: 25px; padding-right: 10px;}
.pop .popWrap .oneDepthRow .oneDepthIB .twoDepthCol .alarm h2{font-size: 40px; color: #fff; padding-left: 56px; position: relative;padding-bottom: 23px;}
.pop .popWrap .oneDepthRow .oneDepthIB .twoDepthCol .alarm h2:before{content: ''; width: 32px; height: 36px; display: block; position: absolute; top:11px; left: 5px;background: url(../images/tv/ico_alarm.png)no-repeat 0 0;}
.alarmList {
	position: relative;
	background: #f7f7f7;
	height: 54px;
	border-radius: 5px;
	margin-left: 35px;
	margin-bottom: 7px;
-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=0, Color=#0D1A28)";/*IE 8*/
-moz-box-shadow: 0 0 1px 1px #0D1A28;/*FF 3.5+*/
-webkit-box-shadow: 0 0 2px 1px #0D1A28;/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */
filter: progid:DXImageTransform.Microsoft.Shadow(Strength=1, Direction=135, Color=#0D1A28);
	box-shadow: 0 0 2px 1px #0D1A28;
	font-size: 0; /*IE 5.5-7*/
}
.alarmList *{vertical-align: top;}
.alarmList .dateTxt{display: inline-block; font-size: 24px; color: #175995; line-height: 52px; font-family: 'PTSansNarrow';width: 25%;text-align: center;}
.alarmList .progressTxt{display: inline-block; font-size: 24px; color: #223b51; line-height: 52px;width: 74%;}
.alarmList .progressTxt b{color: #0b141c; font-family: 'PTSansNarrow';}

.alarmList:before {content: ''; width: 23px; height: 21px; position: absolute; top:10px; left: -23px; background: url(../images/tv/bg_list_arrow.png)no-repeat 0 0;}


.thb_gray{background: #adb9ca;}
.thb_blue{background: #bdd7ee;}
.thb_green{background: #d5eac6;}
.thb_purple{background: #d2c7df;}

.tab_black{background: #111;}
.tab_blue{background: #002652;}
.tab_green{background: #00900b;}
.tab_purple{background: #6222c0;}

.pro_green{border:1px solid #37b040; background: #73dd77;}
.pro_blue{border:1px solid #67a8e3; background: #68aeed;}

.bodyWrap.mct{padding-right:60px;}
.bodyWrap.mct .header .left{float: left;}
.bodyWrap.mct .header .left .title{position: relative; float: left;}
.bodyWrap.mct .header .left .infoTit{font-size: 30px; color: #fff; line-height: 50px; position: relative; margin-right: 35px; float: left; padding-left: 67px;}
.bodyWrap.mct .header .left .infoTit:before{content: ''; position: absolute; top: -5px; left: 0; width: 57px; height: 63px;}
.bodyWrap.mct .header .left .infoContsWrap{overflow:hidden; padding-top: 13px;}
.bodyWrap.mct .header .left .infoContsWrap div{width: auto; height: 50px; float: left; text-align: center; font-family: 'PTSansNarrow'; font-size: 0; color: #000;}
.bodyWrap.mct .header .left .infoContsWrap div~div{margin-left: 15px;}
.bodyWrap.mct .header .left .infoCont span:nth-child(1){background: url(../images/tv/bg_date.png) no-repeat 0 0; width: 165px; height: 50px; line-height:50px; color: #fff; display: inline-block; font-size: 24px;}
.bodyWrap.mct .header .left .infoCont:nth-child(1) span:nth-child(1){width: 115px; background-size: 100% 100%;}
.bodyWrap.mct .header .left .infoCont span:nth-child(2){background: url(../images/tv/bg_per.png) no-repeat 0 0; width: 114px; height: 50px; line-height:50px; display: inline-block; font-size: 24px; vertical-align: top;}
.bodyWrap.mct .header .left .infoCont span.txtB,.pop.ty2 .conWrap .percentWrap span.txtB{color: #0056a8;}
.bodyWrap.mct .header .left .infoCont span.txtR,.pop.ty2 .conWrap .percentWrap span.txtR{color: #670000;}

.bodyWrap.mct .header .right{float: right; padding-top: 10px;}
.bodyWrap.mct .header .right .infoTit{font-size: 30px; color: #fff; line-height: 58px; position: relative; margin-right: 10px; float: left; padding-left: 67px;}
.bodyWrap.mct .header .right .infoTit:before{content: ''; position: absolute; top: -5px; left: 0; background: url(../images/tv/pin.png) no-repeat 0 0; width: 57px; height: 63px;}
.bodyWrap.mct .header .right .infoContsWrap{overflow:hidden;}
.bodyWrap.mct .header .right .infoContsWrap div{width: auto; height: 58px; float: left; text-align: center; font-family: 'PTSansNarrow'; font-size: 0; color: #000;}
.bodyWrap.mct .header .right .infoContsWrap div~div{margin-left: 15px;}
.bodyWrap.mct .header .right .infoCont span:nth-child(1){background: url(../images/tv/bg_date.png) no-repeat 0 0; width: 165px; height: 50px; line-height:50px; color: #fff; display: inline-block; font-size: 24px;}
.bodyWrap.mct .header .right .infoCont:nth-child(1) span:nth-child(1){width: 115px; background-size: 100% 100%;}
.bodyWrap.mct .header .right .infoCont span:nth-child(2){background: url(../images/tv/bg_per.png) no-repeat 0 0; width: 114px; height: 50px; line-height:50px; display: inline-block; font-size: 24px; vertical-align: top;}
.bodyWrap.mct .header .right .infoCont span.txtB,.pop.ty2 .conWrap .percentWrap span.txtB{color: #0056a8;}
.bodyWrap.mct .header .right .infoCont span.txtR,.pop.ty2 .conWrap .percentWrap span.txtR{color: #670000;}
.pop .popWrap .oneDepthRow .oneDepthIB .twoDepthCol .pro{ max-width: 100%; width: 100%;}
/*.pop .popWrap .oneDepthRow .oneDepthIB .twoDepthCol .pro30{width:30.1%;}*/
/*.pop .popWrap .oneDepthRow .oneDepthIB .twoDepthCol .pro16{width:16%;}*/
/*.pop.ty2 .popWrap .oneDepthRow .oneDepthIB .twoDepthCol .twoDepthIB{margin-right: 96px;}*/
.pop.ty2 .popWrap .oneDepthRow .oneDepthIB .twoDepthCol .twoDepthIB:lasft-child{margin-right: 0;}
.pop.ty2 .popWrap .twoDepthIB .page .p_row{padding:21px 22px 0;}
.pop.ty2 .popWrap .twoDepthIB .page .p_row .p_col{width:490px; height:300px; float:left;}
.pop.ty2 .popWrap .twoDepthIB .page .p_row .p_col~.p_col{margin-left:30px;}
.pop .popWrap .twoDepthIB .page .p_row .p_col .statusWrap{width:100%;}
.statusWrap .statusBar{height: 50px; line-height: 50px; color:#fff; font-size: 19px; text-align: center; font-family: 'NotoKrR';}
.statusWrap .statusBar .inBox{float: left;}
.statusWrap .statusBar .inBox:nth-child(1){width:120px; background-color: #11467e; font-size: 22px; font-family: 'PTSansNarrow';}
.statusWrap .statusBar .inBox:nth-child(2){width:100px; background-color: #195da4;}
.statusWrap .statusBar .inBox:nth-child(3){width:270px; background-color: #094255;}
.statusWrap .statusBar .inBox:nth-child(3) div{float:left; width:50%;}
/*.statusWrap .statusBar .inBox:nth-child(3) div:first-child{ background: url(../images/tv/bg_line.png) no-repeat 100% 50%;}*/
.statusWrap .statusBar .inBox:nth-child(3) .txtY{color:#fff100;}
.statusWrap .statusConts{padding:6px; box-sizing: border-box; background-color: #f5fcfe; overflow: hidden; border: 1px solid #5483b3; height: 250px;}
.statusWrap .statusConts .inWrap{width:100%; height:52px; border: 2px solid #d8e9ee; border-radius: 10px; box-sizing: border-box; background-color: #fff; font-size:0; padding: 2px 30px;}
.statusWrap .statusConts .inWrap~.inWrap{margin-top:6px;}
.statusWrap .statusConts .inWrap>a>span{display: inline-block; font-size: 16px; line-height: 22px; text-align: center; width:15%; vertical-align: middle; color: #000;}
.statusWrap .statusConts .inWrap>a>span:nth-child(2){width:55%;}
.statusWrap .statusConts .inWrap>a>span:nth-child(2) .txtB{font-family: 'PTSansNarrow'; font-size: 18px;}
.statusWrap .statusConts .inWrap .txtB.ty2{color: #2846b6;}
.statusWrap .statusConts .inWrap .nodata{min-height: 58px !important; width:100%;}
.statusWrap .statusConts .inWrap.on{font-family: 'PTSansNarrow'; padding: 0 30px; background-color: #e2f8fe; border: 2px solid #8ed4e6; height: 62px;}
.statusWrap .statusConts .inWrap.ty2.on{background-color: #dae6fa; border: 2px solid #8eaee6;}
.statusWrap .statusConts .inWrap.on>a>span{font-size: 18px; line-height: 24px; padding: 5px 0;}
.statusWrap .statusConts .inWrap.on>a>span:nth-child(2) .txtB{color: #1233af; font-size: 20px;}
.statusWrap .statusConts .inWrap.on .txtR{color: #d41616; font-size: 19px;}
.statusTblWrap{padding:25px 1.25%; box-sizing: border-box; overflow: hidden; background-color: #f8f9fa; border-radius: 5px;}
.statusTblWrap .statusTblBox{width:800px; float: left; color: #000;}
.statusTblWrap .statusTblBox.w1260{width: 1260px;}
.statusTblWrap .statusTblBox.w1150{width: 1150px;}
.statusTblWrap .statusTblBox.w1100{width: 1100px;}
.statusTblWrap .statusTblBox.w960{width: 960px;}
.statusTblWrap .statusTblBox.w900{width: 900px;}
.statusTblWrap .statusTblBox~.statusTblBox{margin-left:50px;}
.statusTblWrap .tblTitWrap{overflow:hidden; padding-bottom: 20px;}
.statusTblWrap .tblTitWrap .tblTit{float: left; font-size: 30px; position: relative; padding-left: 63px;}
.statusTblWrap .tblTitWrap .tblTit span{color: #14347a; font-family: 'PTSansNarrow';}
.statusTblWrap .tblTitWrap .tblTit.ty3 span,.statusTblWrap .tblTitWrap .tblTit.ty4 span{color: #000;}
.statusTblWrap .tblTitWrap .tblTit:before{content: ''; position: absolute; top: 0; left: 0; background: url(../images/tv/icon_1.png) no-repeat 0 0; width:48px; height: 48px;}
.statusTblWrap .tblTitWrap .tblTit.ty2:before{background: url(../images/tv/icon_2.png) no-repeat 0 0;}
.statusTblWrap .tblTitWrap .tblTit.ty3:before{background: url(../images/tv/icon_3.png) no-repeat 0 0;}
.statusTblWrap .tblTitWrap .tblTit.ty4:before{background: url(../images/tv/icon_4.png) no-repeat 0 0;}
.statusTblWrap .tblTitWrap .tblDate{float: right; font-size: 24px; padding-top: 9px;}
.statusTblWrap .tblWrap table{width:100%; background-color: #fff; border: 1px solid #e3e3e3; box-sizing: border-box; border-bottom-left-radius: 10px; border-bottom-right-radius: 10px; border-collapse: inherit; -ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=0, Color=#000000)";/*IE 8*/ -moz-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*FF 3.5+*/ -webkit-box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/*Saf3-4, Chrome, iOS 4.0.2-4.2, Android 2.3+*/ box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);/* FF3.5+, Opera 9+, Saf1+, Chrome, IE10 */ filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=135, Color=#000000);}
.statusTblWrap .tblWrap table th{font-size: 20px; color: #fff; height: 52px; line-height: 52px; text-align: center; background-color: #2850a7;}
.statusTblWrap .tblWrap table th:nth-child(2n){background-color: #3367d6;}
.statusTblWrap .tblWrap table td{font-size: 20px; color: #000; text-align: center; height: 47px; line-height: 47px; border-bottom: 1px solid #e3e3e3;}
.statusTblWrap .tblWrap table tr:last-child td{border-bottom: 0;}
.statusTblWrap .tblWrap table td.alignLeft{text-align: left; padding-left: 15px;}
.statusTblWrap .tblWrap table td.txtR{color: #cb1c04;}
.statusTblWrap .tblWrap table td.txtR.bold{font-family: 'PTSansNarrow';}
.statusTblWrap .tblWrap table td .nodata{min-height: 48px;}
.pop.ty2 .conWrap .percentWrap{position: absolute; top: 25px; left: 275px; font-size: 0;}
.pop.ty2 .conWrap .percentWrap span{display: inline-block; width: 95px; height: 48px; line-height: 46px; font-size: 27px; color: #000; font-family: 'PTSansNarrow'; text-align: center; background-color: #fff; border: 1px solid #99a3a7; box-sizing: border-box;}
.pop.ty2 .conWrap .percentWrap span~span{margin-left: 2px;}

.pop.ty2 .conWrap2 .percentWrap{position: absolute; top: 20px; left: 260px; font-size: 0;}
.pop.ty2 .conWrap2 .percentWrap span{display: inline-block; width: 90px; height: 42px; line-height: 42px; font-size: 25px; color: #000; font-family: 'PTSansNarrow'; text-align: center; background-color: #fff; border: 1px solid #99a3a7; box-sizing: border-box;}
.pop.ty2 .conWrap2 .percentWrap span~span{margin-left: 2px;}
.bodyWrap.mct .header .right .infoCont span.txtB,.pop.ty2 .conWrap2 .percentWrap span.txtB{color: #0056a8;}
.bodyWrap.mct .header .right .infoCont span.txtR,.pop.ty2 .conWrap2 .percentWrap span.txtR{color: #670000;}