<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//ibatis.apache.org//DTD Mapper 3.0//EN" "http://ibatis.apache.org/dtd/ibatis-3-mapper.dtd">

<mapper namespace="systemMapper">

    <select id="getUserAuthorize" parameterType="java.util.HashMap" resultType="java.util.HashMap">
		SELECT DATE_FORMAT(NOW(), '%Y%m%d') AS CURDATE FROM DUAL
	</select>

    <select id="selectUserMasterList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT USER_ID,
               USER_NM,
               USER_PWD,
               DEL_YN,
               SF_GET_CODE_NM(1045, DEL_YN, 'EN') AS DEL_YN_NM
        FROM TBL_USER
        WHERE 1=1
        <if test="user_id != null and user_id != ''">
            AND USER_ID LIKE CONCAT('%', #{user_id}, '%')
        </if>
        LIMIT 20
    </select>

    <insert id="insertUser" parameterType="java.util.HashMap">
		INSERT INTO TBL_USER
            (USER_ID, USER_NM, USER_PWD, DEL_YN, ROLE_SEQ, INSERT_DT, INSERT_ID, UPDATE_DT, UPDATE_ID)
        VALUES(#{USER_ID}, #{USER_NM}, #{USER_PWD}, 'N', NULL, current_timestamp(), NULL, NULL, NULL)
	</insert>

    <update id="updateUser" parameterType="java.util.HashMap">
      UPDATE TBL_USER
      SET USER_NM = #{USER_NM},
          USER_PWD = #{USER_PWD}
      WHERE USER_ID = #{USER_ID}
   </update>

    <delete id="deleteUser" parameterType="java.util.HashMap">
      DELETE FROM TBL_USER
      WHERE USER_ID = #{USER_ID}
           AND USER_NM = #{USER_NM}
   </delete>

    <select id="selectSessionCodeList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT A.HIGH_CD, A.CODE_CD, B.CODE_NM AS CODE_NM_KR, C.CODE_NM AS CODE_NM_EN, A.REF_CD
        FROM TBL_CODE A
            INNER JOIN TBL_CODE_LANG B ON A.HIGH_CD = B.HIGH_CD AND A.CODE_CD = B.CODE_CD AND B.LANG_CD = 'KR'
            INNER JOIN TBL_CODE_LANG C ON A.HIGH_CD = C.HIGH_CD AND A.CODE_CD = C.CODE_CD AND C.LANG_CD = 'EN'
        WHERE A.DEL_YN = 'N'
    </select>

    <select id="selectSessionMenuList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        WITH RECURSIVE MENU_CTE AS
		(
			SELECT
                A.MENU_SEQ, A.MENU_LINK, A.PARENT_MENU_SEQ, A.SORT_NUM, A.DEL_YN, A.NOTE,
				B.MENU_NM AS MENU_NM_KR, C.MENU_NM AS MENU_NM_EN,
				SF_GET_CODE_NM(1045, A.DEL_YN, 'EN') AS DEL_YN_NM,
                CONCAT(A.SORT_NUM, 0) AS CD_NO
			FROM TBL_MENU A
				INNER JOIN TBL_MENU_LANG B ON A.MENU_SEQ = B.MENU_SEQ AND B.LANG_CD = 'KR'
				INNER JOIN TBL_MENU_LANG C ON A.MENU_SEQ = C.MENU_SEQ AND C.LANG_CD = 'EN'
			WHERE 1 = 1
				AND A.DEL_YN = 'N' AND A.PARENT_MENU_SEQ = 0
			UNION ALL
			SELECT
                A.MENU_SEQ, A.MENU_LINK, A.PARENT_MENU_SEQ, A.SORT_NUM, A.DEL_YN, A.NOTE,
				B.MENU_NM AS MENU_NM_KR, C.MENU_NM AS MENU_NM_EN,
				SF_GET_CODE_NM(1045, A.DEL_YN, 'EN') AS DEL_YN_NM,
                CONCAT(D.SORT_NUM, A.SORT_NUM) AS CD_NO
			FROM TBL_MENU A
				INNER JOIN TBL_MENU_LANG B ON A.MENU_SEQ = B.MENU_SEQ AND B.LANG_CD = 'KR'
				INNER JOIN TBL_MENU_LANG C ON A.MENU_SEQ = C.MENU_SEQ AND C.LANG_CD = 'EN'
				INNER JOIN TBL_MENU D ON A.PARENT_MENU_SEQ = D.MENU_SEQ
				INNER JOIN MENU_CTE E ON E.MENU_SEQ = A.PARENT_MENU_SEQ
			WHERE 1 = 1
				AND A.DEL_YN = 'N'
				AND A.PARENT_MENU_SEQ > 0
		)
		SELECT
			A.MENU_SEQ, CONCAT('/static', B.MENU_LINK, A.MENU_LINK) AS MENU_LINK,
			CASE WHEN A.PARENT_MENU_SEQ = '0' THEN A.MENU_NM_EN ELSE '' END PARENT_MENU_NM,
			CASE WHEN A.PARENT_MENU_SEQ = '0' THEN '' ELSE A.MENU_NM_EN END MENU_NM,
			A.PARENT_MENU_SEQ, CONCAT(1000, CD_NO) AS CD_NO
		FROM MENU_CTE A
			LEFT OUTER JOIN TBL_MENU B ON A.PARENT_MENU_SEQ = B.MENU_SEQ
		WHERE 1 = 1
		ORDER BY CAST(A.CD_NO AS DOUBLE)
    </select>

    <select id="selectUserTopMenuList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            A.MENU_SEQ, A.MENU_LINK, A.PARENT_MENU_SEQ, A.SORT_NUM, A.DEL_YN, A.NOTE,
			B.MENU_NM AS MENU_NM_KR, C.MENU_NM AS MENU_NM_EN,
			SF_GET_CODE_NM(1045, A.DEL_YN, 'EN') AS DEL_YN_NM
        FROM TBL_MENU A
            INNER JOIN TBL_MENU_LANG B ON A.MENU_SEQ = B.MENU_SEQ AND B.LANG_CD = 'KR'
            INNER JOIN TBL_MENU_LANG C ON A.MENU_SEQ = C.MENU_SEQ AND C.LANG_CD = 'EN'
        WHERE A.PARENT_MENU_SEQ = 0
    </select>

    <select id="selectUserSubMenuList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
      SELECT
            A.MENU_SEQ, A.MENU_SEQ AS MENU_SUB_SEQ, A.MENU_LINK, #{PARENT_MENU_SEQ} AS PARENT_MENU_SEQ, A.SORT_NUM, A.DEL_YN, A.NOTE,
			B.MENU_NM AS MENU_NM_KR, C.MENU_NM AS MENU_NM_EN,
			SF_GET_CODE_NM(1045, A.DEL_YN, 'EN') AS DEL_YN_NM
        FROM TBL_MENU A
            INNER JOIN TBL_MENU_LANG B ON A.MENU_SEQ = B.MENU_SEQ AND B.LANG_CD = 'KR'
            INNER JOIN TBL_MENU_LANG C ON A.MENU_SEQ = C.MENU_SEQ AND C.LANG_CD = 'EN'
        WHERE A.PARENT_MENU_SEQ = #{PARENT_MENU_SEQ}
    </select>

    <insert id="insertTopMenuCode" parameterType="java.util.HashMap" >
       INSERT INTO TBL_MENU
         (MENU_SEQ, MENU_LINK, PARENT_MENU_SEQ, SORT_NUM, DEL_YN, NOTE, INSERT_ID)
      VALUES
         (NEXTVAL(SEQ_MENU), #{MENU_LINK}, '0', #{SORT_NUM}, #{DEL_YN_NM}, #{NOTE}, NULL)
   </insert>

    <insert id="insertTopMenuKr" parameterType="java.util.HashMap">
       INSERT INTO TBL_MENU_LANG(MENU_SEQ, LANG_CD, MENU_NM, INSERT_DT, INSERT_ID)
       VALUES(LASTVAL(SEQ_MENU), 'KR', #{MENU_NM_KR}, NOW(), NULL)
   </insert>

    <insert id="insertTopMenuEn" parameterType="java.util.HashMap">
       INSERT INTO TBL_MENU_LANG(MENU_SEQ, LANG_CD, MENU_NM, INSERT_DT, INSERT_ID)
       VALUES(LASTVAL(SEQ_MENU), 'EN', #{MENU_NM_EN}, NOW(), NULL)
   </insert>

    <update id="updateTopMenuCode" parameterType="java.util.HashMap" >
        UPDATE TBL_MENU
            SET MENU_LINK = #{MENU_LINK},
                SORT_NUM = #{SORT_NUM},
                DEL_YN = #{DEL_YN_NM},
                NOTE = #{NOTE},
                UPDATE_DT = NOW(),
                UPDATE_ID = NULL
            WHERE MENU_SEQ = #{MENU_SEQ}
   </update>

    <update id="updateTopMenuKr" parameterType="java.util.HashMap" >
        UPDATE TBL_MENU_LANG
            SET MENU_NM = #{MENU_NM_KR},
                UPDATE_DT = NOW(),
                UPDATE_ID = NULL
        WHERE MENU_SEQ = #{MENU_SEQ}
            AND LANG_CD = 'KR'
    </update>

    <update id="updateTopMenuEn" parameterType="java.util.HashMap" >
        UPDATE TBL_MENU_LANG
            SET MENU_NM = #{MENU_NM_EN},
                UPDATE_DT = NOW(),
                UPDATE_ID = NULL
        WHERE MENU_SEQ = #{MENU_SEQ}
            AND LANG_CD = 'EN'
    </update>

    <insert id="insertSubMenuCode" parameterType="java.util.HashMap" >
    	INSERT INTO TBL_MENU
            (MENU_SEQ, MENU_LINK, PARENT_MENU_SEQ, SORT_NUM, DEL_YN, NOTE, INSERT_ID)
        VALUES
            (NEXTVAL(SEQ_MENU), #{MENU_LINK}, #{PARENT_MENU_SEQ}, #{SORT_NUM}, #{DEL_YN_NM}, #{NOTE}, NULL)
	</insert>

    <update id="updateSubMenuCode" parameterType="java.util.HashMap" >
    	UPDATE TBL_MENU
            SET MENU_LINK = #{MENU_LINK},
                PARENT_MENU_SEQ = #{PARENT_MENU_SEQ},
                SORT_NUM = #{SORT_NUM},
                DEL_YN = #{DEL_YN_NM},
                NOTE = #{NOTE},
                UPDATE_DT = NOW(),
                UPDATE_ID = NULL
        WHERE MENU_SEQ = #{MENU_SEQ}
	</update>

    <select id="selectCommoGroupNextSequence" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT NEXT VALUE FOR SEQ_CODE_GROUP AS SEQ
    </select>

    <select id="selectCommonGroupCodeList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT HIGH_CD,
               HIGH_NM,
               DEL_YN,
               SF_GET_CODE_NM(1045, DEL_YN, 'EN') AS DEL_YN_NM,
               NOTE
        FROM TBL_CODE_GROUP
        WHERE 1 = 1
        <if test="HIGH_NM != null and HIGH_NM != ''">
            AND HIGH_NM LIKE CONCAT('%', #{HIGH_NM}, '%')
        </if>
    </select>

    <insert id="insertCommonGroupCode" parameterType="java.util.HashMap">
        INSERT INTO TBL_CODE_GROUP
            (HIGH_CD, HIGH_NM, DEL_YN, NOTE, INSERT_DT, INSERT_ID, UPDATE_DT, UPDATE_ID)
        VALUES(#{HIGH_CD}, #{HIGH_NM}, #{DEL_YN}, #{NOTE}, current_timestamp(), NULL, NULL, NULL)
	</insert>

    <update id="updateCommonGroupCode"  parameterType="java.util.HashMap" >
        UPDATE TBL_CODE_GROUP
        SET HIGH_NM = #{HIGH_NM},
            DEL_YN = #{DEL_YN},
            NOTE = #{NOTE},
            UPDATE_DT = current_timestamp(),
            UPDATE_ID = NULL
        WHERE HIGH_CD = #{HIGH_CD}
   </update>

    <select id="selectCommonCodeList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT HIGH_CD,
               CODE_CD,
                <foreach item="item" index="index" collection="LANG_CD">
                    (SELECT CODE_NM
                    FROM TBL_CODE_LANG
                    WHERE HIGH_CD = A.HIGH_CD
                    AND CODE_CD = A.CODE_CD
                    AND LANG_CD = #{item}) AS CODE_NM_${item},
                </foreach>
               DEL_YN,
               SF_GET_CODE_NM(1045, DEL_YN, 'EN') AS DEL_YN_NM,
               SORT_NUM,
               REF_CD,
               NOTE
        FROM TBL_CODE A
        WHERE 1 = 1
        <if test="HIGH_CD != null and HIGH_CD != ''">
            AND HIGH_CD = #{HIGH_CD}
        </if>
        ORDER BY SORT_NUM
    </select>

    <insert id="insertCommonCode" parameterType="java.util.HashMap">
        INSERT INTO TBL_CODE (
            HIGH_CD,
            CODE_CD,
            REF_CD,
            SORT_NUM,
            DEL_YN,
            NOTE,
            INSERT_DT,
            INSERT_ID
        ) VALUES(
            #{HIGH_CD},
            #{CODE_CD},
            #{REF_CD},
            #{SORT_NUM},
            #{DEL_YN},
            #{NOTE},
            current_timestamp(),
            'xmaseve96'
        )
	</insert>

    <insert id="insertCommonLangCode" parameterType="java.util.HashMap">
        INSERT INTO TBL_CODE_LANG (
            HIGH_CD,
            CODE_CD,
            LANG_CD,
            CODE_NM,
            INSERT_DT,
            INSERT_ID
        ) VALUES (
            #{HIGH_CD},
            #{CODE_CD},
            #{LANG_CD},
            #{CODE_NM},
            current_timestamp(),
            'xmaseve96'
        )
	</insert>

    <update id="updateCommonCode"  parameterType="java.util.HashMap" >
        UPDATE TBL_CODE
    	SET REF_CD = #{REF_CD},
            SORT_NUM = #{SORT_NUM},
            DEL_YN = #{DEL_YN},
            NOTE = #{NOTE},
            UPDATE_DT = current_timestamp(),
            UPDATE_ID = 'xmaseve96'
        WHERE HIGH_CD = #{HIGH_CD}
        	  AND CODE_CD = #{CODE_CD}
   </update>

    <update id="updateCommonLangCode"  parameterType="java.util.HashMap" >
        INSERT INTO TBL_CODE_LANG (
            HIGH_CD,
            CODE_CD,
            LANG_CD,
            CODE_NM,
            INSERT_DT
--             ,INSERT_ID
        ) VALUES (
            #{HIGH_CD},
            #{CODE_CD},
            #{LANG_CD},
            #{CODE_NM},
            current_timestamp()
--             ,'xmaseve96'
        ) ON DUPLICATE KEY
            UPDATE
	        	CODE_NM = #{CODE_NM}
-- 	            ,UPDATE_DT = current_timestamp()
-- 	            ,UPDATE_ID = 'xmaseve96'
   </update>

    <select id="selectAuthorityGroupList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT ROLE_SEQ,
               ROLE_NM,
               DEL_YN,
               SF_GET_CODE_NM(1045, DEL_YN, 'EN') AS DEL_YN_NM,
               NOTE
        FROM TBL_ROLE
        WHERE 1 = 1
        <if test="ROLE_NM != null and ROLE_NM != ''">
            AND ROLE_NM LIKE CONCAT('%', #{ROLE_NM}, '%')
        </if>
    </select>

    <insert id="insertAuthorityGroup" parameterType="java.util.HashMap">
        INSERT INTO TBL_ROLE (
            ROLE_SEQ,
            ROLE_NM,
            DEL_YN,
            NOTE,
            INSERT_DT,
            INSERT_ID
        ) VALUES(
            #{ROLE_SEQ},
            #{ROLE_NM},
            #{DEL_YN},
            #{NOTE},
            current_timestamp(),
            'xmaseve96'
        )
	</insert>

    <update id="updateAuthorityGroup"  parameterType="java.util.HashMap" >
        UPDATE TBL_ROLE
        SET ROLE_NM = #{ROLE_NM},
            DEL_YN = #{DEL_YN},
            NOTE = #{NOTE},
            UPDATE_DT = current_timestamp(),
            UPDATE_ID = 'xmaseve96'
        WHERE ROLE_SEQ = #{ROLE_SEQ}
   </update>

    <select id="selectCommonLangList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT A.LANG_CD
        FROM TBL_CODE_LANG A
        INNER JOIN TBL_CODE B ON A.HIGH_CD = B.HIGH_CD
                                 AND A.CODE_CD = B.CODE_CD
        WHERE A.HIGH_CD = #{HIGH_CD}
        GROUP BY A.HIGH_CD, A.LANG_CD
    </select>
    <select id="selectAuthorityMenuManagementList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        WITH RECURSIVE MENU_CTE AS
		(
			SELECT
                A.MENU_SEQ, A.MENU_LINK, A.PARENT_MENU_SEQ, A.SORT_NUM, A.DEL_YN, A.NOTE,
				B.MENU_NM AS MENU_NM_KR, C.MENU_NM AS MENU_NM_EN,
				SF_GET_CODE_NM(1045, A.DEL_YN, 'EN') AS DEL_YN_NM,
                CONCAT(A.SORT_NUM, 0) AS CD_NO
			FROM TBL_MENU A
				INNER JOIN TBL_MENU_LANG B ON A.MENU_SEQ = B.MENU_SEQ AND B.LANG_CD = 'KR'
				INNER JOIN TBL_MENU_LANG C ON A.MENU_SEQ = C.MENU_SEQ AND C.LANG_CD = 'EN'
			WHERE 1 = 1
				AND A.DEL_YN = 'N' AND A.PARENT_MENU_SEQ = 0
			UNION ALL
			SELECT
                A.MENU_SEQ, A.MENU_LINK, A.PARENT_MENU_SEQ, A.SORT_NUM, A.DEL_YN, A.NOTE,
				B.MENU_NM AS MENU_NM_KR, C.MENU_NM AS MENU_NM_EN,
				SF_GET_CODE_NM(1045, A.DEL_YN, 'EN') AS DEL_YN_NM,
                CONCAT(D.SORT_NUM, A.SORT_NUM) AS CD_NO
			FROM TBL_MENU A
				INNER JOIN TBL_MENU_LANG B ON A.MENU_SEQ = B.MENU_SEQ AND B.LANG_CD = 'KR'
				INNER JOIN TBL_MENU_LANG C ON A.MENU_SEQ = C.MENU_SEQ AND C.LANG_CD = 'EN'
				INNER JOIN TBL_MENU D ON A.PARENT_MENU_SEQ = D.MENU_SEQ
				INNER JOIN MENU_CTE E ON E.MENU_SEQ = A.PARENT_MENU_SEQ
			WHERE 1 = 1
				AND A.DEL_YN = 'N'
				AND A.PARENT_MENU_SEQ >= 1
		)
		SELECT
			A.MENU_SEQ,
			CASE WHEN A.PARENT_MENU_SEQ = '0' THEN A.MENU_NM_EN ELSE '' END PARENT_MENU_NM,
			CASE WHEN A.PARENT_MENU_SEQ = '0' THEN '' ELSE A.MENU_NM_EN END MENU_NM,
			A.PARENT_MENU_SEQ, #{ROLE_SEQ} AS ROLE_SEQ, CONCAT(#{ROLE_SEQ}, CD_NO) AS CD_NO,
            IFNULL(C.ACCESS_CD, '0') AS ACCESS_CD, SF_GET_CODE_NM('1046', IFNULL(C.ACCESS_CD, '0'), 'EN') AS ACCESS_NM
		FROM MENU_CTE A
			LEFT OUTER JOIN TBL_MENU B ON A.PARENT_MENU_SEQ = B.MENU_SEQ
			LEFT OUTER JOIN TBL_ROLE_MENU C ON A.MENU_SEQ = C.MENU_SEQ AND ROLE_SEQ = #{ROLE_SEQ}
		WHERE 1 = 1
		ORDER BY CAST(A.CD_NO AS DOUBLE)
    </select>

    <insert id="insertAuthorityMenuManagement" parameterType="java.util.HashMap">
        INSERT INTO TBL_ROLE_MENU(ROLE_SEQ, MENU_SEQ, ACCESS_CD, INSERT_ID)
        VALUES(#{ROLE_SEQ}, #{MENU_SEQ}, #{ACCESS_CD}, NULL)
        ON DUPLICATE KEY UPDATE
            ACCESS_CD = #{ACCESS_CD},
            UPDATE_ID = NULL,
            UPDATE_DT = NOW()
	</insert>

    <update id="updateAuthorityMenuManagement"  parameterType="java.util.HashMap" >

    </update>

    <select id="getCompanyMasterList" parameterType="java.util.HashMap" resultType="java.util.HashMap">
        SELECT
            A.COMP_CD, A.COMP_KIND, A.COMP_NM, A.CEO_NM, A.COMP_NUM, A.COMP_TYPE, A.CHARGE_USER_ID, A.COMP_TEL, A.COMP_ADDRESS, A.COMP_EMAIL,
            A.LOGO_GFILE_SEQ, A.SIGN_GFILE_SEQ, A.ETC_GFILE_SEQ, A.ACTIVE_YN, A.NOTE,
            B.STAFF_NM, B.STAFF_EMAIL,
            jmes.SF_GET_CODE_NM('10000', A.COMP_KIND, 'KR') as COMP_KIND_NM,
            jmes.SF_GET_CODE_NM('10000', A.COMP_TYPE, 'KR') as COMP_TYPE_NM,
            jmes.SF_GET_CODE_NM('10000', A.ACTIVE_YN, 'KR') as ACTIVE_YN_NM,
            DATE_FORMAT(A.INSERT_DT, '%Y/%m/%d') AS INSERT_DT, A.INSERT_ID, DATE_FORMAT(A.UPDATE_DT, '%Y/%m/%d') AS UPDATE_DT, A.UPDATE_ID
        FROM jmes.TBL_COMPANY A
            LEFT OUTER JOIN jmes.TBL_COMPANY_STAFF B ON A.COMP_CD = B.COMP_CD
                AND STAFF_SEQ = (SELECT STAFF_SEQ FROM jmes.TBL_COMPANY_STAFF C
                                    WHERE B.COMP_CD = C.COMP_CD AND C.DEL_YN = 'N' AND C.MAIN_YN = 'Y' ORDER BY C.UPDATE_DT DESC LIMIT 1
                                )
        WHERE A.DEL_YN = 'N'
            <if test="SEL_COMP_CLASS != null and SEL_COMP_CLASS != ''">
                AND A.COMP_KIND LIKE CONCAT('%', #{SEL_COMP_KIND}, '%')
            </if>
            <if test="SEL_COMP_TYPE != null and SEL_COMP_TYPE != ''">
                AND A.COMP_TYPE LIKE CONCAT('%', #{SEL_COMP_TYPE}, '%')
            </if>
            <if test="SEL_COMP_NM != null and SEL_COMP_NM != ''">
                AND A.COMP_NM LIKE CONCAT('%', #{SEL_COMP_NM}, '%')
            </if>
            <if test="SEL_COMP_NUM != null and SEL_COMP_NUM != ''">
                AND A.COMP_NUM LIKE CONCAT('%', #{SEL_COMP_NUM}, '%')
            </if>
            <if test="SEL_STAFF_NM != null and SEL_STAFF_NM != ''">
                AND EXISTS (SELECT * FROM jmes.TBL_COMPANY_STAFF D
                            WHERE D.COMP_CD = A.COMP_CD AND D.DEL_YN = 'N' AND D.STAFF_NM LIKE CONCAT('%', #{SEL_STAFF_NM}, '%')
                    )
            </if>
            <if test="SEL_CEO_NM != null and SEL_CEO_NM != ''">
                AND A.CEO_NM LIKE CONCAT('%', #{SEL_CEO_NM}, '%')
            </if>
            <if test="SEL_ACTIVE_YN != null and SEL_ACTIVE_YN != ''">
                AND A.ACTIVE_YN =  #{SEL_ACTIVE_YN}
            </if>
    </select>

</mapper>