

div[class^="contents0"] {
	height: 47.3%;
	margin: 10px 40px;
}
.contents03 {
	display: none;
	height: 96% !important;
}
.contents03 .rowWrap{
	height: 25% !important;
}
.contentsWrap {
	width: 100%;
}
.bigMct {
	width: 34%;
}
.detailMct {
	width: 17.5%;
	margin-left: 15.37%;
}
.infoWrap {
	width: 100%;
	height: 96.5%;
	padding: 20px;
}
.infoWrap .rowWrap {
	width: 100%;
	height: 50%;
	display: flex;
	padding-top: 5px;
}
div[class^="mctInfo_"] {
	/*background: #002060;*/
	background: -webkit-linear-gradient(bottom, #2d5886, #15293e);
	background: -moz-linear-gradient(bottom, #2d5886, #15293e);
	background: -o-linear-gradient(bottom, #2d5886, #15293e);
	background: linear-gradient(0deg, #2d5886, #15293e);
	width: 50%;
	height: 100%;
	text-align: center;
	position: relative;
	padding: 10px;
	margin-right: 10px;
}
.detailMct div[class^="mctInfo_"] {
	width: 100%;
}
.blank {
	background: white !important;
}
div[class^="mctInfo_"]:last-of-type {
	margin-right: 0;
}
div[class^="mctInfo_"] .mctName {
	background: #CCC;
	display: block;
	padding: 5px 10px;
	width: 20%;
	height: 15%;
	position: absolute;
	left: 2%;
	top: 2.4%;
	font-size: 1.2rem;
}
.mctLogin, .mctPause {
	cursor: pointer;
}
div[class^="mctInfo_"] .login {
	background: #79E802 !important;
}
div[class^="mctInfo_"] .pause {
	background: #F5E60A !important;
}
div[class^="mctInfo_"] .mctInfoWrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopLeft {
	width: 23%;
	height: 55%;
	float: left;
	position: relative;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopLeft .mctStaffImg {
	top: 52%;
	left: 46%;
	transform: translate(-50%,-35%);
	border: none;
}
.staffImg {
	width: 90px;
	height: 90px;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopLeft .staffInfoWrap {
	position: absolute;
	width: 100%;
	height: 15%;
	top: 87%;
	left: 48%;
	transform: translate(-50%,-70%);
	font-size: 1.2rem;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopLeft .staffInfoWrap .mctStaffName {
	color: white;
	margin: 5% 0;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopLeft .staffInfoWrap .mctTime {
	color: yellow;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight {
	width: 77%;
	height: 55%;
	float: left;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg {
	width: 100%;
	height: 97%;
	background: #CCC;
	position: relative;
	margin-bottom: 2%;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg img {
	width: 100%;
	height: 100%;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .machineImg {
	width: 50% !important;
	height: auto !important;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .pauseTime {
	position: absolute;
	left: 50%;
	top: 88%;
	transform: translate(-50%,-70%);
	width: 50%;
	height: 35%;
	padding-top: 5px;
	font-size: 1.5rem;
	font-weight: bold;
}

div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .nc_off {
	font-size: 1.5rem;
	z-index: 11;
	border: 1px solid black;
	background: rgb(0 0 0 / 55%);
	color: white;
	position: absolute;
	left: 50%;
	top: 52%;
	transform: translate(-50%,-70%);
	width: 60%;
	height: 40%;
	padding-top:5px;
}

div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .disconnect {
	font-size: 1.6rem;
	z-index: 11;
	border: 1px solid black;
	background: yellow;
	position: absolute;
	left: 48%;
	top: 82%;
	transform: translate(-50%,-70%);
	width: 70%;
	height: 45%;
	font-weight: bold;
	padding-top: 10px;
	color: red;
}

div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .mctProgressPercent {
	top: 80%;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .mctMapTime {
	font-size: 1.2rem;
	position: absolute;
	text-align: left;
	width: 100%;
	height: 30%;
	top: 5%;
	padding-left: 10px;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .mctMapTime span {
	color: blue;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .no_work {
 	position: absolute;
	left: 15%;
	top: 73%;
	font-size: 1.5rem;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapBtmInfo {
	background: #CCC;
	width: 100%;
	height: 35%;
	padding: 1.5%;
	font-size: 1.1rem;
}

div[class^="mctInfo_"] .mctInfoWrap .mctMapBtmInfo {
	font-size: 1.3rem;
	font-weight: bold;
	height: 10%;
	padding: 1%;
	width: 100%;
	background: #cccccc;
	float: left;
}

div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm {
	width: 100%;
	height: 34%;
	float: left;
	margin-top: 1.5%;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
	font-size: 1.2rem;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm table th {
	background: #005da2;
	color: white;
	/*width: 50%;*/
}

.mctlog_off .mctInfoWrap .mctInfoBtm .tableDiv th {
	background: #646363 !important;
	color: white !important;
}

.mctpause.non_if .mctInfoWrap .mctInfoBtm .disabled, .mctlogin.non_if .mctInfoWrap .mctInfoBtm .disabled {
	background: gray !important;
	color: #cccccc !important;
	border:1px solid gray !important;
}

div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm .qtyWrap {
	width: 58%;
	display: flex;
	flex-direction: column;
	color: white;
	height: 100%;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm .qtyWrap .spanWrap {
	width: 100%;
	display: flex;
	height: 32%;
}

div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm .qty_txt {
	border-radius: 10%;
	width: 50%;
	height: 86%;
	font-size: 1.4rem;
	padding-top: 2px;
}

div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm .qty_val {
	padding: 0px 5px;
	text-align: center;
	width: 50%;
	height: 86%;
	font-size: 1.4rem;
	padding-top: 2px;
}

div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm .mctLeftDiv {
	width: 49%;
	font-size: 12px;
	height: 100%;
	display: flex;
	float: right;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm .tableDiv {
	width: 50%;
	float: left;
	height: 100%;
}

div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm .plan_div th {
	height: 33%;
}

div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm .plan_div td {
	padding: 3px;
}

.mctlog_off .qty_txt {
	background: #646363 !important;
	border:1px solid #646363 !important;
}

div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm table th span {
	color: yellow;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm table td {
	background: #dae3f3;
}

.mctlog_off .mctInfoWrap .mctInfoBtm .tableDiv td {
	background: #cfcfcf !important;
	color: black !important;
}

.mctpause.non_if .curr_cycle, .mctpause.non_if .expect_cycle, .mctlogin.non_if .curr_cycle, .mctlogin.non_if .expect_cycle {
	background: gray !important;
	color: #d7d6d6 !important;
}

.mctpause.non_if .th_cycle, .mctlogin.non_if .th_cycle {
	background:#bdbdbd !important;
	color: #827979 !important;
}

.rightContainer {
	height: 100%;
	padding: 20px 40px;
	text-align: right;
}
.rightContainer .rightBtnWrap {
	width: 100%;
	height: 5%;
}
.rightContainer .rightBtnWrap select {
	font-size: 2rem;
	display: inline-block;
	width: 50%;
	height: 54%;
	font-family: 'notoM';
	padding-left: 15%;
	border: 1px solid #888;
	margin-right: 16.5%;
	vertical-align: inherit;
}
.rightContainer .rightBtnWrap select:focus {
	outline: none;
}
.rightContainer .rightBtnWrap select option{
	width: 30%;
	height: 20%;
	font-family: 'notoM';
	padding-left: 15%;
}
.rightContainer .rightSectionWrap {
	background: #ddd;
	width: 100%;
	height: 95%;
	text-align: center;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rightContainer .rightSectionWrap .rightSection {
	width: 100%;
	height: 100%;
}
.rightContainer .rightSectionWrap .rightSection table{
	width: 100%;
	height: 13%;
	font-size: 2.1rem;
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 0;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.rightContainer .rightSectionWrap .rightSection .rightSectionTop tr:nth-of-type(2) {
	background: #f8d7cd;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionTop tr:nth-of-type(3) {
	background: #fcece8;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionTop th {
	background: #ff7761;
	border: 1px solid black;
	border-spacing: 0;
	font-size: 3rem;
}
.rightContainer .rightSectionWrap .rightSection .tdColor1 {
	color: blue;
}
.rightContainer .rightSectionWrap .rightSection .tdColor2 {
	color: rgb(190, 22, 0);
}
.rightContainer .rightSectionWrap .rightSection td {
	width: 33.33%;
	border: 1px solid black;
	border-spacing: 0;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionMid {
	margin-top: 3.5%;
	height: 9%;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionMid tr:nth-of-type(1) {
	background: #fe98a6;
	height: 55%;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionMid tr:nth-of-type(1) th:nth-of-type(2) {
	background: #ffb89a;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionMid tr:nth-of-type(1) th:nth-of-type(3) {
	background: #f5e397;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionMid tr:nth-of-type(2) {
	background: white;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionMid th {
	border: 1px solid black;
	border-spacing: 0;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionBtm {
	margin-top: 4%;
	border: 1px solid black;
	width: 100%;
	height: 75.5%;
}
.detailPopImgDiv {
	height: 987px;
	border: 1px solid #AAA;
	background: white;
	overflow: hidden;
}

#g_item_detail_pop table.rowStyle th, #g_item_detail_pop table.rowStyle td {
	height: 73px !important;
	font-size: 1.75rem !important;
	font-family: 'NotoKrR';
}
#g_item_detail_pop table.rowStyle th {
	font-weight: bold;
	font-family: 'NotoKrM' !important;
}

.g_item_detail_pop .layerPopup h4 {
	font-size: 1.8rem !important;
	font-weight: bold;
}

.g_item_detail_pop .layerPopup .listdiv {
	height: 310px !important;
}
.g_item_detail_pop .layerPopup .listdiv .conWrapPopRight {
	width: 47.5% !important;
}
.layerPopup h3 {
	font-family: 'NotoKrB';
	font-weight: bold;
	font-size: 2.5rem !important;
}
.layerPopup {
	padding: 1% !important;
}
.defaultBtn {
	height: 35px !important;
	font-size: 1.2rem !important;
}
.slt_wrap label {
	font-size: 1.5rem !important;
	line-height: 35px !important;
	height: 35px !important;
}
.detailPop_info_input {
	width: 100px !important;
	height: 35px !important;
	font-size: 1.5rem !important;
}
.g_item_detail_pop .inspectBtn {
	width: 65px;
	height: 40px !important;
	text-align: center;
	border-radius: 3px !important;
	background-color: #595757 !important;
	color: white !important;
}

#view_part_prev img, #view_part_next img, #left_arrow img, #right_arrow img {
	width: 30px;
}
#item_detail_pop_input {
	height: 35px !important;
	line-height: 35px !important;
	font-size: 1.2rem !important;
	width: 220px !important;
}
#inspection_detail_popup .qualityWrap {
	height: 650px;
}

#cam_work_detail_popup .qualityWrap {
	height: 1150px;
}

@media(max-width:1920px){
	html {
		font-family: 'notoM' !important;
		overflow: hidden;
	}
	body {
		width: 100vw;
		height: 100vh;
	}
	.containerWrap {
		width: 100vw; 
		height: 100vh;
	}
	.leftContainer {
		height: 100vh !important;
		width: 80vw !important;
	}
	.bigMct {
		margin-top: 40px;
		width: 33.3%;
	}
	.detailMct {
		width: 16.55%;
		margin-left: 16.55%;
	}
	.rightContainer {
		width: 19vw;
		height: 100vh;
		padding: 10px;
		right: 0.2%;
	}
	.mctTitle {
		margin: 10px 20px 0px;
		font-size: 1.5rem;
	}
	.titleTag {
		width: 100px;
		height: 30px;
		font-size: 0.85rem;
		padding: 5px 10px;
		line-height: 20px;
		margin-top: 15px;
	}
	div[class^="contents0"] {
		margin:0 10px 5px;
		height: 42.5%;
		width: 100%;
	}
	.contents03 .contentsWrap {
		height: 100%;
	}
	.contents03 .infoWrap {
		height: 93%;
	}
	.infoWrap {
		padding: 3px;
		margin-top: 5px;
		height: 100%;
	}
	div[class^="mctInfo_"] {
		padding: 4px;
	}
	div[class^="mctInfo_"] .mctName {
		padding: 7px 5px;
		font-size: 11px;
		left: 4px;
		width: 20.5%;
		height: 18%;
		top: 4px;
		font-weight: bold;
	}
	.staffImg {
		width: 45px;
		height: 45px;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopLeft .mctStaffImg {
		top: 48%;
		transform: translate(-50%,-20%);
	}

	div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopLeft .staffInfoWrap {
		top: 88%;
		transform: translate(-50%,-55%);
		font-size: 10px;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg {
		height: 96%;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .mctMapTime {
		font-size: 11px;
		padding-left: 5px;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .pauseTime {
		font-size: 14px;
		width: 50%;
		height: 33%;
		z-index: 9;
		border: 1px solid black;
		padding-top: 0.5px;
		line-height: 16px;
		font-weight: bold;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .pauseTime span {
		font-size: 12px;
		font-weight: normal;
	}

	div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .nc_off {
		font-size: 14px;
		padding-top: 0;
	}

	div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .disconnect {
		font-size: 14px;
		line-height: 18px;
		padding-top: 5px;
	}

	div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .mctProgressPercent {
		top: 60%;
		width: auto;
		font-size: 1rem;
	}

	div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm .qty_txt {
		border-radius: 3px;
		/*padding: 0px 4px;*/
		width: 50%;
		height: 18px;
		line-height: 15px;
		font-size: 12px;
		margin: 0;
		padding: 0;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm .qty_val {
		padding: 0px 5px;
		text-align: center;
		width: 50%;
		height: 18px;
		line-height: 15px;
		font-size: 12px;
		margin: 0;
		padding: 0;
	}

	div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .no_work {
		font-size: 14px;
	}

	div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm .plan_div td {
		font-size: 10px;
	}

	div[class^="mctInfo_"] .mctInfoWrap .mctMapBtmInfo {
		font-size: 11px;
		font-weight: bold;
		height: 9%;
		padding: 1%;
		width: 100%;
		background: #cccccc;
		float: left;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm {
		margin-top: 5px;
		height: 33%;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm table {
		font-size: 11px;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm table th{
		font-weight: normal;
	}
	.rightContainer .rightBtnWrap {
		width: 100%;
		height: 7.5%;
	}
	.rightContainer .rightBtnWrap select {
		font-size: 1rem;
		width: 45%;
		height: 50%;
		padding-left: 5%;
		margin-right: 5.5%;
		margin-top:10%;
	}
	.changeBtn {
		font-size: 1rem;
		padding: 5px 50px;
		height: 50%;
		line-height: 28px;
		margin-top: 20px;
		font-weight: bold;
	}
	.rightContainer .rightSectionWrap {
		margin-top: 0;
		padding: 10px;
		height: 91%;
	}
	.rightContainer .rightSectionWrap .rightSection table{
		height: 13%;
		font-size: 1rem;
	}
	.rightContainer .rightSectionWrap .rightSection .rightSectionTop th {
		font-size: 1.3rem;
	}
	.rightContainer .rightSectionWrap .rightSection .rightSectionMid {
		height: 9.5%;
	}
	.rightContainer .rightSectionWrap .rightSection .rightSectionMid tr:nth-of-type(1) {
		height: 50%;
	}
	.rightContainer .rightSectionWrap .rightSection .rightSectionBtm {
		height: 74%;
	}
	.popupBackground{
		height: 1080px !important;
		width: 1980px !important;
	}
	.popup {
		left: 40%;
		top: 40%;
		height: 78%;
		transform: translate(-40%,-40%);
		padding: 20px;
	}
	.popup > h3 {
		font-size: 1.3rem;
	}
	.popup h4 {
		font-size: 1.0rem;
	}
	.popHeadTopTable {
		width: 900px;
		font-size: 0.9rem;
		border: 1px solid #002060;
		border-collapse:separate;
	}
	.popHeadTopTable td {
		border: 1px solid #002060;
		border-collapse: collapse;
	}
	.tableTop > h4 {
		font-size: 1rem;
		bottom: 0px;
	}
	.popTable {
		font-size: 0.85rem;
		/*font-weight: bold;*/
	}
	.workStaffImg .staffImgWrap {
		width: 80px;
		height: 80px;
	}
	.tableScroll {
		height: 70px;
	}
	.tableScrollCell {
		height: 70px;
	}
	.popBtm {
		height: 71%;
		margin-bottom: 10px;
		margin-top: 10px;
	}
	.popBtmRight .popHeadTopTable {
		width: 600px;
	}
	.popBtmLeft {
		height: 91.5%;
	}
	.mapImgWrap img {
		width: 98%;
		height: 100%
	}
	.popBtmTable {
		height: 91.5%;
	}
	.popMapDetailBtn, .detailCloseBtn {
		font-size: 1rem;
		height: 30px;
		width: 150px;
	}
	div.pq-grid * {font-size: 0.78rem !important;}

	.detailPopImgDiv {
		height: 469px;
	}
	#g_item_detail_pop table.rowStyle th, #g_item_detail_pop table.rowStyle td {
		height: 36px !important;
		font-size: 0.81rem !important;
	}

	.g_item_detail_pop .layerPopup h4 {
		font-size: 0.92rem !important;
	}
	.g_item_detail_pop .layerPopup .listdiv {
		height: 150px !important;
	}
	.layerPopup h3 {
		font-size: 20px !important;
	}
	.layerPopup {
		padding: 20px !important;
	}
	.defaultBtn {
		height: 27px !important;
		font-size: 12px !important;
	}
	.g_item_detail_pop span.mark {
		font-size: 14px !important;
	}
	.slt_wrap label {
		font-size: 12px !important;
		line-height: 23px !important;
		height: 25px !important;
	}
	.detailPop_info_input {
		width: 60px !important;
		height: 25px !important;
		font-size: 12px !important;
	}

	.g_item_detail_pop .inspectBtn {
		width: 50px;
		height: 25px !important;
	}

	#view_part_prev img, #view_part_next img, #left_arrow img, #right_arrow img {
		width: 15px;
	}

	#item_detail_pop_input {
		height: 30px !important;
		line-height: 28px !important;
		width: 187px !important;
		font-size: 14px !important;
	}

	#inspection_detail_popup .qualityWrap {
		height: 320px;
	}

	#cam_work_detail_popup .qualityWrap {
		height: 550px;
	}

	#popupWrap .planImgDiv {
		height: 20%;
		overflow-y: hidden;
		overflow-x: scroll;
		white-space: nowrap;;
		width: 100%;
		border: 1px solid gray;
		padding: 1px 4px 5px 4px;
		text-align: left;
	}

	#popupWrap .mctInfoWrap {
		width: 17%;
		height: 100%;
		background: lightgrey;
		position: relative;
		margin-right: 4px;
		display: inline-block;
		border: 1px solid gray;
		margin-top: 3px;
		text-align: center;
	}

	#popupWrap .mctMapImg {
		width: 100%;
		height: 100%;
		font-size: 11px;
	}
	#popupWrap .mctMapImg img {
		width: 96%;
		height: 73%;
		border: 1px solid grey;
	}

	#popupWrap .mctMapTime {
		position: absolute;
		top: 1%;
		font-size: 12px;
		padding-left: 10px;
		width: 93%;
	}

	#popupWrap .popTable th, .popTable td {
		border: 0.5px solid #9d9d9d;
		padding: 5px 0;
		height: 35px;
	}

	#popHeadMid2 th, #popHeadMid2 td {
		border: 0.5px solid #9d9d9d;
		padding: 5px 0;
		height: 50px;
	}
	#popHeadMid4 th, #popHeadMid4 td {
		border: 0.5px solid #9d9d9d;
		padding: 5px 0;
		height: 30px;
	}

	div[class^="mctInfo_"] .mctInfoWrap .mctName p {
		font-size:9px;
	}
}