*{margin: 0; padding: 0; box-sizing: border-box;}
ul, ol , dl { list-style: none;}
.stockPopup, .stockPopup2, .stockPopup3, .stockSearchPopup {
	width: 1980px;
	height: 1080px;
	background: rgba(0,0,0,0.5);
	position: fixed;
	z-index: 100;
}
.stockPopup .stockPopupWrap {
	position: relative;
	width: 1980px;
	height: 1080px;
}
.stockPopupWrap .stockPopupInfo {
	background: #f9fbfd;
	/*background: #fffbfb;
	재고불출 popup 배경색상*/
	width: 45%;
	height: 75%;
	position: absolute;
	top: 30%;
	left: 55%;
	transform: translate(-65%,-30%);
	padding: 1%;
}
.stockPopupInfo h3 {
	display: inline-block;
	color: blue;
	/*color: #c00000;
	재고불출 popup 색상*/
	font-weight: bold;
}
.stockPopupInfo h3 i {
	color: black;
}
.stockPopupInfo .barcode {
	display: inline-block;
	background: #DDD;
	text-align: center;
	width: auto;
	padding: 3px;
	height: auto;
	line-height: 25px;
	vertical-align: middle;
	margin-left: 236px;
}
.stockPopupInfo .barcode_label {
	font-weight: bold;
}
.stockPopupInfo .barCode img {
	width: 10%;
}
.stockPopupInfo .barCodeTxt {
	display: inline-block;
	height: 100%;
}
.stockPopupInfo .barCodeTxt input {
	padding: 3px 10px;
	outline: none;
}
.stockPopupInfo .stockMap {
	background: white;
	border: 1px solid #555;
	width: 100%;
	height: 55%;
	margin-top: 10px;
}
.stockPopupInfo .stockPopupBtm {
	width: 100%;
	height: 35%;
	padding: 13px 0 7px;
	display: flex;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmLeft {
	width: 45%;
	height: 100%;
	text-align: center;
	padding-right: 20px;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmLeft table {
	border: 1px solid black;
	width: 100%;
	height: 80%;
	border-spacing: 0;
	border-collapse: collapse;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmLeft .trColor {
	background: #b4c7e7;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmLeft th {
	width: 25%;
	background: #DDD;
	height: 25%;
	border: 1px solid black;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmLeft td {
	border: 1px solid black;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmLeft td.tdWeight {
	font-weight: bold;
	background: #FF0;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmLeft td.tdColor {
	color: white;
	background: #0070c0;
}
.stockPopupBtmLeft .stockPopupBtmLeftInfo {
	height: 20%;
	text-align: right;
}
.stockPopupBtmLeft .stockPopupBtmLeftInfo span {
	font-weight: bold;
}
.stockPopupBtmLeft .stockPopupBtmLeftInfo .stockNum {
	background: #DDD;
	outline: none;
	border: 1px solid #555;
	height: 30px;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight {
	width: 55%;
	height: 100%;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight table {
	width: 100%;
	height: 100%;
	border-spacing: 0;
	border-collapse: collapse;
	border: 1px solid black;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight table th {
	width: 15%;
	background: #bdd7ee;
	border: 1px solid black;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight table td {
	width: 35%;
	border: 1px solid black;
	text-align: center;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight table td.tdWeight {
	font-weight: bold;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight table td.tdCss {
	color: blue;
	background: #00ffff;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight select {
	outline: none;
	font-size: 1rem;
	border: 0;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight .tdBackColor {
	background: #CCC;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight .enterNum {
	vertical-align: middle;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight .enterNum i {
	display: inline-block;
	cursor: pointer;
	color: #0070c0;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight .enterNum .minusBtn {
	color: #c00000;
}
.stockPopupInfo .stockPopupBtm .stockPopupBtmRight .enterNum input {
	font-size: 1.2rem;
	width: 100px;
	outline: none;
	height: 35px;
	text-align: center;
	display: inline-block;
	vertical-align: text-bottom;
}
.stockPopupBtnWrap {
	width: 100%;
	text-align: center;
	padding-top: 10px;
}
.stockPopupBtnWrap button {
	padding: 3px 0;
	display: inline-block;
	margin: 0 20px;
	border-radius: 5px;
	border: 1px solid #555;
	font-weight: bold;
	cursor: pointer;
	width: 100px;
}
.stockPopupBtnWrap button:focus {
	outline: none;
}
.stockPopupBtnWrap .stockBtnSave, .stockPopupBtnWrap .stockBtnSave2, .stockPopupBtnWrap .stockBtnOk{
	background: #385723;
	color: white;
}

.stockPopup2, .stockPopup3{
	display: none;
}
.stockPopup2 .stockPopupInfo2 {
	position: absolute;
	border: 1px solid black;
	background: #f9fbfd;
	width: 25%;
	height: 25%;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 45px;
	text-align: center;
	line-height: 30px;
	font-size: 1rem;
	font-weight: bold;
}
.stockPopup2 .stockPopupInfo2 .inputWrap {
	width: 100%;
	margin-bottom: 10px;
}
.stockPopup2 .stockPopupInfo2 .inputWrap select{
	width: 25%;
	height: 30px;
	font-weight: bold;
	outline: none;
	font-size: 0.95rem;
	border: 1px solid #555;
	cursor: pointer;
}
.stockPopup2 .stockPopupInfo2 .inputWrap select option {
	font-weight: bold;
}

.stockPopup3 .stockPopupInfo3 {
	width: 25%;
	height: 40%;
	background: #bdd7ee;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	padding: 20px;
	text-align: center;
	font-weight: bold;
	font-size: 1rem;
}
.stockPopup3 .stockPopupInfo3 h3 {
	text-align: left;
}
.stockPopup3 .stockPopupInfo3 table {
	width: 100%;
	height: 60%;
	border: 1px solid black;
	border-spacing: 0;
	border-collapse: collapse;
	margin: 20px 0;
}
.stockPopup3 .stockPopupInfo3 th {
	background: #aef254;
	width: 23%;
	border: 1px solid black;
}
.stockPopup3 .stockPopupInfo3 td {
	border: 1px solid black;
	font-weight: normal;
}
.stockPopup3 .stockPopupInfo3 td.tdWeight {
	font-size: 1.4rem;
	font-weight: bolder;
}
.stockPopup3 .stockPopupInfo3 td.tdColor {
	background: #d9f2fb;
	color: blue;
	font-weight: bold;
}
.stockPopup3 .stockPopupInfo3 p {
	font-size: 1.1rem;
	margin-bottom: 10px;
}