@font-face {
	font-family: 'notoB';
	src: url(../ttf/NotoSansKR-Bold.otf);
}
@font-face {
	font-family: 'notoM';
	src: url(../ttf/NotoSansKR-Medium.otf);
}
*{margin: 0; padding: 0; box-sizing: border-box;}
a{text-decoration: none; color: black;}
ul,dl,ol { list-style: none;}
html { height: 100vh; width: 1920px; overflow: hidden; font-size: 12px;}
body { height: 100vh; width: 1920px; overflow: hidden; font-family: 'notoB' !important;
	background: #2d5886;
	background: -webkit-linear-gradient(top,#2d5886, #1a3464);
	background: -moz-linear-gradient(top,#2d5886, #1a3464);
	background: -o-linear-gradient(top,#2d5886, #1a3464);
	background: linear-gradient(180deg, #2d5886, #1a3464);}
div.rounded {background: #fff;}
.w100 { width: 100%;}
.w98 { width: 98%; margin: 0 auto;}
.w90 { width: 90%;}
.w80 { width: 80%;}
.w70 { width: 70%;}
.w60 { width: 60%;}
.w50 { width: 50%;}
.w40 { width: 40%;}
.w33 { width: 33.33%;}
.w30 { width: 30%;}
.w20 { width: 20%;}
.w10 { width: 10%;}
.h94v {height: 94.5vh;}
.h100 { height: 100%;}
.h90 { height: 90%;}
.h80 { height: 80%;}
.h75 { height: 75%;}
.h70 { height: 70%;}
.h60 { height: 60%;}
.h50 { height: 50%;}
.h40 { height: 40%;}
.h30 { height: 30%;}
.h25 { height: 25%;}
.h20 { height: 20%;}
.h10 { height: 10%;}
.height_auto { height: auto;}
.shadow { box-shadow: 0 .5rem 1rem rgba(255,255,255,0.25)!important;}
.display_f { display: flex;}
.display_i_b { display: inline-block;}
.box-scroll { overflow-y: hidden; overflow-x: auto;}
.border_color { border: 1px solid #EDEDED;}
.border_color_R { border-right: 1px solid #EDEDED;}
.border_color_B { border-bottom: 1px solid #EDEDED;}
.text-light2 {color: #777;}
.position_R {position: relative;}
.font14 {font-size: 14px;}
.grid_wrap1 { height: 89%;}
.grid_wrap2 { height: 79%;}
.grid_wrap3 { height: 81.5%;}
.grid_wrap4 { height: 83.5%;}

.main_title { font-size: 1.8rem; color: #FFF;}
.sub_title { border-bottom: 1px solid #EDEDED; font-size: 15px; padding: 5px; height: 45px; position: relative;}
.sub_title > p { padding: 5px; padding-bottom: 0;font-size: 1.5rem;}
.sub_title .sub_title2 {position: absolute; right: 10px; top: 50%; transform: translateY(-50%); font-size: 13px;}
.process_img { position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%); filter: grayscale(0.5);}/*이미지 색상 흑백은 1 원본은 0*/
.process_percent {font-size: 35px; font-weight: bolder; position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}
.block_box { display: inline-block; padding: 5.5px; text-align: center; border-radius: 0.5rem; width: 23.3%; margin: 0.25rem; height: 67px; border: 1px solid #EEE; cursor: pointer;}
.block_box_small { display: block; width: 98%; height: auto; margin: 0 auto 0.25rem; cursor: default;}
.block_box_middle { width: 13.4%; height: 78px;}
.block_box > p { margin-bottom: 0; font-size: 1.1rem;}

/*배경색 css*/
.back_pink { background-image: linear-gradient(-20deg, #ddd6f3 0%, #faaca8 100%, #faaca8 100%);}
.back_green { background-image: linear-gradient(-20deg, #9be15d 0%, #00e3ae 100%);}
.back_blue { background-image: linear-gradient(160deg, #209cff 0%, #68e0cf 100%);}
.back_orange { background-image: linear-gradient(-20deg, #f6d365 0%, #fda085 100%);}
.back_sky { background-image: linear-gradient(160deg, #a1c4fd 0%, #c2e9fb 100%);}
.back_gray { background-image: linear-gradient(160deg, #c4c5c7 0%, #ebebeb 100%);}
.back_red {background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);}
.back_purple {background-image: linear-gradient(160deg, #cdb1f5 0%, #ecdaf9 100%);}

/*배경색 후보*/
.back_green2 {background-image: linear-gradient(160deg, #0fd850 0%, #f9f047 100%);}
.back_green3 { background-image: linear-gradient(160deg, #00cdac 0%, #8ddad5 100%);}


.popupBackground{ position: fixed; background: rgba(0, 0, 0, 0.5); z-index: 999; top:0; width: 100%; height: 100%; display: none;}
.popupBackground .popupContainer {position: relative; width: 100%; height: 100%; }
.popupBackground .popupContainer .popup {	position: absolute;	width: 85%;	height: 70%;	left: 50%;	top: 50%;	transform: translate(-50%,-50%);	background: white;	padding: 1%;}
.popupBackground .popupContainer .popup > h3 { text-align: left; font-size: 18px;}
.popupBackground .popupContainer .popup .btn_wrap {
	text-align: center;
	margin-top: 3%;
}
.popupBackground .popupContainer .popup .btn_wrap > button {background: rgb(255, 215, 38);	border: 0;	display: inline-block;	width: 110px;	height: auto;	line-height: 10px;	padding: 7px 5px;	cursor: pointer;	margin: 0 20px;	font-size: 13px; outline: none;}
.popupBackground .popupContainer .popup .btn_wrap > button.detailCloseBtn {	background: #555;	color: white;
}
.popupBackground .popupContainer .popup .right_wrap.map_image_wrap { overflow: none;}
.popupBackground .popupContainer .popup .right_wrap.map_image_wrap > img { width: 100%; height: 83%;margin-top: 6%}
.popupBackground .popupContainer .popup .left_top_wrap {	position: absolute;	right: 0;	width: 50%;	top: -30px;	height: 30px;	text-align: right; line-height: 25px; font-size: 15px; padding-right: 5px;}
.popupBackground .popupContainer .popup .left_wrap .left_wrap1 {height: 12.5%; margin-bottom: 1%;white-space: nowrap;}
.popupBackground .popupContainer .popup .left_wrap .left_wrap2 {height: 86.5%;}
.popupBackground .popupContainer .popup .left_wrap .left_wrap1 .w10 { width: 11.11%; cursor: pointer;}
.popupBackground .popupContainer .popup .left_wrap .left_wrap1 .w10 > p { margin: 0;}


/* 21.11.03 이수빈 */
.status1 {background-color: #aedcff; color: blue;}
.status2 {background-color: #9bd4ff;}
.status3 {background-color: #7cc6ff;}
.status4 {background-color: #69bdfd;}
.status5 {background-color: #5fb4f5;}
.status6 {background-color: #4dadf7;}
.status7 {background-color: #39a4f7;}
.status8 {background-color: #1893f1;}
.status9 {background-color: #0188ef;}
.status10 {background-color: #006dc0;color: white;}

.onClickStatus {
	border: 1px solid #4dadf7 !important;
	background-image: linear-gradient(160deg, #b9eaff 0%, #f3fbff 100%) !important;
	color: black !important;
}
.onClickStatus2 { background-image: linear-gradient(160deg, #209cff 0%, #68e0cf 100%) !important;}
.onClickStatus3 { background-image: linear-gradient(160deg, #9e6afb 0%, #dabdf3 100%) !important;}