

div[class^="contents0"] {
	height: 47.3%;
	margin: 10px 40px;
}
.contents03 {
	display: none;
	height: 96% !important;
}
.contents03 .rowWrap{
	height: 25% !important;
}
.contentsWrap {
	width: 100%;
}
.bigMct {
	width: 34%;
}
.detailMct {
	width: 17.5%;
	margin-left: 15.37%;
}
.infoWrap {
	width: 100%;
	height: 96.5%;
	padding: 20px;
}
.infoWrap .rowWrap {
	width: 100%;
	height: 50%;
	display: flex;
	padding-top: 5px;
}
div[class^="mctInfo_"] {
	/*background: #002060;*/
	background: -webkit-linear-gradient(bottom, #2d5886, #15293e);
	background: -moz-linear-gradient(bottom, #2d5886, #15293e);
	background: -o-linear-gradient(bottom, #2d5886, #15293e);
	background: linear-gradient(0deg, #2d5886, #15293e);
	width: 50%;
	height: 100%;
	text-align: center;
	position: relative;
	padding: 10px;
	margin-right: 10px;
}
.detailMct div[class^="mctInfo_"] {
	width: 100%;
}
.blank {
	background: white !important;
}
div[class^="mctInfo_"]:last-of-type {
	margin-right: 0;
}
div[class^="mctInfo_"] .mctName {
	background: #CCC;
	display: block;
	padding: 5px 15px;
	width: 30%;
	height: 10%;
	position: absolute;
	left: 0%;
	top: 2.4%;
	font-size: 1.5rem;
}
.mctLogin, .mctPause {
	cursor: pointer;
}
div[class^="mctInfo_"] .login {
	background: #79E802 !important;
}
div[class^="mctInfo_"] .pause {
	background: #F5E60A !important;
}
div[class^="mctInfo_"] .mctInfoWrap {
	width: 100%;
	height: 100%;
	overflow: hidden;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopLeft {
	width: 30%;
	height: 55%;
	float: left;
	position: relative;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopLeft .mctStaffImg {
	top: 40%;
	left: 50%;
	transform: translate(-50%,-35%);
	border: none;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopLeft .staffInfoWrap {
	position: absolute;
	width: 100%;
	height: 15%;
	top: 75%;
	left: 50%;
	transform: translate(-50%,-70%);
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopLeft .staffInfoWrap .mctStaffName {
	color: white;
	margin: 5% 0;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopLeft .staffInfoWrap .mctTime {
	color: yellow;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight {
	width: 70%;
	height: 55%;
	float: left;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg {
	width: 100%;
	height: 73%;
	background: #CCC;
	position: relative;
	margin-bottom: 2%;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg img {
	width: 100%;
	height: 100%;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .pauseTime {
	position: absolute;
	left: 50%;
	top: 80%;
	transform: translate(-50%,-70%);
	width: 50%;
	height: 35%;
	padding-top: 5px;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .mctProgressPercent {
	top: 80%;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .mctMapTime {
	font-size: 1.2rem;
	position: absolute;
	text-align: left;
	width: 100%;
	height: 30%;
	top: 5%;
	padding-left: 5px;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .mctMapTime span {
	color: blue;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapBtmInfo {
	background: #CCC;
	width: 100%;
	height: 25%;
	padding: 1.5%;
	font-size: 1.1rem;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm {
	width: 100%;
	height: 45%;
	float: left;
	margin-top: 1.5%;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm table {
	width: 100%;
	height: 100%;
	border-collapse: collapse;
	border-spacing: 0;
	border: 0;
	font-size: 1.2rem;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm table th {
	background: #005da2;
	color: white;
	width: 50%;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm table th span {
	color: yellow;
}
div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm table td {
	background: #dae3f3;
}

.rightContainer {
	height: 100%;
	padding: 20px 40px;
	text-align: right;
}
.rightContainer .rightBtnWrap {
	width: 100%;
	height: 5%;
}
.rightContainer .rightBtnWrap select {
	font-size: 2rem;
	display: inline-block;
	width: 50%;
	height: 54%;
	font-family: 'notoM';
	padding-left: 15%;
	border: 1px solid #888;
}
.rightContainer .rightBtnWrap select:focus {
	outline: none;
}
.rightContainer .rightBtnWrap select option{
	width: 30%;
	height: 20%;
	font-family: 'notoM';
	padding-left: 15%;
}
.rightContainer .rightSectionWrap {
	background: #ddd;
	width: 100%;
	height: 95%;
	text-align: center;
	padding: 20px;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.rightContainer .rightSectionWrap .rightSection {
	width: 100%;
	height: 100%;
}
.rightContainer .rightSectionWrap .rightSection table{
	width: 100%;
	height: 13%;
	font-size: 2.1rem;
	border: 1px solid black;
	border-collapse: collapse;
	border-spacing: 0;
	box-shadow: 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
}
.rightContainer .rightSectionWrap .rightSection .rightSectionTop tr:nth-of-type(2) {
	background: #f8d7cd;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionTop tr:nth-of-type(3) {
	background: #fcece8;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionTop th {
	background: #ff7761;
	border: 1px solid black;
	border-spacing: 0;
	font-size: 3rem;
}
.rightContainer .rightSectionWrap .rightSection .tdColor1 {
	color: blue;
}
.rightContainer .rightSectionWrap .rightSection .tdColor2 {
	color: rgb(190, 22, 0);
}
.rightContainer .rightSectionWrap .rightSection td {
	width: 33.33%;
	border: 1px solid black;
	border-spacing: 0;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionMid {
	margin-top: 3.5%;
	height: 9%;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionMid tr:nth-of-type(1) {
	background: #fe98a6;
	height: 55%;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionMid tr:nth-of-type(1) th:nth-of-type(2) {
	background: #ffb89a;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionMid tr:nth-of-type(1) th:nth-of-type(3) {
	background: #f5e397;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionMid tr:nth-of-type(2) {
	background: white;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionMid th {
	border: 1px solid black;
	border-spacing: 0;
}
.rightContainer .rightSectionWrap .rightSection .rightSectionBtm {
	margin-top: 4%;
	border: 1px solid black;
	width: 100%;
	height: 75.5%;
}

@media(max-width:1920px){
	html {
		font-family: 'notoM';
		overflow: hidden;
	}
	body {
		width: 100vw;
		height: 100vh;
	}
	.containerWrap {
		width: 100vw; 
		height: 100vh;
	}
	.leftContainer {
		height: 100vh !important;
		width: 80vw !important;
	}
	.bigMct {
		margin-top: 40px;
		width: 33.3%;
	}
	.detailMct {
		width: 16.55%;
		margin-left: 16.55%;
	}
	.rightContainer {
		width: 18.5vw;
		height: 100vh;
		padding: 10px;
	}
	.mctTitle {
		margin: 10px 20px 0px;
		font-size: 1.5rem;
	}
	.titleTag {
		width: 100px;
		height: 30px;
		font-size: 0.85rem;
		padding: 5px 10px;
		line-height: 20px;
		margin-top: 15px;
	}
	div[class^="contents0"] {
		margin:0 10px 5px;
		height: 42.5%;
		width: 100%;
	}
	.contents03 .contentsWrap {
		height: 100%;
	}
	.contents03 .infoWrap {
		height: 93%;
	}
	.infoWrap {
		padding: 3px;
		margin-top: 5px;
		height: 100%;
	}
	div[class^="mctInfo_"] {
		padding: 4px;
	}
	div[class^="mctInfo_"] .mctName {
		padding: 3px 5px;
		font-size: 10px;
	}
	.staffImg {
		width: 25px;
		height: 25px;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopLeft .mctStaffImg {
		top: 30%;
		transform: translate(-50%,-20%);
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopLeft .staffInfoWrap {
		top: 55%;
		transform: translate(-50%,-55%);
		font-size: 10px;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg {
		height: 70%;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .mctMapTime {
		font-size: 10px;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .pauseTime {
		font-size: 10px;
		width: 65%;
		height: 50%;
		z-index: 9;
		border: 1px solid black;
		padding-top: 1px;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapImg .mctProgressPercent {
		top: 60%;
		width: auto;
		font-size: 1rem;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoTopRight .mctMapBtmInfo {
		font-size: 10px;
		height: 30%;
		padding: 0;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm {
		margin-top: 5px;
		height: 43%;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm table {
		font-size: 10px;
	}
	div[class^="mctInfo_"] .mctInfoWrap .mctInfoBtm table th{
		font-weight: normal;
	}
	.rightContainer .rightBtnWrap {
		width: 100%;
		height: 7.5%;
	}
	.rightContainer .rightBtnWrap select {
		font-size: 1rem;
		width: 45%;
		height: 50%;
		padding-left: 5%;
	}
	.changeBtn {
		font-size: 1rem;
		padding: 5px 50px;
		height: 50%;
		line-height: 28px;
		margin-top: 20px;
		font-weight: bold;
	}
	.rightContainer .rightSectionWrap {
		margin-top: 0;
		padding: 10px;
		height: 91%;
	}
	.rightContainer .rightSectionWrap .rightSection table{
		height: 13%;
		font-size: 1rem;
	}
	.rightContainer .rightSectionWrap .rightSection .rightSectionTop th {
		font-size: 1.3rem;
	}
	.rightContainer .rightSectionWrap .rightSection .rightSectionMid {
		height: 9.5%;
	}
	.rightContainer .rightSectionWrap .rightSection .rightSectionMid tr:nth-of-type(1) {
		height: 50%;
	}
	.rightContainer .rightSectionWrap .rightSection .rightSectionBtm {
		height: 74%;
	}
	.popupBackground{
		height: 1080px !important;
		width: 1980px !important;
	}
	.popup {
		left: 40%;
		top: 40%;
		transform: translate(-40%,-40%);
	}
	.popup > h3 {
		font-size: 1.3rem;
	}
	.popHeadTopTable {
		width: 900px;
		font-size: 0.85rem;
		border: 1px solid #002060;
		border-collapse:separate;
	}
	.popHeadTopTable td {
		border: 1px solid #002060;
		border-collapse: collapse;
	}
	.tableTop > h4 {
		font-size: 1rem;
		bottom: 0px;
	}
	.popTable {
		font-size: 0.85rem;
		font-weight: bold;
	}
	.workStaffImg .staffImgWrap {
		width: 50px;
		height: 50px;
	}
	.tableScroll {
		height: 70px;
	}
	.popBtm {
		height: 65%;
		margin-bottom: 10px;
	}
	.popBtmRight .popHeadTopTable {
		width: 600px;
	}
	.popBtmLeft {
		height: 91.5%;
	}
	.mapImgWrap img {
		width: 731.34px;
		height: 420px;
	}
	.popBtmTable {
		height: 91.5%;
	}
	.mapDetailBtn, .detailCloseBtn {
		font-size: 1rem;
		height: 30px;
		width: 150px;
	}
}